@charset "utf-8";
/* CSS Document */


.dcv{
	display: table-cell; 
	vertical-align: middle;
    padding-top: 1.3%;
}

/*youtube*/
.video-container {
	position: relative;
	padding-bottom: 50%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*container section*/
.con-auto-700{
	width: 70%;
	margin: auto;
}
.con-auto-800{
	width: 90%;
	margin: auto;
}
.con-50{
	width: 50%;
	margin: auto;
}
.wd-tdc{
	width: 610px;
	margin: auto; 
}
.wd-tdl{
	padding-left: 30px;
	width: 610px;
	float: left;
}

.wd-tdr{
	padding-right: 30px;
	width: 610px;
	float: right;
}

.wd-500{
	width: 500px;
	float: right;
}
.wd-75{
	width: 75%;
	float: right;
}
.wd-60{
	width: 60%;
	float: left;
}
.wd-55{
	width: 55%;
	float: left;
}
.wd-50{
	width: 50%;
	float: left;
}
.wd-45{
	width: 45%;
	float: left;
}
.wd-40{
	width: 40%;
	float: left;
}

/*padding section*/
.no-pad{
	padding: 0px;
}
.no-pad-l{
	padding-left: 0px;
}
.no-pad-r{
	padding-right: 0px;
}
.pad-lr{
	padding: 0px 20px;
}
.pad-t{
	padding-top: 15px;
}

/*border section*/
.bor-l{
	border-left: solid 1px #777;
}

/*responsive section*/


@media screen and (max-width: 768px){
	.con-auto-700{
		width: 90% !important;
		margin: auto;
	}
	.con-auto-800{
		width: 90% !important;
		margin: auto;
	}
}