@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Syncopate-Regular';
    src: url('../../fonts/syncopate/Syncopate-Regular.ttf');
}
@font-face {
    font-family: 'Syncopate-Bold';
    src: url('../../fonts/syncopate/Syncopate-Bold.ttf');
}
.f-res{
	font-size: 1.4vw;
}

.f-Syncopate{
	font-family: 'Syncopate-Bold' !important;
}
.h1-orange{
	color: #FF9D0F;
	font-size: 36px;
}
.h2-orange{
	color: #FF9D0F;
	font-size: 30px;
}
.h3-orange{
	color: #FF9D0F;
	font-size: 24px;
}
.h4-orange{
	color: #FF9D0F;
	font-size: 18px;
}
.h5-orange{
	color: #FF9D0F;
	font-size: 14px;
}
.h1-blue{
	color: #5386c1;
	font-size: 36px;
}
.h2-blue{
	color: #5386c1;
	font-size: 30px;
}
.h3-blue{
	color: #5386c1;
	font-size: 24px;
}
.h5-blue{
	color: #5386c1;
	font-size: 14px;
}
.f-orange{
	font-family: 'Syncopate-Bold' !important;
	color: #FF9D0F;
}
.f-blue{
	font-family: 'Syncopate-Bold' !important;
	color: #5386c1;
}
.f-white-r{
	font-family: 'Syncopate-Regular' !important;
	color: #ffffff;
}
.f-white{
	font-family: 'Syncopate-Bold' !important;
	color: #ffffff;
}
.f-green{
	font-family: 'Syncopate-Bold' !important;
	color: #72bb4c;
}
.f-grn{
	color: #72bb4c;
}
.c-white{
	color: #ffffff;
}
.f-12{	
	font-size: 12px;
}
.f-14{	
	font-size: 14px;
}
.f-16{	
	font-size: 16px;
}
.f-18{	
	font-size: 18px;
}
.f-20{	
	font-size: 20px;
}
.f-22{	
	font-size: 22px;
}
.f-24{	
	font-size: 24px;
}
.f-26{	
	font-size: 26px;
}
.f-28{	
	font-size: 28px;
}
.f-30{	
	font-size: 30px;
}

.bg-blue{
	background-color: #5386c1;
}
.border-orange{
	border: 1px solid #FF9D0F;
}


@media screen and (width: 1024px) {	
	.f-res{
		font-size: 18px !important;
	}
}
@media screen and (max-width:1012px) {
	.t-r{
		font-size: 26px;
	}
}
@media screen and (max-width:847px) {	
	.border-orange{
		width: 98%;
		padding: 0px 0px !important;
		margin: auto;
	}
}

