body{
  margin: 0px;
  padding: 0px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
}

h1{
  margin: 2em 0px;
  padding: 0px;
  color: #fff;
  text-align: center;
  font-weight: 100;

}

nav{
  width: 100%;
  padding-top: 80px;
  /*margin: 1em auto;*/
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.dropdown{ 
  position: relative; 
  width: 100%; 
}

ul.dropdown li{
  float: left; 
  width: 125px;
  position: relative;

}

ul.dropdown li img{ 
  text-align: center;
}

ul.dropdown li .p{ 
  text-align: center;
  margin-top: 15px;
  /*background: #fff;*/
  padding-top: 4px;
  padding-bottom: 4px;
}

ul.dropdown a:hover{ 
  color: #fff; 
}

ul.dropdown li a { 
  display: block; 
  padding: 0px;
  color: #fff; 
  position: relative; 
  z-index: 2000; 
  text-align: center;
  text-decoration: none;
  font-weight: 0;
}

ul.dropdown li a:hover,
ul.dropdown li a.hover{ 
  position: relative;
  color: #fff; 
}


ul.dropdown ul{ 
 display: none;
 position: absolute; 
  top: 0; 
  left: 0; 
  width: 180px; 
  z-index: 1000; 
  border: 0px;
}

ul.dropdown ul li { 

  width: 225px; 
  margin-left: -40px;
  font-weight: normal;  
  color: #000; 
  border: 0px;
}

ul.dropdown ul li a{  
  padding-left: 15px;
  padding-bottom: 13px;
  text-align: left;
  display: block; 
  color: #fff !important;
  background: rgba(114, 187, 76, 0.9) !important; 
} 

ul.dropdown ul li a:hover{ 
  text-align: left;
  display: block; 
  color: #fff!important; 
} 

.drop > a{
  position: relative;
}

.drop > a:after{

}

.drop > a:hover:after{

}

.selects{
  
}
.menu-size{
width: 44px;
}


* { margin: 0; padding: 0; } /* Reset stuff */


ul#awesome-menu {
  width: 517px; height: 150px; auto;
  list-style: none;
}

ul#awesome-menu li { display: inline; }
  
ul#awesome-menu li a {
  display: block; float: left; height: 74px;
  background-image: url(/images/template_images/haha.png); text-indent: -9999px;
}

  ul#awesome-menu li a.ninja {
    width: 96px; background-position: 0 0;  
  }
  
  ul#awesome-menu li a.zombie {
    width: 108px; background-position: -96px 0; 
  }
  
  ul#awesome-menu li a.robot {
    width: 97px; background-position: -204px 0; 
  }
  
  ul#awesome-menu li a.assassin {
    width: 121px; background-position: -301px 0;  
  }
  
  ul#awesome-menu li a.jedi {
    width: 94px; background-position: -413px 0; 
  }
  
  
  ul#awesome-menu li a.ninja:hover, ul#awesome-menu li a.ninja:focus {
    background-position: 0 -74px; 
  }
  
  ul#awesome-menu li a.zombie:hover, ul#awesome-menu li a.zombie:focus {
    background-position: -96px -74px; 
  }
  
  ul#awesome-menu li a.robot:hover, ul#awesome-menu li a.robot:focus {
    background-position: -204px -74px;  
  }
  
  ul#awesome-menu li a.assassin:hover, ul#awesome-menu li a.assassin:focus {
    background-position: -301px -74px;  
  }
  
  ul#awesome-menu li a.jedi:hover, ul#awesome-menu li a.jedi:focus {
    background-position: -413px -74px;  
  }
  

a { outline: none; }