
#facebookicon,
#twittericon,
#linkedinicon  {
   visibility: visible;
   position: absolute;
   top: 2268px;
   z-index: 2;
   width: 44px;
   height: 44px;
   background-repeat: no-repeat;
}
/*MENU CSS*/


a{text-decoration: none;}
#main_menu{ 
   margin: auto;
   margin-top: 62px;
   z-index: 100;
   width: 915px;
   height: 100px;

}

#eco_logo  {
   background: url(images/eco_logo.png) no-repeat;
   position: relative;   
   margin-top: 10px;
   float: left;
   z-index:100;
   width: 188px;
   height: 103px;
}

#dropdown_menu{
   position: relative;
   margin-top: 13px;
   margin-left: 30px;
   float: left;
   z-index:100;
   width: 188px;
   height: 103px;
}

#menu_text_bg {
   background-color: #5386c1;
   visibility: visible;
   position: relative;
   top: 15px;
   margin: auto;
   z-index: 6;
   width: 100%;
   height: 26px;
}



/*end of MENU CSS*/

#interior_image_main  {
   visibility: visible;
   position: relative;
   margin: auto;   
   top: 15px;
   left: 0px;
   z-index: 3;
   width: 1440px;
   height: 316px;
}


#interior_main_training  {
   position: relative;
   margin-left: 260px;  
   margin-top: -310px;
   z-index: 4;
   width: 492px;
   height: 204px;
}

#icon_donate  {

   position: relative;
   width: 418px;
   height: 43px;
   margin: auto;
   top: 15px;
   z-index: 10;


}

#donate_bgcolor  {
   background-color: #efa945;   
   visibility: visible;
   position: relative;
   margin: auto;   
   top: 15px;
   width: 100%;
   height: 73px;
   z-index: 2;
}

#mindbodytrainingimage,
#mindfulnesstrainingimage  {
   visibility: visible;
   position: absolute;
   left: 261px;
   z-index: 2;
   width: 104px;
   height: 104px;
   background-repeat: no-repeat;
}



#newsletter_submit_btn  {
   background: url(images/icon_submit.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 1075px;
   top: 2207px;
   z-index: 2;
   width: 100px;
   height: 38px;
}

#signupfornewsletter  {
   font-family: arial;
   font-size: 20px;
   color: #5386c1;
   position: absolute;
   left: 262px;
   top: 2200px;
   z-index: 2;
   width: 278px;
   height: 16px;
}


#id20sliderrightarrow  {
   background-image: url(earthcitizenswebmedia/id20sliderrightarrow.png);
   left: 1199px;
}

#id21sliderleftarrow  {
   background-image: url(earthcitizenswebmedia/id21sliderleftarrow.png);
   left: 205px;
}

#emailinputbox  {}

#signup_newslater_txtbox {
   position: absolute;
   left: 561px;
   top: 2207px;
   z-index: 2;
   width: 472px;
   height: 37px;
}

#curriculum  {
   font-family: arial;
   font-size: 40px;
   display: block;
   position: absolute;
   left: 263px;
   top: 658px;
   z-index: 2;
   width: 234px;
   height: 27px;
}

#earthcitizentrainingisforbecomingthebestyoutodothat  {
   font-family: arial;
   font-size: 12px;
   display: block;
   position: absolute;   
   left: 261px;
   top: 721px;
   z-index: 2;
   width: 596px;
   height: 147px;
}

#awakening  {
   font-family: arial;
   font-size: 35px;
   display: block;
   position: absolute;
   left: 261px;
   top: 870px;
   z-index: 2;
   width: 217px;
   height: 27px;
}

#rightcolumnimage  {
   background: url(images/yoga.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 901px;
   top: 659px;
   z-index: 2;
   width: 276px;
   height: 276px;
   	-moz-border-radius: 140px;
	-webkit-border-radius: 140px;
	border-radius: 140px;
}

#physicaltrainingimage  {
   background: url(images/physicaltraining_img.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 261px;
   top: 971px;
   z-index: 2;
   width: 105px;
   height: 104px;
    -moz-border-radius: 140px;
	-webkit-border-radius: 140px;
	border-radius: 140px;
}

#mindfulnesstrainingimage  {
   background-image: url(images/mindfulnesstraining_img.png);
   top: 1118px;
    -moz-border-radius: 140px;
	-webkit-border-radius: 140px;
	border-radius: 140px;
}

#mindbodytrainingimage  {
   background-image: url(images/mindbodyenergytraining_img.png);
   top: 1295px;
   	-moz-border-radius: 140px;
	-webkit-border-radius: 140px;
	border-radius: 140px;
}

#physicaltrainingtext  {
   font-family: arial;
   font-size: 11.5px;
   display: block;
   position: absolute;
   left: 390px;
   top: 971px;
   z-index: 2;
   width: 440px;
   height: 108px;
}

#mindfullnesstrainingtext  {
   font-family: arial;
   font-size: 11.5px;
   display: block;
   position: absolute;
   left: 390px;
   top: 1118px;
   z-index: 2;
   width: 466px;
   height: 140px;
}

#mindbodytrainingtext  {
   font-family: arial;
   font-size: 11.5px;
   display: block;
   position: absolute;
   left: 390px;
   top: 1294px;
   z-index: 2;
   width: 459px;
   height: 140px;
}

#action  {
   font-family: arial;
   font-size: 35px;
   display: block;
   position: absolute;
   left: 261px;
   top: 1435px;
   z-index: 2;
   width: 136px;
   height: 27px;
}


#volunteering  {
   font-family: arial;
   font-size: 11.5px;
   display: block;
   position: absolute;
   left: 261px;
   top: 1518px;
   z-index: 2;
   width: 597px;
   height: 76px;
}

#farming  {
   font-family: arial;
   font-size: 11.5px;
   display: block;
   position: absolute;
   left: 262px;
   top: 1615px;
   z-index: 2;
   width: 594px;
   height: 76px;
}

#practiceskills  {
   font-family: arial;
   font-size: 11.5px;
   display: block;
   position: absolute;
   left: 262px;
   top: 1714px;
   z-index: 2;
   width: 594px;
   height: 100px;
}

#subnavbackground  {
   background: url(earthcitizenswebmedia/subnavbackground.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 612px;
   top: 188px;
   z-index: 5;
   width: 225px;
   height: 271px;
}




#carousel_bg  {
   background-color: #5386c1;
   visibility: visible;
   position: absolute;
   margin: auto;
   left: 0px;
   top: 1886px;
   z-index: 2;
   width: 100%;
   height: 279px;
}

#background  {
   margin: 0px auto 0px auto;
   visibility: visible;
   height: 2880px;
   width: 100%px;
   position: relative;
}

html, body  {
   padding: 0px;
   margin: 0px;
   background-color: #FFFFFF;
}

#footerbarright,
#footerbarleft  {
   visibility: visible;
   position: absolute;
   top: 2290px;
   z-index: 2;
   width: 362px;
   height: 2px;
   background-repeat: no-repeat;
}
#footerbarleft  {
   background-color: #5386c1;
   left: 261px;
}

#footerbarright  {
   background-color: #5386c1;
   left: 816px;
}

#facebookicon  {
   background-image: url(images/icon_facebook.png);
   left: 645px;
}

#twittericon  {
   background-image: url(images/icon_twitter.png);
   left: 698px;
}

#linkedinicon  {
   background-image: url(images/icon_link_in.png);
   left: 751px;
}