@charset "utf-8";
/* CSS Document */


.orangebtns {
	color: #fff;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}
.orangebtns a {
	color: #fff;
	background: #FF9D0F;
	font-size: 200%;
	font-family: 'Raleway', sans-serif;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	/*border: 2px solid #fff;*/
	/*border-radius: 10px;*/
	padding: 30px 40px;
}
.cntnttitle-copy {
	font-size: 5vw;
	/*margin-left: 178px;*/
}
.wie-img {
	background-size: cover;
	background-position: center;
	width: 382px;
	height: 382px;
	border-radius: 500px;
	margin: 0 auto;
	margin-top: 38px;
}
.sw-circle-img {
	background-size: cover;
	background-position: center;
	width: 230px;
	height: 230px;
	border-radius: 500px;
	margin: 0 auto;
	margin-top: 38px;
}
p.titleC{
	font-size: 1.4vw;
	text-align: center;
	padding-top: 10px;
	margin-bottom: -36px;
}
p.titleCwhite{
	font-size: 1.4vw;
	text-align: center;
	padding-top: 10px;
	margin-bottom: -36px;
}
.cdesc{
	font-size: 1vw;
}
img.invertdwn2{
	width: 95px;
}
.carousel-inner {
    height: 600px;
}
.carousel, .item, .active2 {
    height: 600px;
}

.latest-blog-img{
	/*width: 100%;*/
	height: 680px;
	background-size: cover;
	background-position: center center;
	position: relative;
    /*text-align: center;*/
}
.feat-news-img{
	/*width: 100%;*/
	height: 465px;
	background-size: cover;
	background-position: center center;
	position: relative;
    /*text-align: center;*/
}
.featphar{
	padding-top: 8px;
	font-size: 0.9vw;
	color: #777;
}
.h4-blue{
	color: #5386c1;
	font-size: 1vw;
}

img.icre{
	    width: 40%;
}
@media screen and (max-width: 1940px) {

	.orangebtns{
		color:#fff;
		margin-top:2% !important;
		margin-bottom:2% !important;
		text-align: center;
	}
	.orangebtns a:hover{
		background-color:rgba(255, 157, 15, 0.7);
	}
	.orangebtns a{
		color:#fff;
		background:#FF9D0F;
		font-size: 180%;
		font-family: 'Raleway', sans-serif;
		text-align: center;
		text-decoration:none;
		/*border:2px solid #fff;*/
		/*border-radius:10px;*/
		padding: 20px 30px;
	}
	.cntnttitle-copy{
		font-size: 80px;
		/*margin-left: 178px;*/
	}
	.wie-img {
		width:312px;
		height:312px;
	}
	p.titleC{
		font-size: 30px;
		text-align: center;
		padding-top: 10px;
		margin-bottom: -36px;
	}
	p.titleCwhite{
		font-size: 30px;
		text-align: center;
		padding-top: 10px;
		margin-bottom: -36px;
	}
	.cdesc {
    font-size: 26px;
	}

	img.invertdwn2{
		width: 70px;
	}
	.carousel-inner {
		height: 450px;
	}
	.carousel, .item, .active2 {
		height: 450px;
	}
	.BGFF9D0F{
		height: 490px;
	}
	.BG65AAD9{
		height: 490px;
	}
	.latest-blog-img{
		/*width: 100%;*/
		height: 480px;
		background-size: cover;
		background-position: center center;
		position: relative;
		/*text-align: center;*/
	}
	.feat-news-img{
		/*width: 100%;*/
		height: 365px;
		background-size: cover;
		background-position: center center;
		position: relative;
		/*text-align: center;*/
	}
	.featphar{
		padding-top: 8px;
		font-size: 16px;
		color: #777;
	}
	.h4-blue{
		color: #5386c1;
		font-size: 20px;
	}
	h5{
		font-size: 27px;
		color: #5386c1 !important;
		line-height:30px;
		padding-top: 0px;
	}
	.metrobox{
		font-size: 30px;
	}
	.countfont{
		font-size: 32px;
	}
	.countdesc{
		font-size: 20px;
	}

	.icdesc1{
		font-size: 20px;
		color: orange;
		font-weight: bold;
	}
	.icdesc2{
		font-size: 20px;
		color: #65AAD9;
		font-weight: bold;
	}
	.icdesc3{
		font-size: 20px;
	}

}
@media screen and (max-width: 1640px) {
	
	.video-container {
		position: relative;
		padding-bottom: 50%;
		padding-top: 30px; height: 0; overflow: hidden;
	}

	.orangebtns{
		color:#fff;
		margin-top:2% !important;
		margin-bottom:2% !important;
		text-align: center;
	}
	.orangebtns a:hover{
		background-color:rgba(255, 157, 15, 0.7);
	}
	.orangebtns a{
		color:#fff;
		background:#FF9D0F;
		font-size: 150%;
		font-family: 'Raleway', sans-serif;
		text-align: center;
		text-decoration:none;
		/*border:2px solid #fff;*/
		/*border-radius:10px;*/
		padding: 10px 20px;
	}
	.cntnttitle-copy{
		font-size: 80px;
		/*margin-left: 178px;*/
	}
	.wie-img {
		width:212px;
		height:212px;
	}
	p.titleC{
		font-size: 16px;
		text-align: center;
		padding-top: 10px;
		margin-bottom: -36px;
	}
	p.titleCwhite{
		font-size: 20px;
		text-align: center;
		padding-top: 10px;
		margin-bottom: -36px;
	}
	.cdesc {
		font-size: 14px;
		text-align: center;
	}

	img.invertdwn2{
		width: 70px;
	}
	.carousel-inner {
		height: 450px;
	}
	.carousel, .item, .active2 {
		height: 450px;
	}
	.BGFF9D0F{
		height: 423px;
	}
	.BG65AAD9{
		height: 423px;
	}
	.latest-blog-img{
		/*width: 100%;*/
		height: 380px;
		background-size: cover;
		background-position: center center;
		position: relative;
		/*text-align: center;*/
	}
	.feat-news-img{
		/*width: 100%;*/
		height: 250px;
		background-size: cover;
		background-position: center center;
		position: relative;
		/*text-align: center;*/
	}
	.featphar{
		padding-top: 8px;
		font-size: 14px;
		color: #777;
	}
	.h4-blue{
		color: #5386c1;
		font-size: 18px;
	}
	h5{
		font-size: 25px;
		color: #5386c1 !important;
		line-height:30px;
		padding-top: 0px;
	}
	.metrobox{
		font-size: 22px;
	}
	.countfont{
		font-size: 25px;
	}
	.countdesc{
		font-size: 14px;
	}

	.icdesc1{
		font-size: 14px;
		color: orange;
		font-weight: bold;
	}
	.icdesc2{
		font-size: 14px;
		color: #65AAD9;
		font-weight: bold;
	}
	.icdesc3{
		font-size: 14px;
	}
	.featphar{
		padding-top: 8px;
		font-size: 14px;
		color: #777;
	}
	.h4-blue{
		color: #5386c1;
		font-size: 18px;
	}
	h5{
		font-size: 25px;
		color: #5386c1 !important;
		line-height:30px;
		padding-top: 0px;
	}

}
@media screen and (max-width: 1162px) {
	.sw-circle-img {
		width:180px;
		height:180px;

	}
}
/*iPad Landscape*/
@media screen and (width: 1024px) {
	.top-featured-desc{
		padding-right: 15px;
		padding-left: 15px;
	}
	.orangebtns a{
		font-size: 120%;
	}
	.latest-blog-img{
		height: 260px;
		background-size: cover;
		background-position: center center;
		position: relative;
	}
	.feat-news-img {
		height: 170px;
		background-size: cover;
		background-position: center center;
		position: relative;
	}
	.top-featured-desc{
		padding-top:30px; 
	}
	.wie-img {
		width: 130px;
		height: 130px;
	}
	img.invertdwn2{
		width: 45px;
	}
	.f-res{
		font-size: 18px !important;
	}
}

@media screen and (max-width: 930px) {
	.wie-img{
		width:150px;
		height:150px;

	}
}
@media screen and (max-width: 780px) {
	.cntnttitle-copy {
		font-size: 60px;
		margin-left: 0px !important;
	}
}
/*iPad Portrait*/
@media only and (width: 768px) and (height: 1024px) {
	
	.cntnttitle-copy {
		font-size: 60px;
		margin-left: 0px !important;
	}
	img.invertdwn2{
		width: 45px;
	}
}
@media screen and (max-width: 768px) {
	
	.cntnttitle-copy {
		font-size: 60px;
		margin-left: 0px !important;
	}
	img.invertdwn2{
		width: 45px;
	}
	.f-res{
		font-size: 18px;
	}
}

/*other sizes*/

@media screen and (max-width: 767px){
	
	.cntnttitle-copy {
		font-size: 60px;
		margin-left: 0px !important;
	}
	.latest-blog-img{
		height: 260px;
		background-size: cover;
		background-position: center center;
		position: relative;
	}
	.feat-news-img {
		height: 170px;
		background-size: cover;
		background-position: center center;
		position: relative;
	}
	.top-featured-desc{
		padding-left: 0px 10px 0px 10px;
	}
	.wie-img {
		width: 130px;
		height: 130px;
	}
	img.invertdwn2{
		width: 45px;
	}
	.BGFF9D0F{
		/*background-color:#FF9900;*/
		/*margin-bottom: -500px;*/
		/*padding-bottom: 500px;*/
	}
	.BG65AAD9{
		/*background-color: #65AAD9;*/
		/*margin-bottom: -500px;*/
		/*padding-bottom: 544px;*/
	}
	.cdesc {
    font-size: 12px;
	}
}
