@charset "utf-8";
/* CSS Document */

html, body  {
	padding: 0px;
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
	color: #777;
	font-size: 16px;
}
.user-account{
	float: left; 
	margin-left:27%;
}

.ph select option[default] {
    color: #333;
}
/* Hidden placeholder */
.ph select option[disabled]:first-child {
	display: none;
}

.no-dec:hover{
	text-decoration: none !important;
}
.yellow-button-slim  {
	text-align: center;
	z-index: 9999 !important;
}

.yellow-button-slim a:hover{
	color:#fff;
	background:#FF9D0F;
	z-index: 9999 !important;
}
.yellow-button-slim  a{
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	line-height: 18px;
	background-color:rgba(255, 157, 15, 0.7);
	color: #fff;
	text-align: center;
	text-decoration:none;
	padding:12px 20px;
	border:2px solid #fff;
	border-radius:40px;
}
.yellow-button-sre {
	background-color:rgba(255, 157, 15, 0.7);
	text-align: center;
	text-decoration:none;
	padding:7px 5px;
	border:2px solid #fff;
	border-radius:10px;
	text-align: center;
	z-index: 9999 !important;
}
.yellow-button-sre:hover{
	color:#fff;
	background:#FF9D0F;
	z-index: 9999 !important;
}

.yellow-button-sre a:hover{
	text-decoration:none;
	color: #fff;
}
.yellow-button-sre  a{
	color: #fff;
}
.hnv{
	height:200px;
}
.hnv-title{
	/*white-space: nowrap;*/
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}
.video-preview{
	width: 100%;
}
ul.sidebar li {
    list-style: circle;
}
ul.sidebar{
    padding: 10px 0px 0px 20px;
}
img.thumb-size{
	margin-top: 30px;
	margin: auto;
	width: 50%;
}
.h4-title {
    font-size: 25px;
    text-align: left;
    color: #72bb4c !important;
}
.vidoe-width{
	width: 95.61%;
	margin: auto;
	text-align: center;
}
.likesviews{
	float:right;
	text-align: -webkit-right;
	text-align: right;
}
.video-thumb-preview{
	width: 80%;
}
.vidoe-play-ml {
	width: 459px;
	text-align: center;
	z-index: 5;
	position: inherit;
	height: 258px;
	background-repeat: no-repeat;
	background-position: center center;
}
img.video-icon{
	width: 50px;
}
.pointer-wrap{
	cursor: pointer;
}
.video-browse-img-wrap {
    margin: 20px 0px;
    padding: 20px;
}
.video-border-dash {
    border-style: dashed !important;
    border: 1px;
}
.box-rounded-edge{
	width: 90%;
    margin-top: 20px !important;
    margin-bottom: 40px !important;
    padding: 40px;
    border: solid 1px;
    border-radius: 30px;
}
.text-big,.club-text-big {
    font-size: 100px;
    text-shadow: 0 1px 0 #dee5e7, 0 2px 0 #fcfdfd, 0 5px 10px rgba(0,0,0,0.125), 0 10px 20px rgba(0,0,0,0.2);
}
.eco-wrapper{
	padding: 20px 0px;
}

.pages-404{
    border: 2px dashed;
	padding: 20px 0px;
    width: 80% !important;
    margin: auto;
    text-align: center;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.btn-user-panel{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.user-panel{
    z-index: 1010;
    background-color: #ffffff;
}
span.agent-caret{
    padding-bottom: 0px !important;
    float: none !important;
}
.show-name{
	display: none;
}

.kuntingspace{
	padding-top: 5px;
}
.green-font{
	font-size: 35px;
	text-align: right;
	color: #72bb4c !important;
}

/* tags font */
.tagfont {
	line-height: 1;
}
.tagfont1 {
	font-size: 15px;
}
.tagfont2 {
	font-size: 22px;
}
.tagfont3 {
	font-size: 14px;
}
.tagfont4 {
	font-size: 25px;
}
.tagfont5 {
	font-size: 18px;
}
.tagsL {
	width: 100%;
	/*padding-left: 15px;*/
}
.tagsL a{
	float: none;
}

/*Slider CSS*/

.slider-caption {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    color: #fff;
    /*text-shadow: 0 1px 2px rgba(0,0,0,.6);*/
    text-shadow: none !important;
	height: 100%;
    width: 500px;
}

.slidedescoverlay2 {
	background-color: rgba(2, 134, 62, 0.9);
	padding: 25px 100px 25px 35px;
	/*border-radius: 25px;*/
	width: 100%;
	height: 100%;
    text-align: center center;
	display:inline-block;
	text-align: left;
}

.fuller {
     padding-right: 0px;
}
.carousel-control , .right{
	z-index: 95 !important;
}


a { text-decoration: none; color: #337ab7;}
a:hover { text-decoration: underline; color: #337ab7;}
.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.donitnaw {
	font-size: 18px;
}
/*skdslider*/
.demo-code{
	background-color:#ffffff;
	/*border:1px solid #333333; */
	display:block;
	/*padding:10px;*/
}
.carousel-control .icon-prev, .carousel-control .icon-next {
	width: 30px;
	height: 30px;
	margin-top: -50px;
	font-size: 80px;
}
.option-table td{
	/*border-bottom:1px solid #eeeeee;*/
}
/*NEWS CSS*/

.word-wrap{
	word-wrap: break-word;
}

hr{
	border-top: 1px solid #ABA3A3;
}
.margin-top0{
	margin-top: 0px;
}
.vid iframe{
	width: 90%;
	margin:auto;
	text-align: center;
}
iframe{
	width: 100%;
	height: 400px;
	margin:auto;
	text-align: center;
}

img.thumbnails{
	height: 150px;
	width: 150px;
}

img.thumbvid{


}

.news-thumb-container{

}

.thumbvid{
	background: url(/images/template_images/yt.png) no-repeat;
	background-position: center;
	background-size: 20%;

}
.news-view-thumbnail{
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 400px;
}
.news-view-thumbnail:hover{
	opacity: 0.7;
}

img.news-tumb-view{
	position: relative;
	width: 100%;
	/*z-index: -2;*/
	/*border: solid 1px #A9A8A8;*/
}

img.news-tumb-view:hover{
	opacity: 0.7;
}

img.news-tumb{
	position: relative;
	width: 100%;
	z-index: -2;
	/*border: solid 1px #A9A8A8;*/
}
img.newsfeaturedimage{
	max-width: 100%;
}
h4.blog-title-list{
	border-top: 2px solid #D0D0D0;
	margin-top:15px;
}
h5.blog-title-list{
	border-top: 2px solid #D0D0D0;
	margin-top:15px;
	padding-left:15px;
}
img.newsthumbnail{
	width: 100%;
	border-radius: 100%;

}
.size12{
	font-size: 12px;
}
.size13{
	font-size: 13px;
}
.size14{
	font-size: 14px;
}


img.author-img{
	width: 100%;
	border-radius: 100%;
}

img.author-img2{
	width: 200px;
	border-radius: 100%;
}
.no-padding{
	padding-left: 0px;
	padding-right: 0px;
}


.date{
	font-size:12px;
	color: #777;
	text-align: left;
	margin:0 auto;
	padding-bottom:0px;

}

.float-left{
	float: left;
}
.margin-left{
	margin-left: 30px;
}
.datebox {
  padding: 5px 5px 5px 5px;
  text-align: center;
  background-color: #eee;
  margin-top: 2px;
  float: right;
}
.boxdate2{
	display: none;
}
/*END NEWS CSS*/
/*USON*/
.videoyb{
	margin: auto;
	width:640px;
	height:360px;
	margin-bottom: 30px;
}

.overlaywhite {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 15px;
	border-radius: 25px;
	width: 750px;
	display: inline-block;
	text-align: left;
}


.overlaywhite-green {
	background-color: rgba(2, 134, 62, 0.9);
	padding: 15px;
	border-radius: 25px;
	width: 500px;
	height: 100%;
	display: inline-block;
	text-align: left;
	position: absolute;
	right: 0px;
}

.overlaywhite-green .mtitle2 {
	font-size: 45px;
	font-weight: 400;
	font-family: "Raleway",sans-serif;
	line-height: 120%;
}

.overlaywhite-green .mbody2 {
	font-size: 20px;
}

.overlaywhite .mtitle {
	font-size: 45px;
	font-weight: 400;
	font-family: "Raleway",sans-serif;
	line-height: 120%;
}

.overlaywhite .mbody {
	font-size: 20px;
}

.overlaywhite2 .mtitle2 {
	font-size: 45px;
	font-weight: 400;
	font-family: "Raleway",sans-serif;
	line-height: 120%;
}

.overlaywhite2 .mbody2 {
	font-size: 20px;
}

.banner-main-page {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 350px;
	position: relative;
	text-align: center;
	/*padding-top:50px;	*/
}
img.icare-icon{
	width: 100%;
}

.iCare-img-bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	width: 100%;
	/*padding-top:50px;	*/
}
.banner-iCare-page {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	/*float: left;*/
	height: 260px;
	position: relative;
	text-align: center;
	/*padding-top:50px;	*/
}
.banner-iCare-page a{
	position: absolute;
    width: 100%;
    left: 0;
    bottom: 15px;
    text-align: center;
}

.banner-iCare-page img {
	width: 60%;
	margin: auto;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.banner-our-activities {
	background: url(/images/template_images/ouractivities.png) no-repeat center;
	width: 100%;
	height: 350px;
	background-size: cover;
	padding-top: 70px;
	position: relative;
}

.banner-our-programs {
	background: url(/images/template_images/our-programs.jpg) no-repeat center;
	width: 100%;
	height: 350px;
	background-size: cover;
	padding-top: 70px;
	position: relative;
}

.banner-support-us {
	background: url(/images/template_images/serve-banner.jpg)  no-repeat center;
	width: 100%;
	height: 350px;
	background-size: cover;
	padding-top: 70px;
	position: relative;
}

.banner-store {
	background: url(/images/template_images/eco_shop_banner.jpg)  no-repeat center;
	width: 100%;
	height: 350px;
	background-size: cover;
	padding-top: 70px;
	position: relative;
}

.banner-donate {
	background: url(/images/template_images/supportus.png)  no-repeat center;
	width: 100%;
	height: 350px;
	background-size: cover;
	padding-top: 70px;
	position: relative;
}

.banner4 {
	background: url(/images/template_images/banner5.jpg) -0px;
	width: 100%;
	height: 442px;
	background-size: cover;
	padding-top: 70px;
}
.mini-eco-logo{
	width: 60px;
	background-size: cover;
}

.shop-banner-content-wrapper {
    background-color: rgba(255,255,255, 0.5);
    top: 15%;
    right: 18%;
    padding: 15px 15px 15px 15px;
    position: absolute;
    border-radius: 25px;
    width: 400px;
    display: inline-block;
}
.shop-mtitle {
    color: #000;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    line-height: 100%;
}
.shop-mbody {
    color: #000;
    font-size: 18px;
}

/*H titles*/
.authorname{
	font-size:30px;
	color:#5386c1 !important;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	line-height:30px;
	padding-top: 50px;
	margin:0px;
}
.authorname2{
	font-size:20px;
	color:#5386c1 !important;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	line-height:120%;
	padding-top: 50px;
	margin:0px;
}
h1{
	font-size:36px;
	color:#5386c1 !important;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	line-height:30px;
	padding-top: 20px;
	margin:0px;

	background-image:url(/images/template_images/headingbg.png);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;
	background-position:bottom;
	padding-bottom:24px;
	margin-bottom:30px;
}
h2{
	background-image:url(/images/template_images/blogbg.png);
	font-size: 20px;
	text-align:center;
	color: #72bb4c !important;
	background-position:bottom center;
	background-repeat:no-repeat;
	padding-bottom:10px;
	margin-bottom:30px;
}

h3{
	font-size: 20px;
	text-align:center;
	color: #72bb4c !important;
}


h4{
	font-size: 20px;
	text-align:left;
	color: #72bb4c !important;
}

h5{
	font-size: 2vw;
	color: #5386c1 !important;
	/*line-height:30px;*/
	padding-top: 0px;
}

p{
	color: #777;
	/*text-align: justify;*/
	margin: 0px auto;
	padding-bottom: 30px;
}
.sucess-bg {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.error-bg {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.label-fr {
  font-weight: normal;
  font-size: 14px
}
.banner-title {
	font-size:60px;
	font-weight: 100;
	color: #FFF;
	padding-top: 74px;
}
.banner-define {
	font-size:18px;
	color:#FFF;
}

.banner-content-wrapper{
	background-color: rgba(255,255,255, 0.5);
	top: 10%;
	right: 5%;
	padding: 25px 35px 25px 35px;
	position: absolute;
	border-radius: 25px;
	width: 600px;
	display:inline-block;
}

.banner-content-wrapper-green{
	/*background-color: rgba(2, 134, 62, 0.6);*/
	background-color: rgba(114, 187, 76, 0.7);
	top: 0px;
	right: 0px;
	padding: 25px 35px 25px 35px;
	position: absolute;
	/*border-radius: 25px;*/
	width: 400px;
	height: 100%;
	display:inline-block;
}
.club-wrapper{
	top: 0px;
	right: 0px;
	padding: 25px 35px 25px 35px;
	position: absolute;
	background-size: cover;
	background-position-y: 3%;
	width: 100%;
	height: 90px;
	display:inline-block;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
}

.banner-content-wrapper-pages{
	/*text-align: center;*/
	background-color: rgba(255,255,255, 0.5);
	position: relative;
	width: 50%;
	/*display:inline-block;*/
	margin:auto;
	/*margin-top: 50px;*/
	/*top: 10%;*/
	/*left: 35%;*/
	padding: 25px 35px 25px 35px;
	border-radius: 25px;
}

.banner-content-wrapper2{
	background-color: rgba(255,255,255, 0.5);
	margin-top:-25px;
	padding: 15px 15px 15px 15px;
	border-radius: 25px;
	display:inline-block;
}

.donate {
	width: 40%;
	margin: auto;
}
.donate_icon {
	width: 100%;
	margin: auto;
}

.donate_bgcolor  {
	background-color: #efa945;
	visibility: visible;
	position: relative;
	margin: auto;
	width: 100%;
	padding: 15px;
	z-index: 2;
}

.eco-upper-content h1 {
	color: #45413e !important;
	margin: 0px;
	padding: 68px 0px 36px 0px;
	text-align: left;
}

.eco-upper-content {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	padding: 0px 0px 36px 15px;
	display: block;
	z-index: 2;
}
.eco-thumbnail {
	float: left;
	width: 125px;
	height: 125px;
	padding: 20px 0px 20px 0px;

}

.eco-thumbnail img {

	width: 125px;
	border-radius: 100%;
}

.eco-p{
	width: 467px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	float: left;
	margin: 0px 0px 0px 26px;
	padding: 0px 0px 0px 0px;
	z-index: 2;
}

.eco-p-lower {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	float: left;
	margin: 0px 0px 0px px;
	padding: 0px 0px 0px 0px;
	z-index: 2;
}

.eco-p p{
	margin: 0px 0px 12px 0px;

}

.h3 {
	padding: 0px 0px 17px 0px;
	margin: 0px;
	text-align: left;
	color:#72bb4c;
	font-size: 26.6px;
}

.eco-p-lower h3 {
	text-align: left;
	color:#72bb4c;
	font-size: 26.6px;
	margin: 0px 0px 0px 0px ;
	padding: 20px 0px 15px 0px;
}


.boxes {
	padding: 0px 0px 0px 15px;
	width: 100%;
	float:left;
}
#rightcolumn{
	padding: 0px 0px 0px 0px;
}
#rightcolumnimage img {

	width: 300px;
	border-radius: 100%;
}

#rightcolumnimage  {
	padding: 80px 0px 0px 0px;
	margin: auto !important;
	visibility: visible;
	position: relative;
	z-index: 2;
	text-align: center;
}


#action h1,
#awakening h1 {
	color: #45413e !important;
	padding: 0px 0px 0px 15px;
	text-align: left;
	margin: 0px;
}

#action  {
	font-family: 'Noto Sans', sans-serif;
	font-size: 35px;
	padding: 38px 0px 7px 0px;
	display: block;
	z-index: 2;
}

#awakening  {
	font-family: 'Noto Sans', sans-serif;
	font-size: 35px;
	padding: 0px 0px 0px 0px;
	display: block;
	z-index: 2;
}

#mindbodytrainingimage img,
#mindfulnesstrainingimage img,
#physicaltrainingimage img {
	width: 107px;
	border-radius: 100%;
}

#mindbodytrainingimage,
#mindfulnesstrainingimage,
#physicaltrainingimage  {
	padding: 10px 0px 30px 0px;
	visibility: visible;
	position: relative;
	z-index: 2;
}

#practiceskills h1,
#farming h1,
#volunteering h1,
#mindbodytrainingtext h1,
#mindfullnesstrainingtext h1,
#physicaltrainingtext h1 {
	padding: 0px 0px 17px 0px;
	margin: 0px;
	text-align: left;
}

#practiceskills,
#farming,
#volunteering,
#mindbodytrainingtext,
#mindfullnesstrainingtext,
#physicaltrainingtext  {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	padding: 0px 0px 0px 40px;
	display: block;
	z-index: 2;
}


#carousel_bg  {
	background-color: #5386c1;
	visibility: visible;
	position: relative;
	margin: auto;
	width: 100%;
	height: 282px;
}
.btn {
	text-align: left;
}

.caret {
	padding-bottom: 20px !important;
	float: right;

}
.mobileMenu2{
	width: 100% !important;
}
.footer-bg{
	width: 100%;
	background-color: #5386c1;
	padding-top: 20px;
}
.p {
	font-size: 15px;

}
.mob-user-section {
	position: absolute;
	/*background: #5386c1;*/
	/*width: 100%;*/
	height: 50px;
	padding: 15px;
	right: 50px;
	/*z-index: 1010;*/
  	/*border-bottom: 1px solid #47a3da;*/
}
.mob-user-prof{
	position: absolute;
	left: -237px !important;
}
.user-drop{
	position: absolute;
	left: -150px !important;
}
.mob-user-note{
	position: absolute;
	left: -183px !important;
}

.bluebar {
	position: relative;
	background: #5386c1;
	margin-top: -30px;
	width: 100%;
	height: 30px;
	z-index: 999;
}

.bluebar-iCare {
	position: relative;
	background: #5386c1;
	/*margin-top: -30px;*/
	width: 100%;
	height: 50px;
	z-index: 999;
}

.whitebar-iCare {
	position: relative;
	background: #ffffff;
	/*margin-top: -30px;*/
	width: 100%;
	height: 50px;
	z-index: 999;
	border-bottom: 1px #afc1ce solid;
}

.bluebar-iCare-bb {
	position: relative;
	background: #5386c1;
	width: 100%;
	/*height: 30px;*/
	text-align: center;
	padding: 5px 0px;
	z-index: 9;
}
.eco-info-green-bar {
	position: relative;
	background: rgba(114, 187, 76, 1);
	width: 100%;
	z-index: 98;
}
.eco-info-orange-bar {
	position: relative;
	background: #FF9D0F;
	width: 100%;
	height: 30px;
	z-index: 998;
}
.orangebarko {
	background: #FF9D0F;
	text-align: center;
	padding: 7px;
	/*height: 44px;*/
	width: 100%;
}
.top{
	padding-top: 10px !important;
	font-size: 12px !important;
}
.top i{
	color: #5386c1;
	font-size: 20px !important;
}
.menu-bot{
	padding: 5px !important;
	font-size: 12px !important;
}
.menu-bot span{
	color: #ffffff !important;
}
.menu-bot i{
	font-size: 16px !important;
}
@media screen and (max-width:1030px) {

	.p {
		/*font-size: 10px;*/

	}
}


/* for heroes*/

.learnheroes  a:hover, .btnheroes a:hover{
	color:#fff;
}
.learnheroes{

	margin-top:30px !important;
	margin-bottom:20px !important;
	text-align: center;
	z-index: 9999 !important;
}

.learnheroes a:hover{
	background-color:rgba(255, 157, 15, 0.7);
	z-index: 9999 !important;
}

.learnheroes  a{

	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	line-height: 28px;
	background:#FF9D0F;
	color: #fff;
	text-align: center;
	text-decoration:none;
	padding:12px 47px;
	/*border:2px solid #fff;*/
	/*border-radius:40px;*/
	z-index: 9999 !important;
	-moz-padding-start:27px;
	-moz-padding-end:27px;

}
.btnheroes a{

	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	line-height: 28px;
	color: #fff;
	background-color:rgba(255, 157, 15, 0.7);
	text-align: center;
	text-decoration:none;
	padding:7px 47px;
	border:2px solid #fff;
	border-radius:40px;
	z-index: 9999 !important;
}


.donateforbtn  {
	color:#fff;
	margin-top:45px !important;
	margin-bottom:20px !important;
	padding-left: 4% !important;
	text-align: center;
	float: left;
}
.donateforbtn a:hover{
	background:#FF9D0F;
}
.donateforbtn  a{
	color:#fff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	line-height: 28px;
	background-color:rgba(255, 157, 15, 0.7);
	text-align: center;
	text-decoration:none;
	padding: 12px 10px;
	border:2px solid #fff;
	border-radius:10px;
}
/*.orangebtns{
	color:#fff;
	margin-top:2%;
	margin-bottom:2%;
	text-align: center;
}
.orangebtns a:hover{
	background-color:rgba(255, 157, 15, 0.7);
}
.orangebtns  a{
	color:#fff;
	background:#FF9D0F;
	font-size: 120%;
	font-family: 'Raleway', sans-serif;
	line-height: 28px;
	text-align: center;
	text-decoration:none;
	border:2px solid #fff;
	border-radius:10px;
	padding: 10px 20px;
}*/

.bodybtn  {
	color:#fff;
	margin-top:20px !important;
	margin-bottom:20px !important;
	text-align: center;
}
.bodybtn a:hover{
	background:#FF9D0F;
}
.bodybtn  a{
	color:#fff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	line-height: 28px;
	background-color:rgba(255, 157, 15, 0.7);
	text-align: center;
	text-decoration:none;
	padding: 12px 10px;
	border:2px solid #fff;
	border-radius:5px;
}
.border-left {
	border-left: 10px solid #cae2f6;
	padding-left: 20px;
	margin-left: 30px;
	margin-bottom: 20px;
	width: 90%;
}
.italic {
	font-style: italic;
}
.green-text{
	color: #72bb4c;
}
.center{
	text-align: center;
}
.bold{
	font-weight:bold;
}

.p-title {
	font-size: 60px;
	text-align: center;
	color: #ffffff;
}
.p-h2{
	text-shadow: 0px 0px 5px #000000;
	font-size: 20px;
	padding-left: 200px;
	padding-right: 200px;
	text-align: center;
	color: #ffffff;
}

.join a:hover{
	background:#FF9D0F;
}


.join a{

	font-size: 12px;
	font-family: 'Raleway', sans-serif;

	line-height: 15px;
	background-color:rgba(255, 157, 15, 0.7);
	color: #fff;
	text-align: center;
	text-decoration:none;
	padding:3px 10px;
	border:2px solid #fff;
	border-radius:2px;
}

a.imglink:hover{
	color: #FF9D0F;
}


a.imglink{
	color: rgba(255, 157, 15, 0.7);
}

.donatenow  {

	margin-top:30px !important;
	text-align: center;
}

.donatenow a:hover{
	background:#FF9D0F;
	color:#fff;
}


.donatenow  a{

	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	line-height: 28px;
	background-color:rgba(255, 157, 15, 0.9);
	color: #fff;
	text-align: center;
	text-decoration:none;
	padding:12px 47px;
	border:2px solid #fff;
	border-radius:10px;
}


.width{
	color: #777;
	width: 100%;
	margin: auto;
}
img.blog-img{
	width: 100%;
}
.featured-blog-img{
	/*width: 100%;*/
	height: 150px;
	background-size: cover;
	background-position: center center;
	position: relative;
    text-align: center;
}

img.featured-blog-vidthumb{
	margin-left: 38%;
	margin-top: 20%;
	/*background-position: center;*/
	height: 48px;
	width: 48px;
	/*position: relative;	*/
}

.youtube-play {
	width: 100%;
	text-align: center;
	z-index: 5;
	position: absolute;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.youtube-play-ml {
	width: 100%;
	text-align: center;
	z-index: 5;
	position: inherit;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
img.sublink-img{
	width: 154px;
	height: 154px;
	border-radius: 100%;
	border-style: solid;
	border-width: 5px;
}
.cen{
	text-align: center;
}



/*a {*/
	/*color: #f46830; */
	/*&:hover {*/
		/*color: #4fb3e8;*/
		/*-webkit-transition: all .1s ease-in-out;*/
		/*-moz-transition: all .1s ease-in-out;*/
		/*-ms-transition: all .1s ease-in-out;*/
		/*-o-transition: all .1s ease-in-out;*/
		/*transition: all .1s ease-in-out;*/
	/*}*/

/*}*/


.main-title{
	background-image:url(/images/template_images/headingbg.png);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;
	background-position:bottom;
	padding-bottom:24px;
	margin-bottom:30px;
}

.subtitle{
	color: #777;
	text-align: justify;
	margin:0 auto;
	padding-bottom:30px;

}
.newssubtitle{
	color: #777;
	text-align: justify;
	margin:0 auto;
	padding-bottom:15px;
	float: left;

}

.titlenews{
	font-size: 35px;
	color: #72bb4c !important;
	line-height: 120%;
}

.newsdetails{
	font-size: 30px;
	color: #5386c1 !important;
}

a.titlelink{
	font-size: 30px;
	text-align:center;
	color: #72bb4c !important;
}
a.titlelink:hover{
	color: #4fb3e8 !important;
	text-decoration: underline;
}
.title1{
	font-size: 20px;
	text-align:center;
	color: #72bb4c !important;
}
p.title1{
	font-size: 14px;
	text-align:center;
	color: #72bb4c !important;
	padding-top: 10px;
}
.title2{
	font-size: 20px;
	text-align:left;
	color: #72bb4c !important;
}
.title3{
	font-size: 20px;
	text-align:center;
	color: #72bb4c !important;
}

.phar{
	font-size:18px;
	color: #777;
	font-weight: bold;
}
.thinphar{
	font-weight: lighter;
}
.phara{
	font-size:20px;
	color: #777;
	font-weight: bold;
}

.phar1{
	color: #777;
	margin:0 auto;
	padding:10px 0px 20px 0px;
	font-size: 12px;
}
ul li.dot{
	list-style-type: circle;
	color: #777;
}
ul li.dec{
	list-style-type: decimal;
	color: #777;
}
ul.pad{
	padding:0px 0px 30px 50px;
}
ul.pad2{
	padding:0px 0px 30px 0px;
}
li.pad{
	padding:0px 0px 5px 0px;
}
.align-right{
	float: right;
}

.fillmyimage {
	margin-right:10px;
	width: 200px;
	/*padding: 10px 0px 10px 0px;*/
}
.fillmyimage img {
	width:100%;

}
.sep {
	width: 100%;
	border-bottom: 1px solid #333;
	line-height: 1px;
}
.readmore{
	background-color: #FF9D0F;
}


.support h3{
	font-size: 20px;
	color: #72bb4c !important;
	background-position:bottom left;
	background-repeat:no-repeat;
	padding-top:20px;
	padding-bottom:10px;
	margin-bottom:10px;
}
.support{
	width: 100%;
	/*padding-top: 10px !important;*/
	padding-bottom: 0px !important;
}

.support p{
	/*padding-top:20px;*/
}

.ourprograms{
	width: 100%;
	padding-top: 0px !important;
	/*padding-bottom: 30px !important;*/
	text-align:left;
}
.ourprograms p{
	/*padding-top:20px;*/
}
.ourprograms a{
	padding-bottom:50px;
}
.justify {
	color: #777;
	text-align:  justify !important;
}
.left {
	text-align:  left !important;
}
.act p {

	color: #777;
}

.act {
	background-color: #e6e5e2;
	height: 750px;
	border: 20px solid #ffffff;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 30px;
}



.ouractivities{
	width: 100%;
	/*padding-top: 10px !important;*/
	padding-bottom: 0px !important;
}

.ouractivities h4{
	font-size: 20px;
	color: #72bb4c !important;
}

.ouractivities .row p{
	text-align: left;
}

.col-md-3 a{font-size: 12px;}
.boxdate{
	/*padding-left: 0px;
	padding-right: 0px;*/
}
.img-news-author{
	width: 18% !important;
}
.timeline-news{
	height: 170px;
	background: transparent url("../../img/lingrey.png") no-repeat scroll 58% 50%;
	border-top: 1px dashed #f2f2f2;
	border-bottom: 1px dashed #f2f2f2;
}
.news-thumb-container{
	position:relative;
	width: 170px;
	height: 170px;
	/*padding-left: 0px;*/
	padding-right: 0px;
}
.radius-bg{
	border-radius: 100%;
	border: 5px solid #fff;
	background-color: #f2f2f2;
	width: 40px;
	height: 40px;
	float: right;
	margin: 110% 0% 0px 0px;
	padding: 5px 0px 0px 0px;
	text-align: center;
}
.list-news-wrapper{
	border-top: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	padding-top: 15px;
	padding-right: 30px;
}
.list-title-blog{
	color: #666;
	cursor: pointer;
	margin-bottom: 20px;
}
.list-title-blog .news-title{
	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	transition: color .2s ease-out;
}
.list-title-blog .news-tumb{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

	-webkit-transition: border .2s ease-out;
	-moz-transition: border .2s ease-out;
	-o-transition: border .2s ease-out;
	transition: border .2s ease-out;
}
.list-title-blog .featured-blog-img,.list-title-club .club-img{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

	-webkit-transition: border .2s ease-out;
	-moz-transition: border .2s ease-out;
	-o-transition: border .2s ease-out;
	transition: border .2s ease-out;
}
.a-little-about-me{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.list-title-blog:hover .news-title{
	color: #FF9641;
}
.list-title-blog:hover .news-tumb{
	border: 5px solid #FF9641;
}
.list-title-blog:hover .featured-blog-img{
	border: 5px solid #FF9641;
}
.news-list-show-more{
	width: 98%;
	height: 30px;
	margin: auto;
}

.size23{
	font-size: 23px;
	/*line-height: 23px;*/
}
.size30{
	font-size: 30px;
	/*line-height: 23px;*/
}
.size18 {
    font-size: 18px;
}
.list-title-blog{
	color: #666;
	cursor: pointer;
	margin-bottom: 20px;
}

.list-title-club{
	color: #666;
	margin-bottom: 5px;
    padding: 8px;
    margin-right: 0px;
    margin-left: 0px;
}

.clubemail{
	color: #666 !important;
}
.clubemail:hover{
	color: #666 !important;
}

.club-thumb-container{
	position:relative;
	padding-left: 0px;
	padding-right: 0px;
}

.club-img{
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center center;
	position: relative;
    text-align: center;
}
.list-title-club:hover .club-img{
    border: 5px solid #FF9641;
}
.list-title-club:hover .news-title {
    color: #FF9641;
}

.datebox{
		padding:0px 5px 0px 5px;
		text-align:center;
		background-color:#eee;
		float: right;
	}
.thin-font1{
	font-size: 12px;
	color: #b80000;
	line-height: 150%;
}

.greyborder{
	  border-top: 1px solid #ABA3A3;
	  border-right: 1px solid #ABA3A3;
	  padding-top: 15px;
}

.greyborder1{
	  padding-top: 15px;
}

.catgreyborder{
	  border-top: 1px solid #D0D0D0;
  border-right: 1px solid #D0D0D0;
  padding-top: 15px;
}
.margin-top20{
	margin-top: 20px;
}
.margin-top30{
	margin-top: 30px;
}
.margin-top40{
	margin-top: 40px;
}
.margin-bot10 {
  margin-bottom: 10px;
}
.margin-bot5 {
  margin-bottom: 5px;
}
.news-list-show-more{
	width: 98%;
	height: 30px;
	margin: auto;
}

.club-list-show-more{
	width: 100%;
	height: 30px;
	margin: auto;
}




@media screen and (max-width:480px) {
	.p-h2{
		padding-left: 30px;
		padding-right: 30px;

	}
	.learnheroes  a{

		font-size: 15px;
		padding:12px 38px;

	}
	.main-title{
		font-size: 30px !important;
	}
	h1{
		font-size:26px;
	}
	.subtitle{
		font-size:12px;
	}
	h3{
		font-size: 15px;
	}
	.ouractivities .row p{
		font-size:12px;
	}
	.p-h2 {
		font-size:12px !important;
	}

}

/* banner content wrapper responsiveness */

@media screen and (max-width: 9999px){.banner-content-wrapper2{width: 100%;}}
@media screen and (max-width: 1900px){.banner-content-wrapper2{width: 100%;}}
@media screen and (max-width: 1199px){.banner-content-wrapper2{width: 100%;}}
@media screen and (max-width: 845px){.banner-content-wrapper, .shop-banner-content-wrapper{width: 700px;}}
@media screen and (max-width: 770px){.banner-content-wrapper, .shop-banner-content-wrapper{width: 650px;}}
@media screen and (max-width: 700px){.banner-content-wrapper, .shop-banner-content-wrapper{width: 550px;}}
@media screen and (max-width: 600px){.banner-content-wrapper, .shop-banner-content-wrapper{width: 450px;}}
@media screen and (max-width: 500px){.banner-content-wrapper, .shop-banner-content-wrapper{width: 350px;}}
@media screen and (max-width: 390px){.banner-content-wrapper, .shop-banner-content-wrapper{width: 300px;}}
@media screen and (max-width: 335px){.banner-content-wrapper, .shop-banner-content-wrapper{width: 250px;}}
@media screen and (max-width: 285px){.banner-content-wrapper, .shop-banner-content-wrapper{width: 200px;}}
@media screen and (max-width: 295px){.banner-content-wrapper2{width: 180px;margin-left: -25px}}

/*.banner-content-wrapper2{
	background-color: rgba(255,255,255, 0.5);
	margin-top:-25px;
	padding: 15px 15px 15px 15px;
	border-radius: 25px;
	width: 750px;
	display:inline-block;
}*/
		nav.iCare-nav-nav{
			width: 771px;
		}
		.m-p {
			font-size: 15px;
			padding-top: 5px;
		}

		@media screen and (max-width:1419px) {

			/*.user-name-info {
				display: none;
			}*/
			nav.iCare-nav ul.dropdown li{
				width: 105px;
			}
			nav.iCare-nav-nav{
				width: 735px;
			}

			.m-p {
				font-size: 14px;
			}
		}

		@media screen and (max-width:1406px) {
			/*.user-name-info {
				display: none;
			}*/

			nav.iCare-nav ul.dropdown li{
				width: 100px;
			}
			nav.iCare-nav-nav{
				width: 700px;
			}
		}

		@media screen and (max-width:1406px) {
			/*.user-name-info {
				display: none;
			}*/

			nav.iCare-nav ul.dropdown li{
				width: 95px;
			}
			nav.iCare-nav-nav{
				width: 665px;
			}
		}

		@media screen and (max-width:1295px) {
			/*.user-name-info {
				display: none;
			}*/
			.iCare-user {
				padding-left: 1% !important;
			}
		}

		@media screen and (max-width:1268px) {
			.user-name-info {
				display: none;
			}

			.iCare-user {
				padding-left: 3% !important;
			}
			.wd-tdc{			
				width: 90%;
				margin: auto;
			}
			.wd-tdl{
				padding-left: 10px;				
				width: 90%;
				margin: auto;
				float: none;
			}
			.wd-tdr{	
				padding-right: 10px;				
				width: 90%;
				margin: auto;
				float: none;
			}
		}

		@media screen and (max-width:1233px) {
			.new-user-account {
				display: none;
			}
			
		}

		@media screen and (max-width:1178px) {
			.new-user-account2 {
				display: none;
			}
			
		}

		@media screen and (max-width:1163px) {

			.act {
				height: 830px;
			}			
		}

		@media screen and (max-width:1130px) {

			.act {
				height: 870px;
			}
		}
		@media screen and (max-width:1111px) {

			.iCare-user {
				 padding-left: 0% !important;
			}
		}
		@media screen and (max-width:1103px) {
			.new-user-account3 {
				display: none;
			}
			
		}

		@media screen and (max-width:1100px) {

			.act {
				height: 900px;
			}
		}

		@media screen and (max-width:1082px) {

			/*.iCare-user {
				padding-left: 2% !important;
			}*/
			.badge-sm {
				font-size: 65%;
			}
			.iCare-eco-logo{
				width:60px!important;
			}
		}

		@media screen and (max-width:1078px) {

			.act {
				height: 930px;
			}
		}

		@media screen and (max-width:1071px) {

			.iCare-user {
				padding-left: 1% !important;
			}
		}

		@media screen and (max-width:1062px) {

			.act {
				height: 960px;
			}
		}

		@media screen and (max-width:1060px) {

			nav.iCare-nav ul.dropdown li{
				width: 90px;
			}
			nav.iCare-nav-nav{
				width: 630px;
			}
			.m-p {
				font-size: 13px;
			}
			.iCare-user {
				padding-left: 1% !important;
			}
		}

		@media screen and (max-width:1039px) {

			.act {
				height: 990px;
			}
		}

		@media screen and (max-width:1009px) {

			nav.iCare-nav ul.dropdown li{
				width: auto;
				padding: 0px 20px;
			}
			nav.iCare-nav-nav{
				width: 600px;
			}
		}

		@media screen and (max-width:997px) {

			.act {
				height: 1020px;
			}
		}


		@media screen and (max-width:991px) {

			.act {
				height: 100%;
				padding-bottom: 20px;
			}
			.width {
				width: 100% !important;
			}
			.banner-iCare-page img {
				width: 30%;
			}
		}

		@media screen and (max-width:975px) {

			nav.iCare-nav ul.dropdown li{
				width: auto;
				padding: 0px 15px;
			}
			nav.iCare-nav-nav{
				width: 580px;
			}
		}		

		@media screen and (max-width:953px) {
			
			nav.iCare-nav-nav{
				width: 560px;
			}
		}		

		@media screen and (max-width:930px) {
			
			nav.iCare-nav-nav{
				width: 540px;
			}
			.banner-iCare-page {
				height: 240px;
			}
		}		

		@media screen and (max-width:907px) {
			
			nav.iCare-nav-nav{
				width: 520px;
			}
		}		

		@media screen and (max-width:885px) {
			nav.iCare-nav ul.dropdown li{
				width: auto;
				padding: 0px 10px;
			}
			nav.iCare-nav-nav{
				width: 500px;
			}
			.banner-iCare-page {
				height: 220px;
			}
		}		

		@media screen and (max-width:862px) {
			nav.iCare-nav ul.dropdown li{
				width: auto;
				padding: 0px 8px;
			}
			
			nav.iCare-nav-nav{
				width: 480px;
			}
		}		

		@media screen and (max-width:849px) {
			
			nav.iCare-nav-nav{
				width: 460px;
			}
		}		

		@media screen and (max-width:845px) {
			
			nav.iCare-nav-nav{
				width: 440px;
			}
		}		

		@media screen and (max-width:845px) {
			
			.r-v{
				margin-left: 0px;
			}
			.banner-iCare-page {
				height: 200px;
			}
		}

		@media only screen and (max-width : 812px) {

			.p-title {
				font-size: 30px !important;
			}

			.p-h2 h3{
				font-size: 12px !important;
			}

		}		

		@media screen and (max-width:783px) {
			
			.eco-container-iCare{
				width: 95% !important;
			}
			.banner-iCare-page img {
				width: 230px;
			}
		}		

		@media screen and (max-width:724px) {
			
			.eco-container-iCare{
				width: 97% !important;
			}
		}
		@media only screen and (max-width : 659px) {
			
			.banner-iCare-page {
				height: 170px;
			}
		}
		@media only screen and (max-width : 420px) {

			.top{
				width: 98% !important;
				padding-left: 5px !important;
				padding-right: 5px !important;
			}
		}

		/*END USON*/
		.column-3{

			width: 277px;
			float: left;
		}

		/*KYBEN ROCKS*/

		.interior-headerBanner2 {
			/*background: #efa945;*/
			width: 100%;
			padding-bottom: 20px;
			background-size: cover;
			/* IE10 Consumer Preview */
			background-image: -ms-linear-gradient(top, #FFF194 0%, #EFA945 100%);

			/* Mozilla Firefox */
			background-image: -moz-linear-gradient(top, #FFF194 0%, #EFA945 100%);

			/* Opera */
			background-image: -o-linear-gradient(top, #FFF194 0%, #EFA945 100%);

			/* Webkit (Safari/Chrome 10) */
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF194), color-stop(1, #EFA945));

			/* Webkit (Chrome 11+) */
			background-image: -webkit-linear-gradient(top, #FFF194 0%, #EFA945 100%);

			/* W3C Markup, IE10 Release Preview */
			background-image: linear-gradient(to bottom, #FFF194 0%, #EFA945 100%);
		}

		.donation-banner{
			margin: 0px;
			padding: 10px 20px 20px 20px;
			border-radius: 15px;

		}

		.iCare-banner{
			width: 100%;
			background-size: cover;
		}

		.interior-donation-others {
			/*background: #efa945;*/
			width: 100%;
			padding-bottom: 50px;
			height: 300px;
			background: url(/images/template_images/nepal-relief-banner-003.png) no-repeat center;
			background-size: cover;

		}
		.interior-donation-others1{
			width: 100%;
			padding-bottom: 50px;
			height: 300px;
			background: url(/images/template_images/ny-earth-citizens-walk-kids.jpg) no-repeat 50% 43% !important;
			background-size: cover !important;
		}
		.interior-donation-seattle{
			width: 100%;
			padding-bottom: 50px;
			height: 300px;
			background: url(/images/template_images/seattleearthcitizensexpo-banner.jpg) no-repeat 50% 43% !important;
			background-size: cover !important;
		}
		.interior-donation-hlt{
			width: 100%;
			padding-bottom: 50px;
			height: 300px;
			background: url(/images/template_images/xheros1.jpg) no-repeat 50% 43% !important;
			background-size: cover !important;
		}

		.donation-others{
			margin-top: 40px !important;
			width: 570px;
		}

		@media only screen and (max-width : 627px) {

			.donation-others{
				margin-top: 40px !important;
				width: 550px;
			}
		}
		@media only screen and (max-width : 610px) {

			.donation-others{
				margin-top: 40px !important;
				width: 100%;
			}
		}


		.chtli{
			color: #04012F;
		}
		.chtli:hover{
			text-decoration: underline;
		}
		.h2title-1 {
			color:#0070c0;
			font-size:39.5px;
			text-align:left;
			padding-bottom:10px;
			padding-top: 50px;
			font-weight: 500;
			letter-spacing:.2em;
		}
		.h2title-2{
			color:#0070c0;
			font-size:39.5px;
			text-align:left;
			padding-bottom:10px;
			padding-top: 30px;
			letter-spacing:.1em;
			font-weight: 500;
		}



		.donation-banner{
			margin: 0px;
			border-radius: 15px;

		}
		.donation-banner a{
			color: #fff;
			font-size:12px;

		}


		.donation-fluid {
			padding-right: 0px !important;
			padding-left: 0px !important;
			padding-top: 50px;
		}

		.danate-button{
			padding:5px 10px;
			border-radius: 3px;
			background: #528ac2;
			border-style: none;
			color: #fff;
		}


		.donate-title1{
			font-size:18px;
			font-family: 'Roboto', sans-serif;
			line-height:30px;
			padding-top: 0px;

		}

		.donate-title2{
			font-size:22px;
			font-family: 'Roboto', sans-serif;
			line-height:30px;
			padding-top: 0px;

			font-weight:bold;

		}

		.donate-title{
			font-size:40px;
			color:#777!important;
			font-family: 'Roboto', sans-serif;
			font-weight:bold;
			line-height:30px;
			padding-top: 0px;
			margin-bottom: 25px;

		}


		@media only screen and (max-width : 420px) {

			.donate-title{
				font-size:30px;
			}
		}
		@media only screen and (max-width : 338px) {

			.donate-title{
				font-size:20px;
			}
		}

		.textalign-right{
			text-align: center;
		}


		.headtext{
			color: #000;
			font-size:18px;
			padding: 5px;
		}
		.inputcont{
			padding: 30px 10px 10px 10px;



		}
		.headtext13{

			font-size:16px;
			font-weight: 600;
			margin: 0px;

		}
		.headtext2{

			font-size:55px;
			color: #528ac2 !important;
			font-weight: 900;
			margin: 0px;

		}
		.headtext21{

			font-size:25px;
			color: #528ac2  !important;
			font-family: 'Roboto', sans-serif;
			font-weight: 800;
			margin: 0px;

		}

		.headtext2_1{

			font-size:70px;
			color: #008a17 !important;
			font-weight: 900;
			margin: 0px;

		}
		.headtext21_1{

			font-size:30px;
			color: #008a17  !important;
			font-family: 'Roboto', sans-serif;
			font-weight: 800;
			margin: 0px;
		}

		.h1_1{
			font-size:36px;
			color:#5386c1 !important;
			font-family: 'Roboto', sans-serif;
			font-weight:bold;
			line-height:24px;
			padding-top: 50px;
			margin-bottom: 25px;
		}
		.h1_2{
			font-size:36px;
			color:#5386c1 !important;
			font-family: 'Roboto', sans-serif;
			font-weight:bold;
			line-height:36px;
			padding-top: 50px;
			margin-bottom: 25px;
		}
		.gp{
			padding-top: 0px;
			font-size:15px;
			color: #777;
		}
		.gp p{
			padding: 0px 10px 10px 0px;
		}
		@media only screen and (max-width : 1199px) {

			.hide-name{
				display: none;
			}
			.show-name{
				display: block;
			}
			.gp{
				padding-top: 20px;
			}
		/*.eco-container{
		width: 100% !important;
		padding-left:30px;
		padding-right: 30px;
		} */
	}





	.effect8
	{
		position:relative;
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
	.effect8:before, .effect8:after
	{

		content:"";
		position:absolute;
		z-index:-1;
		-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
		-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
		box-shadow:0 0 20px rgba(0,0,0,0.8);
		top:10px;
		bottom:10px;
		left:0;
		right:0;
		-moz-border-radius:100px / 10px;
		border-radius:100px / 10px;
	}
	.effect8:after
	{
		right:10px;
		left:auto;
		-webkit-transform:skew(8deg) rotate(3deg);
		-moz-transform:skew(8deg) rotate(3deg);
		-ms-transform:skew(8deg) rotate(3deg);
		-o-transform:skew(8deg) rotate(3deg);
		transform:skew(8deg) rotate(3deg);
	}

	/*END KYBE*/


	/* EFREN POGI*/
	#sticky-menu{
		position: fixed;
	}

	.eco-container{
		position: relative;
		width: 980px;
		margin: auto;
	}

	.eco-container-iCare{
		position: relative;
		width: 90%;
		margin: auto;
	}

	.iCare-eco-logo{
		position: relative;
		width: 80px;
		z-index: 1002;
	}

	#ecologo {
		padding-top: 25px;
		float: left;

	}

	#ecologo-iCare {
		color: #FFFFFF;
		padding-top: 8px;
		float: left;
		z-index: 1002;

	}

	#ecologod {
		padding-top: 0px;
		float: left;

	}

	.ecositenav{
		float:right;
		min-width: 500px;
		text-align: right;
		/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
		/* margin-top: -60px; */
		margin-right: -30px;
	}

	.ecositenav-iCare{
		float:left;
		/*min-width: 500px;*/
		text-align: right;
		padding-left: 2%;
		/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
		/* margin-top: -60px; */
		/*margin-right: -30px;*/
	}

	.iCare-user{
		position: relative;
		display: block;
		/*width: 50px;*/
		color: #5386c1;
		float:left;
		text-align: right;
		padding-left: 3%;
		z-index: 1002;
	}

	.iCare-user-nav{
		padding-top: 13px;
	}

	.iCare-user a{
		color: #5386c1;
		padding-top: 10px;

	}.iCare-user-nav-dp a{
		color: #1f2427;
		padding-top: 10px;
	}

	.iCare-social{
		position: relative;
		display: block;
		color: #5386c1;
		float:right;
		text-align: right;
		/*padding-left: 50px;*/
		z-index: 1002;
	}
	.iCare-social a{
		color: #5386c1;
		font-size: 20px;
	}
	.iCare-social-nav{
		padding-top: 10px;
		text-align: right;
	}

	img.iCare-img-W{
		width: 100%;
	}

	.ecositenavcafepress{
		float:right;
		min-width: 500px;
		/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
		/* margin-top: -60px; */
		/*margin-right: -30px;*/
	}
	.ecologo {
		height: 99px;
		width: 100%;
		background-repeat: no-repeat;
	}
	.whoiseco {
		font-size:62px;
		color: #FFF;
		padding-top: 50px;
	}
	.whoisecodefine {
		font-size:22.98px;
		color:#FFF;
		width:50%;
	}
	.headerBanner .learn-more {
		padding: 10px 0px 0px 0px;
		float: left;
	}

	.headerBanner .learn-more img{
		float:left;
	}
	.headerBanner .learn-more a{
		padding: 10px 0px 0px 0px;
		float: left;
	}
	.mobileMenu {
		display: none;
	}
	.side-mob-menu {
		display: none;
	}
	.mob-ecologo {
		display: none;
	}
	.mob-cog {
		margin-top: -5px
	}
	.mob-bell {
		margin-top: -2px;
		float: left;
	}
	.mob-options{
		margin-top: 11px;
		max-height: 500px;
		overflow: auto;
		/*margin-left: -300%;*/
	}
	.mobileMenu nav{
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.header-banner{
		margin: 0px;
		padding: 0px;
	}
	.navbar-header{
		background-color: #5386c1;
		padding-top: 5px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.navbar-brand{
		color: #fff !important;
		font-weight: 30;

	}
	/* EFREN POGI END*/

	/*slider*/
	/*-----------------------*/
	.captionOrange, .captionBlack
	{
		color: #fff;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		border-radius: 4px;
	}
	.captionOrange
	{
		background: #EB5100;
		background-color: rgba(235, 81, 0, 0.6);
	}
	.captionBlack
	{
		font-size:16px;
		background: #000;
		background-color: rgba(0, 0, 0, 0.4);
	}
	a.captionOrange, A.captionOrange:active, A.captionOrange:visited
	{
		color: #ffffff;
		text-decoration: none;
	}
	a.captionOrange:hover
	{
		color: #eb5100;
		text-decoration: underline;
		background-color: #eeeeee;
		background-color: rgba(238, 238, 238, 0.7);
	}
	.bricon
	{
		background: url(/images/template_images/browser-icons.png);
	}
	/*-----------------------*/
			/*
            .jssorb01 div           (normal)
            .jssorb01 div:hover     (normal mouseover)
            .jssorb01 .av           (active)
            .jssorb01 .av:hover     (active mouseover)
            .jssorb01 .dn           (mousedown)
            */
            .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
            	filter: alpha(opacity=70);
            	opacity: .7;
            	overflow: hidden;
            	cursor: pointer;
            	border: #000 1px solid;
            }

            .jssorb01 div {
            	background-color: gray;
            }

            .jssorb01 div:hover, .jssorb01 .av:hover {
            	background-color: #d3d3d3;
            }

            .jssorb01 .av {
            	background-color: #fff;
            }

            .jssorb01 .dn, .jssorb01 .dn:hover {
            	background-color: #555555;
            }
            /*-----------------------*/
            /* jssor slider arrow navigator skin 02 css */
            /*
            .jssora02l              (normal)
            .jssora02r              (normal)
            .jssora02l:hover        (normal mouseover)
            .jssora02r:hover        (normal mouseover)
            .jssora02ldn            (mousedown)
            .jssora02rdn            (mousedown)
            */
            .jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
            	background: url(/public/images/template_images/a02.png) no-repeat;
            	overflow:hidden;
            }
            .jssora02l { background-position: -3px -33px; }
            .jssora02r { background-position: -63px -33px; }
            .jssora02l:hover { background-position: -123px -33px; }
            .jssora02r:hover { background-position: -183px -33px; }
            .jssora02ldn { background-position: -243px -33px; }
            .jssora02rdn { background-position: -303px -33px; }
            /*end slider*/

            .orange_bgcolor  {
            	background-color: #efa945;
            	visibility: visible;
            	margin: auto;
            	width: 100%;
            	padding: 15px;
            }
            .rightbar{
            	width:65%; margin: auto; float:left;
            	padding-top:20px;
            }

            .h2title {
            	color:#5386c1;
            	font-size:39.5px;
            	text-align:left;
            	padding-bottom:10px;
            }

            .eco-col1 {
            	float:left; width: 53%; font-size: 12px;
            	text-align:left;
            }
            .eco-col2 {
            	float:left; width: 47%; font-size: 12px;
            	text-align:left;
            	padding-left:40px;
            }

            .leftbar {
            	background-color:#5386c1;
            	height:680px;
            	width:320px; margin: auto;
            	float:right;
            	padding: 10px 10px 0px 20px;
            	text-align:left;
            	color:#FFF;
            }
            .news-col {
            	font-size:12px;
            	padding-bottom:20px;
            }
            .blueline {
            	width: 100%;
            	background-color: #5386c1;
            	height:3px;
            }
            .innerbody {
            	width: 100%; margin: auto;
            }
            /*3 pix begin*/
            .middlebody {
            	width: 100%; margin-top:30px;
            }
            .midconbody {
            	float:left;
            	width: 326.6px;
            }
            .imgcircle {
            	width: 277px;
            	height: 277px;
            	border-radius: 100%;
            }
            .h4midbody {
            	font-size:26.62px;
            	font-family: 'Noto Sans', sans-serif;
            	color:#45413e;
            	padding:30px 0px 10px 0px;
            	text-align: center;
            	padding-right:60px;
            }
            .midcontent {
            	font-size:12px;
            	font-family: 'Noto Sans', sans-serif;
            	color:#45413e;
            	text-align:left;
            	width: 278px;
            }
            /*3 pix end*/

            .backgroundgreen  {
            	background: #72bb4c;
            	width: 100%;
            	height: 550px;
            }
            .fetmaincon {
            	font-size:60px; font-family: 'Roboto', sans-serif; color:#FFF;
            }
            .featdesc {
            	font-size:22px; font-family: 'Roboto', sans-serif; color:#FFF;
            }
            .featslider  {
            	visibility: visible;
            	width: 1400px;
            }
	/*.imgs {
    display: block;
    max-width:800px;
    max-height:350px;
    width: auto;
    height: auto;
    }*/
    .greenbarko {
    	background: #72bb4c;
    	padding-top:10px;
    	text-align: center;
    	height:60px;
    	width: 100%;
    }
    .newsbanner {
    	padding-top:50px;
    }
    .signupko {
    	font-size:24px;
    	font-family: 'Noto Sans', sans-serif;
    	color:#5386c1;
    	float:left;
    }
    .inputertxt  {
    	padding-left: 25px;
    	float:left;
    }
    .txtbaks {
    	height:36px;
    	background: #E8E8E8;
    	width:472px;
    }
    .submitbttn  {
    	padding-left: 45px;
    	width: 36px;
    	height: 36px;
    	float:left;
    }
    .submittxt  {
    	padding-left: 42px;
    	width: 57px;
    	height: 14px;
    	float:left;
    }
    .footer-pull-bot {
    	position: absolute;
    	bottom: 0;
    }
    .footerer {
    	text-align:center;
    	padding:50px;

    }
    .right-linerer {
    	width:364px;
    	padding-top: 22px;
    	float: right;
    }
    .left-linerer {
    	width:364px;
    	padding-top: 22px;
    	float: left;
    }
    .fb{
    	padding: 0px 6px 0px 6px;
    	float: left;
    }
    .twitter{
    	padding: 0px 6px 0px 6px;
    	float: left;
    }
    .linked{
    	padding: 0px 6px 0px 6px;
    	float: left;
    }
    .hidorange{;
    	display:none;
    }
    .social-div{
    	width: 168px;
    	padding: 0px;
    }

    /* box contacts */
    .box-contacts{
    	height: 90px;
    }
    .box-contacts .contact-name{
    	font-size: 12px;
    }
    .contacts-col{
    	width: 23.7%;
    	float: left;
    }
    .box-contacts a{
    	font-size: 12px;
    }
    .creditcard-div{
    	width: 100%; float: left;
    }
    .creditcardform{
    	float: left; width: 500px;
    }
    .typetransact{
    	width: 250px;
    	border-radius: 10px 10px 10px 10px;
    	-moz-border-radius: 14px 14px 14px 14px;
    	-webkit-border-radius: 14px 14px 14px 14px;
    	border: 0px solid #000;
    	padding: 13px;
    }
    .creditcardform .col-md-4, .creditcardform .col-md-7{
    	padding: 0px !important;
    }
    .forminput, .forminputdonate{
    	height: 45px; font-size: 30px; color:#000; border-radius:10px; border-style:none; padding-left: 5px;
    }
    .forminputdonate{
    	font-size: 15px !important;
    	padding: 5px !important;
    }
    .authorizebutton{
    	background-image: url('/images/template_images/donate-gold.gif');
    	background-position:  0px 0px;
    	background-repeat: no-repeat;
    	width: 136px;
    	height: 40px;
    	border: 0px;
    	background-color: none;
    	cursor: pointer;
    	outline: 0;
    	margin-top: 10px;
    }
    @media screen and (max-width:1160px) {

    	iframe{
    		width: 100%;
    		margin:auto;
    		text-align: center;
    	}
    	.leftbar {
    		float: left;
    		width: 340px;
    	}
    	.rightbar {
    		width: 60%;
    	}
    	.imgcircle {
    		width:250px;
    		height:250px;
    	}
    	.midconbody {
    		width: 280px;
    	}
    	.midcontent {
    		width: 270px;
    	}
    	.txtbaks {
    		width:450px;
    	}
    	.boxdate{
    		display: none;
    	}
    	.boxdate2{
    		display: block;
    	}

		.centers{
			font-size: 14px;
		}

    }
    @media screen and (max-width:1091px) {
    	.txtbaks {
    		width:350px;
    	}
    	.whoiseco {
    		font-size:58px;
    	}
    }
    @media screen and (max-width:1079px) {
    	.leftbar {
    		float: left;
    		width: 340px;
    	}
    	.rightbar {
    		width: 58%;
    	}
    }
    @media screen and (max-width:1066px) {
    	.imgcircle {
    		width:250px;
    		height:250px;
    	}
    	.h4midbody {
    		font-size:25px;
    	}
    	.midconbody {
    		width: 260px;
    	}
    	.midcontent {
    		width: 260px;
    	}
    }
    @media screen and (max-width:1050px) {
    	.imgcircle {
    		width:235px;
    		height:235px;
    	}
    	.h4midbody {
    		font-size:22px;
    	}
    	.midconbody {
    		width: 240px;
    	}
    	.midcontent {
    		width: 240px;
    	}
    }
    @media screen and (max-width:1028px) {
    	.leftbar {
    		float: left;
    		width: 330px;
    	}
    	.rightbar {
    		width: 55%;
    	}
    }
    @media screen and (max-width:966px) {
    	.signupko {
    		width:100%;
    	}
    	.inputertxt  {
    		padding-left: 0px;
    		float:left;
    	}
    }
    @media screen and (max-width:937px) {
    	.eco-col1 {
    		float:left; width: 100%; font-size: 13px;
    		text-align:left;
    	}
    	.eco-col2 {
    		float:left; width: 100%; font-size: 13px;
    		text-align:left;
    		padding-left:0px;
    	}
    	.leftbar {
    		width:320px;
    	}
    	.imgcircle {
    		width:200px;
    		height:200px;
    	}
    	.midconbody {
    		width: 220px;
    	}
    	.h4midbody {
    		font-size:18px;
    	}
    	.midcontent {
    		width: 220px;
    	}
    	.backgroundgreen {
    		height: 440px;
    	}
    }
    @media screen and (max-width:933px) {
    	.h2title {
    		font-size:37px;
    	}
    }
    @media screen and (max-width:929px) {

    }
    @media screen and (max-width:925px) {
    	.whoiseco {
    		font-size:50px;
    	}
    	.whoisecodefine {
    		width:80%;
    	}
    }
    @media screen and (max-width:905px) {
    	.rightbar {
    		width:55%;
    	}
    	.leftbar {
    		width:300px;
    	}
    }
    @media screen and (max-width:850px) {
    	.rightbar {
    		width:52%;
    	}
    	.leftbar {
    		width:300px;
    	}
    }
     @media screen and (max-width:846px) {

    }
    @media screen and (max-width:841px) {
    	.imgcircle {
    		width:180px;
    		height:180px;
    	}
    	.midconbody {
    		width: 210px;
    	}
    	.midcontent {
    		width: 210px;
    	}
    }
     @media screen and (max-width:815px) {

    }
    @media screen and (max-width:811px) {
    	.eco-container {
    		padding:0px 40px 0px 40px;
    	}
    }
    @media screen and (max-width:790px) {
    	 .ecositenav-iCare {
    		padding-left: 1%;
    	}
    	.iCare-eco-logo{
    		width:70px;
    	}
    }
    @media screen and (max-width:735px) {
    	 .ecositenav-iCare {
    		padding-left: 0%;
    	}
    }
   
    @media screen and (max-width:726px) {
    	.midconbody {
    		width: 200px;
    	}
    	.h4midbody {
    		font-size:17.6px;
    	}
    	.midcontent {
    		width: 200px;
    	}
    }
    @media screen and (max-width:721px) {
    	.rightbar {
    		width:51%;
    	}
    	.leftbar {
    		width:305px;
    	}
    }
    @media screen and (max-width:721px) {
    	.rightbar {
    		width:48%;
    	}
    	.leftbar {
    		width:300px;
    	}
    }
    @media screen and (max-width:710px) {
    	.leftbar {
    		width:100%;
    	}
    	.rightbar {
    		padding:20px;
    		width:100%;
    	}
    	.whoiseco {
    		width:100%;
    	}
    	.whoisecodefine {
    		width:100%;
    	}
    	.imgcircle {
    		height:275px;
    		width:275px;
    	}
    	.middlebody {
    		width: 100%;
    		text-align: center;
    	}
    	.midconbody {
    		width:100%;
    		padding:20px;
    	}
    	.h4midbody {
    		padding:20px;
    		margin: 0px;
    		font-size:26.62px;
    	}
    	.midcontent {
    		width:100%;
    	}
    	.videoyb{
    		width:100% !important;
    	}
    	.eco-wrapper{
    		padding: 20px 15px;
    	}
    	.whitebar-iCare{
    		display: none;
    	}
    }
    @media screen and (max-width:514px) {
    	.h2title {
    		font-size:35px;
    	}
    	iframe{
    		width: 100%;
    		height: 300px;
    		margin:auto;
    		text-align: center;
    	}
    	.news-view-thumbnail{
    		width: 100%;
    		height: 300px;
    		margin:auto;
    		text-align: center;
    	}
    	.titlenews{
    		font-size: 28px;
    	}
    	.authorname2{
    		font-size:28px;
    	}
    }
    @media screen and (max-width:494px) {
    	.h2title {
    		font-size:32px;
    	}

    	iframe{
    		width: 100%;
    		height: 250px;
    		margin:auto;
    		text-align: center;
    	}
    	.news-view-thumbnail{
    		width: 100%;
    		height: 250px;
    	}
    }
    @media screen and (max-width:463px) {
    	.h2title {
    		font-size:30px;
    	}
    	.titlenews{
    		font-size: 25px;
    	}
    	.authorname2{
    		font-size: 25px;
    	}
    }
    @media screen and (max-width:416px) {
    	.header-banner {
    		height:500px;
    	}
    	.hidorange {
    		height:50px;
    	}
    	iframe{
    		width: 100%;
    		height: 200px;
    		margin:auto;
    		text-align: center;
    	}
    	.news-view-thumbnail{
    		width: 100%;
    		height: 200px;
    	}
    }
    @media screen and (max-width:430px) {
    	.orangebarko a{
    		font-size: 15px !important;
    	}
    	.orangebarko img{
    		width: 33px !important;
    		height: 33px !important;
    	}
    	.orangebarko{
    		padding-top: 12px !important;
    		/*height: 60px !important;*/
    	}
    }
    @media screen and (max-width:380px) {
    	.signupko {
    		font-size: 20px;
    		text-align: center;
    	}
    	.titlenews{
    		font-size: 22px;
    	}
    	.authorname2{
    		font-size: 22px;
    	}
    }
    @media screen and (max-width:580px) {

    	.txtbaks {
    		width: 100%;
    	}
    	.submitbttn img{
    		width: 100px;
    	}
    	.submitbttn{
    		width: 100%;
    		padding-top: 10px !important;
    		margin: auto !important;
    		text-align: center !important;
    	}
    	.signupko {
    		text-align: center;
    	}
    }


    @media screen and (max-width:640px) {
    	.fetmaincon {
    		font-size:60px;
    	}
    }
    @media screen and (max-width:625px) {
    	.leftbar {
    		width:100%;
    	}
    	.rightbar {
    		width:100%;
    	}
    }
    @media screen and (max-width:615px) {
    	.fetmaincon {
    		font-size:50px;
    	}
    	.featdesc {
    		font-size:20px;
    	}
    	.backgroundgreen {
    		height:400px;
    	}
    }
    @media screen and (max-width:580px) {
    	.inputertxt {
    		width:100%;
    	}
    	.submitbttn {
    		padding:0px;
    	}
    	.submittxt {
    		padding-left:10px;
    	}
    	.whoisecodefine {
    		width: 100%;
    	}
    }
    @media screen and (max-width:525px) {
    	.fetmaincon {
    		font-size:40px;
    	}
    	.featdesc {
    		font-size:18px;
    	}
    	.backgroundgreen {
    		height:320px;
    	}
    }
    @media screen and (max-width:449px) {
    	.donbut {
    		height:50px;
    		width:50px;
    	}
    	.whoiseco {
    		padding:10px;
    	}
    }
    @media screen and (max-width:437px) {
    	.backgroundgreen {
    		height:310px;
    	}
    }
    @media screen and (max-width:435px) {
    	.backgroundgreen {
    		height:270px;
    	}
    	.fetmaincon {
    		font-size:30px;
    	}
    	.featdesc {
    		font-size:14px;
    	}
    }
    @media screen and (max-width:410px) {
    	.imgcircle {
    		width:220px;
    		height:220px;
    	}
    }
    @media screen and (max-width:330px) {
    	.h2title {
    		font-size:18px;
    	}
    	.eco-col1 {
    		font-size:12px;
    	}
    	.eco-col2 {
    		font-size:12px;
    	}
    }
    @media screen and (max-width:360px) {
    	.imgcircle {
    		width:180px;
    		height:180px;
    	}
    }
    @media screen and (max-width:399px) {
    	/*.hidorange {
    		background: #efa945;
    		text-align: center;
    		height:25px;
    		width: 100%;
    		display:block;
    		}*/
    	}
    	@media screen and (max-width:394px) {
    		/*.headerBanner {
    			height:500px;
    			}*/
    		}
    		@media screen and (max-width:381px) {
    		/*.headerBanner {
    			height:380px;
    			}*/
    			.whoiseco {
    				font-size:32px;
    			}
    			.whoisecodefine {
    				font-size:12px;
    			}
    		}

    		@media screen and (max-width:350px) {
    			.backgroundgreen {
    				height:240px;
    			}
    			.fetmaincon {
    				font-size:20px;
    			}
    			.featdesc {
    				font-size:12px;
    			}
    		}
    		@media screen and (max-width:342px) {
    			.headerBanner .learn-more {
    				padding: 30px 0px 0px 0px;
    				float: left;
    			}

    			.headerBanner .learn-more img{
    				float:left;
    			}
    			.headerBanner .learn-more a{
    				padding: 10px 0px 0px 0px;
    				float: left;
    			}
    		}
    		@media screen and (max-width:335px) {
    			.h4midbody {
    				font-size:20px;
    			}
    		}
    		@media screen and (max-width:325px) {
    			.whoiseco {
    				font-size:32px;
    			}
    			.whoisecodefine {
    				font-size:12px;
    			}
    		}
    		@media screen and (max-width:322px) {
    			.headerBanner .learn-more {
    				padding: 30px 0px 0px 0px;
    				float: left;
    			}

    			.headerBanner .learn-more img{
    				float:left;
    			}
    			.headerBanner .learn-more a{
    				padding: 0px 0px 0px 0px;
    				float: left;
    			}
    		}
    		@media screen and (max-width:299px) {
    		/*.headerBanner {
    			height:450px;
    			}*/
    		}
    		@media screen and (max-width:276px) {
    		/*.headerBanner {
    			height:480px;
    			}*/
    		}
    		@media screen and (max-width:263px) {
    		/*.headerBanner {
    			height:540px;
    			}*/
    		}
    		@media screen and (max-width:209px) {
    		/*.headerBanner {
    			height:640px;
    			}*/
    		}
    		@media screen and (max-width:247px) {
    		/*.headerBanner {
    			height:610px;
    			}*/
    			.hidorange {
    				height:30px;
    			}
    		}
    		/* EFREN POGI*/

    		/* Smartphones (landscape) ----------- */
    		@media only screen  and (max-width : 1160px) {

    			.eco-container {
    				width: 90%
    			}


    		}

    		@media only screen  and (max-width : 1142px) {

    			.donateforbtn  {
    				padding-left: 4% !important;
    			}

    		}

    		@media only screen  and (max-width : 1093px) {

    			.donateforbtn  {
    				padding-left: 0% !important;
    				text-align: center;
    				margin: auto;
    				float:none;
    				margin-top:30px !important;
    				margin-bottom:5px !important;
    			}
    			#ecologo {
    				text-align: center;
    				margin: auto;
    				float:none;
    			}
    			.ecositenav{
    				width: 100%;
    				margin: auto;
    				float:none;
    			}
    			ul.dropdown li{
    				width: 14.2857142857%;
    			}

    		}

    		@media only screen  and (max-width : 1030px) {

    			.eco-container {
    				width: 90%
    			}

    		}

    		@media only screen  and (max-width : 920px) {
    			
    			.user-account{ 
    				margin-left:12%;
    			}

    		}

    		@media only screen  and (max-width : 900px) {
    			.p-h2{
    				padding-left: 50px;
    				padding-right: 50px;
    			}

    			#ecologo {
    				text-align: center;
    				margin: auto;
    				float:none;
    			}

    			.donateforbtn {
    				text-align: center;
    				margin: auto;
    				float:none;
    			}

    		}

    		@media only screen and (max-width: 846px){
    			.nav-w{
    				width: 95%;    				
    				margin: auto; 
    			}
    			nav {

    				margin-top: 0px;
    				padding-top: 20px;
    			}
    			.eco-container {
    				width: 100%;
    				padding: 0px 15px;
    			}
    			.eco-wrapper {
    				width: 100%;
    				padding: 20px 15px;
    			}

    			#ecologo {
    				text-align: center;
    				width: 80%;
    				/*height: 59px;*/
    				float:none;
    				margin: auto;
    				margin-top: 0px;
    			}


    			#ecologo img{
    				margin: auto;

    			}

    			.banner-define,
    			.banner-title {
    				padding-left: 30px;
    				padding-right: 30px;
    			}
    			.boxes,
    			.eco-upper-content {
    				padding-left: 30px;
    				padding-right: 30px;
    			}
    		}

    		@media only screen and (max-width: 783px){
    			ul.dropdown li .p{
    				font-size: 14px;
    			}

    		}

    		@media only screen and (max-width: 767px){
    			#ecologo{
    				margin-top: 30px !important;
    			}
    			.bluebar{
    				display:none;
    			}
    			.bluebar-iCare{
    				display:none;
    			}
    			.ecositenav{
    				display:none;
    			}
    			.ecositenav-iCare{
    				display:none;
    			}
    			.ecosite-stat{
    				/*display:none;*/
    			}
    			.ecosite-top{
    				display:none;
    			}
    			#ecologo{
    				display:none;
    			}
    			#ecologo-iCare{
    				display:none;
    			}
    			.iCare-user{
    				display:none;
    			}
    			.iCare-social{
    				display:none;
    			}
    			.mobileMenu {
    				display: block;
    			}

    			.side-mob-menu {
    				display: block;
    			}
    			.mob-ecologo {
    				display: block;
    			}
    			.headerBanner{
    				margin-top: 0px;
    			}
    			.donateforbtn {
    				margin-top: 0px !important;
    				padding-bottom: 5px !important;
    				padding-top: 15px !important;
    			}
    		}

    		@media only screen and (max-width: 718px){
    			ul.dropdown li .p{
    				font-size: 13px;
    			}
    		}

    		/* EFREN POGI END*/


    		/*USON @media*/
    		@media (max-width: 767px) {

    			.wd-tdc{				
    				width: 90%;
    				margin: auto;
    			}
    			.wd-tdl{				
    				width: 90%;
    				margin: auto;
    				float: none;
    			}
    			.wd-tdr{
    				width: 90%;
    				margin: auto;
    				float: none;
    			}
    			.eco-upper-content h1 {
    				text-align: center;
    			}
    			#physicaltrainingtext p {
    				padding: 30px 30px 30px 30px !important;
    			}
    			#rightcolumn {
    				width: 100% !important;
    			}
    			#rightcolumnimage {

    				/* padding: 0px 0px 0px 0px !important; */
    				margin: auto !important;
    			}

    			#awakening h1 {
    				padding: 20px 0px 20px 0px;
    				text-align: center;
    			}
    			#action h1 {
    				padding: 0px 0px 0px 0px;
    				text-align: center;
    			}

    			#mindbodytrainingimage,
    			#mindfulnesstrainingimage,
    			#physicaltrainingimage  {
    				width: 105px;
    				height: 105px;
    				padding: 10px 0px 30px 0px;
    				margin: auto !important;
    			}
    			#practiceskills h1,
    			#farming h1,
    			#volunteering h1,
    			#mindbodytrainingtext h1,
    			#mindfullnesstrainingtext h1,
    			#physicaltrainingtext h1 {
    				padding: 10px 0px 0px 0px !important;
    				text-align: center;
    			}
    			#practiceskills p,
    			#farming p,
    			#volunteering p,
    			#mindbodytrainingtext p,
    			#mindfullnesstrainingtext p,
    			#physicaltrainingtext p{
    				padding: 10px 30px 0px 30px !important;
    			}
    			#facebookicon,
    			#twittericon,
    			#linkedinicon  {
    				margin: 20px 50% 0px 50%;
    			}

    		}

    		@media (max-width: 746px) {
    			.toptop1 {
    				width: 30% !important;
    				margin: auto;
    			}
    			.toptop2 {
    				width: 40% !important;
    				margin: auto;
    			}
    			.toptop3 {
    				width: 30% !important;
    				margin: auto;
    			}
    		}
    		@media (max-width: 663px) {
    			.toptop1 {
    				width: 191px !important;
    				margin: auto;
    				padding-right: 0px;
    			}
    			.toptop2 {
    				width: 250px !important;
    				margin: auto;
    				padding-left: 0px;
    			}
    			.toptop3 {
    				width: 105px !important;
    				margin: auto;
    				float: right;
    				padding-right: 15px;
    				padding-left: 0px;

    			}
    		}
    		@media (max-width: 580px) {

    			.toptop1 {
    				width: 191px !important;
    				margin: auto;
    				float: none;
    				padding-top: 10px;
    				padding-bottom: 10px;
    			}
    			.toptop2 {
    				width: 280px !important;
    				margin: auto;
    				padding-top: 5px;
    				padding-bottom: 5px;
    				float: none;
    				text-align: center;
    				clear: both;
    			}
    			.toptop3 {
    				width: 120px !important;
    				margin: auto;
    				float: none;
    				padding-top: 10px;
    				padding-bottom: 10px;

    			}
    		}

    		@media (max-width: 900px) {
    			.donate_icon {
    				width: 247px !important;
    				margin: auto;
    			}
    		}
    		@media (max-width: 380px) {
    			#interior_text h1,
    			.eco-upper-content h1 {
    				text-align: center;
    				font-size: 25px;
    			}
    			.eco-p-lower h3,
    			.eco-p h3 {
    				font-size: 20px;
    			}
    			#interior_text h1 {
    				font-size: 30px !important;
    			}
    		}

    		@media (max-width: 360px) {

    			.notify-box-scroll{
    				height: 500px;
    				overflow: auto;
    			}
    		}

    		@media (max-width: 320px) {
    			.title-lower-bottom h1,
    			.title-lower h1 {
    				text-align: center;
    				font-size: 25px;
    			}
    			.notify-box-scroll{
    				height: 340px;
    				overflow: auto;
    			}
    		}
    		@media (max-width: 1010px) {
    			#container {
    				width: 97% !important;
    			}
    			#interior-text {
    				width: 500px !important;
    			}
    		}

    		@media (max-width: 800px) {
    			.donate {
    				width: 200px !important;
    				margin: auto;
    			}
    			.eco-p{
    				width: 100% !important;
    				padding: 20px;
    				margin: auto;
    				/* padding-left: 3%; */
    			}
    			.eco-thumbnail {
    				width: 100%;
    				margin: auto;
    				padding: 0px 100px 0px 100px;

    			}
    			.eco-thumbnail img {
    				width: 125px !important;
    				margin: auto !important;
    			}

    			.boxes h3 {
    				text-align: center;
    			}
    			.title-lower {
    				width: 200px !important;
    				margin-left: auto !important;
    				margin-right: auto !important;
    			}
    			.title-lower h1 {
    				width: 200px !important;
    				margin-left: auto !important;
    				margin-right: auto !important;
    			}
    			.title-lower-bottom{

    				width: 125px !important;
    				margin-left: auto !important;
    				margin-right: auto !important;
    			}


    		}

    		@media (max-width: 991px) {
    			#rightcolumnimage img {
    				width: 273px !important;
    				border-radius: 100%;
    			}
    			#rightcolumnimage img {
    				width: 273px !important;
    				border-radius: 100%;
    			}
    			.eco-thumbnail{
    				text-align: center;
    			}
    			.title-lower {
    				margin-top: 20px;
    				}.right-linerer{
    					width: 100% !important;
    					padding: 0px;
    					margin: auto;
    					float: none;

    				}
    				.left-linerer {
    					width: 100% !important;
    					padding: 0px;
    					margin: auto;
    					float: none;

    				}
    				.social-div{
    					width: 168px;
    					padding: 0px;
    					margin: auto;
    				}
    			}
    			@media (max-width: 360px) {
    				#rightcolumnimage img {
    					width: 220px !important;
    					border-radius: 100%;
    				}
    				.eco-thumbnail img{
    					width: 100px !important;
    					border-radius: 100%;

    				}
    				.eco-thumbnail {
    					width: 100%;
    					margin: auto;
    					padding: 0px 0px 0px 0px !important;


    				}
    				.banner-title{
    					font-size:45px;
    				}

    				#rightcolumnimage img {
    					width: 200px !important;
    					border-radius: 100%;
    				}
    			}
    			@media (max-width: 390px) {
    				.banner-title {
    					font-size: 40px;
    				}
    				.banner-define {
    					font-size: 15px;
    				}
    			}


    			@media (max-width : 1160px) {
    				.right-linerer{
    					width: 50px;
    					padding: 0px;
    					margin: auto;
    					float: none;

    				}
    				.left-linerer {
    					width: 50px;
    					padding: 0px;
    					margin: auto;
    					float: none;

    				}
    				.social-div{
    					width: 168px;
    					padding: 0px;
    					margin: auto;
    				}
    			}
    			/*USON @media end*/

    			@media (max-width : 689px) {
    				.learnheroes  a{
    					font-size: 16px;
    					font-family: 'Raleway', sans-serif;
    					font-weight:bold;
    					background-color:rgba(255, 157, 15, 0.7);
    					color: #fff;
    					text-align: center;
    					text-decoration:none;
    					padding:12px 47px;
    					border:2px solid #fff;
    					border-radius:40px;
    				}
    				.p-h2{
    					width: 100%;
    					font-size: 18px;
    				}
    			}

    			@media (max-width : 689px) {
    				.p-h2{
    					width: 100%;
    					font-size: 14px;
    					margin-bottom: -30px;
    				}
    			}

    			@media (max-width : 545px) {
    				.p-title {
    					font-size: 18px !important;
    					text-align: center;
    					color: #ffffff;
    				}
    			}
    			@media (max-width : 526px) {
    				.p-title {
    					padding: 0;
    				}
    				.p-h2{
    					padding: 0;
    				}
    				.learnheroes  a{
    					padding:12px 38px;
    				}
    			}

    			@media (max-width : 500px) {
    				.p-title {
    					font-size: 12px;
    				}
    				.p-h2{
    					font-size: 12px;
    				}
    				.banner-content-wrapper-green{
    					width: 100%;
    				}
    			}
    			@media (max-width : 480px) {
    				.p-title {
    					font-size: 12px !important;
    				}
    				.p-h2{
    					font-size: 10px;
    				}
    			}

    			@media (max-width : 394px) {
    				.learnheroes a{
    					font-size: 10px !important;
    					font-weight: normal !important;
    				}
    			}

    			@media (max-width : 373px) {
    				.p-h2{
    					width: 100%;
    					font-size: 12px;
    					margin-bottom: -30px;
    				}
    				.learnheroes{
    					margin-bottom: -30px;
    				}
    			}
    			@media (max-width : 360px) {
    				.donatenow  a{
    					padding:12px 40px;
    					border:2px solid #fff;
    					border-radius:10px;
    				}
    			}
    			@media (max-width : 348px) {
    				.learnheroes a{
    					font-size: 8px !important;
    				}
    			}
    			@media (max-width : 320px) {
    				.act {
    					padding-right: 20px;
    					padding-left: 20px;
    					padding-top: 20px;
    				}
    			}
    			@media (max-width : 290px) {
    				.donatenow  a{
    					font-size: 14px;
    					padding:12px 20px;
    					border:2px solid #fff;
    					border-radius:10px;
    				}
    			}
    			@media (max-width : 240px) {
    				.act {
    					padding-right: 10px;
    					padding-left: 10px;
    					padding-top: 20px;
    				}
    			}



#eco-content ul {
	list-style: circle;
	padding: 10px 0px 0px 20px;
}

.indented-article {
	margin-left: 7.2%;
}

#eco-regions .col-md-3 div {
	margin-bottom: 21.4333px;
}

#eco-regions span {
	font-size: 1em;
}

#eco-regions a {
	font-size: 1em;
}

#myCarousel {
	display: block;
	height: 100%;
}

#newslist {
	margin-bottom: 30px;
}

.navbar-default {
	border-color: #5386C1;
}

.navbar-brand p {
	color:#fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color:#ffffff!important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color:#5386C1!important;
}

.mbody, .mtitle {
	color:#000;
}
.mbody2, .mtitle2 {
	color:#fff;
}
.mbody2 {
	font-size: 18px;
	padding-top: 20px;
    font-size-adjust:0.45!important;
}
.mtitle2, .mclub2 {
	color:#fff;
    font-size-adjust:0.4;
}
/*hazel*/
.mclub2{
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    line-height: 70%;
}
 .wd20{
    width:20%;
    text-align: center;
  }
.club-name{
	font-size:36px;
	color:#5386c1 !important;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	line-height:30px;
	padding-top: 20px;
	margin:0px;
	padding-left: 25px;
}
.top-featured-desc{
	padding:3vw 2vw; 
}
.minustop-copy{
	margin-top: 26px;
	font-family: arial;
	color:white;
	text-align: left;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
 display: none !important;
}

/*hazel*/

@media screen and (max-width: 1084px) {
	#eco-regions span {
		font-size: 0.9em;
	}
	#article-container h3{
		font-size: 15px;
	}
}

@media screen and (max-width: 1047px){
	.slidedescoverlay {
		width: 160%;
	}
}

@media screen and (max-width: 991px) {
	#footer-mission-statement {
		width:100%;
	}

	#footer-mission-statement div{
		width: 100%;
	}

	#footer-navigation,
	#addus-navigation,
	#contactus-footer {
		width:30%;
	}

	#eco-regions .col-md-3 {
		float: left;
		width: 50%;
	}
	.featured-blog-img{
		width: 250px;
		height: 200px;
		margin:auto;
	}

	.boxdate{
		display: none;
	}
	.boxdate2{
		display: block;
	}
	.centers{
		font-size: 16px;
	}

	.news-thumb-container{
		position:relative;
		width: 100%;
		height: 100%;
	}

}

@media screen and (max-width: 980px) {
	.slidedescoverlay {
		width: 165%;
	}
}

@media screen and (max-width: 980px) {
	.slidedescoverlay {
		width: 165%;
	}
}
@media screen and (max-width: 930px) {
	
}


@media screen and (max-width: 837px) {
	.featured-blog-img{
		width: 250px;
		height: 200px;
		margin:auto;
	}
	/*hazel*/
	.featured-blog-summary{
		/*padding-left: 20%;
		padding-right: 20%;
		text-align: center;*/
		text-align: justify; 
	}
	.minustop-copy{
		text-align: center;
	}
	
	/*hazel*/

}

@media screen and (max-width: 779px) {
	.slidedescoverlay {
		width: 165%;
	}

	.mtitle {
		font-size: 37px;
	}
	.mtitle2{
		font-size: 37px;
	}
}

@media screen and (max-width: 772px) {
	.mclub2{
		font-size: 50px;
	}
}


@media screen and (max-width: 767px) {
	#article-container h3{
		font-size: 20px;
	}
	.boxdate{
		display: none;
	}
	.boxdate2{
		display: block;
	}
	img.author-img{
	width: 150px;
	border-radius: 150px;
	}
	.centers{
		text-align: center;
	}

	#eco-content ul {
		list-style: circle;
		padding: 10px 0px 0px 30px;
	}
	/*hazel*/
	.top-featured-desc{
		padding:0vw 5vw; 
	}
	.minustop-copy{
		margin-top: 0px;
		padding-top: 35px;
	}
	.featured-desc{
		padding:3vw 5vw 0vw 6vw!important; 
	}
	 .wd20{
    width:100%;
    text-align: center;
  }
}

@media screen and (max-width: 765px) {
	.slidedescoverlay {
		width: 170%;
	}
}

@media screen and (max-width: 700px){
	.banner-content-wrapper {
		width: 90%;
	}

	.slidedescoverlay {
		width: 173%;
	}

	.mtitle{
		font-size: 30px;
	}
	.mtitle2{
		font-size: 30px;
	}
}

@media screen and (max-width: 686px) {

	img.sublink-img {
		width: 154px;
		height:154px;
	}
}

@media screen and (max-width: 679px) {

	#newslist .pad2{
		padding-left: 15px;
	}

	#newslist .col-xs-3 {
		padding-right: 0px;
	}

	#eco-content ul a{
		font-size: 12px;
	}
}

@media screen and (max-width: 686px) {

	img.sublink-img {
		width: 154px;
		height:154px;
	}
}

@media screen and (max-width: 661px) {
	.mclub2{
		font-size: 45px;
	}
}
@media screen and (max-width: 607px) {
	.mclub2{
	 font-size: 40px;
	}
}
@media screen and (max-width: 550px) {
	.mclub2{
	 line-height: 90%;
	}
	.club-wrapper{
		height:120px;
	}
	.club-text-big {
		font-size: 70px;
	}
}
@media screen and (max-width: 411px) {
	.club-wrapper{
		height:160px;
	}
	.club-text-big {
		font-size: 50px;
	}
}

@media screen and (max-width: 619px) {

	.slidedescoverlay {
		width: 190%;
	}

}

@media screen and (max-width: 692px) {

	.wd20{
		width:inherit;
	}
}

@media screen and (max-width: 609px) {

	#donation-banner-title {
		font-size: 30px!important;
	}
}

@media screen and (max-width: 592px) {

	img.sublink-img {
		width: 154px;
		height:154px;
	}
}

@media screen and (max-width: 579px) {
	#circle-links .title1{
		font-size: 13px;
	}

	.slidedescoverlay {
		width: 205%;
	}
}

@media screen and (max-width:583px) {
	.videoyb {
		height: 320px;
	}

	img.sublink-img {
		width: 154px;
		height:154px;
	}

	.mtitle {
		font-size: 25px;
	}
	.mtitle2 {
		/*font-size: 25px;*/
	}
}

@media screen and (max-width:567px) {
	.videoyb {
		height: 300px;
	}

	#sub-content {
		font-size: 26px!important;
	}
	
	.top-featured-desc,.featured-desc{
		text-align: center!important; 
	}
}

@media screen and (max-width: 540px){
	#donation-banner-title {
		font-size: 28px!important;
	}

	#sub-content {
		font-size: 24px!important;
	}
	.featured-blog-img{
		width: 100%;
		height: 200px;
		margin:auto;
	}
	.featured-blog-summary{
		padding-left: 0%;
		padding-right: 0%;
		text-align: center;
	}
}

@media screen and (max-width:529px) {
	.videoyb {
		height: 280px;
	}

	.slidedescoverlay {
		width: 218%;
	}

	img.sublink-img {
		border-width:4px;
	}

	#latestlist {
		width: 100%;
	}

	#newslist .col-xs-3 {
		width: 100%;
	}

	#newslist .col-xs-3 ul{
		padding-left: 30px;
	}

	#newslist .col-xs-3 ul a {
			font-size: 15px;
	}

	img.sublink-img {
		width: 154px;
		height:154px;
	}
}

@media screen and (max-width: 516px) {

	#circle-links .col-xs-4 {
		width:100%;
	}

	img.sublink-img {
		width: 154px;
		height:154px;
	}

	.mtitle {
		font-size: 23px;
	}
	.mtitle2 {
		/*font-size: 23px;*/
	}

	#donation-banner-title {
		font-size: 26px!important;
	}

	#sub-content {
		font-size: 22px!important;
	}

}

@media screen and (max-width:486px) {
	.videoyb {
		height: 260px;
	}

	#eco-regions .col-md-3 {
		float: left;
		width: 100%;
	}

	.slidedescoverlay {
		width: 245%;
	}


	#donation-banner-title {
		font-size: 24px!important;
	}

	#sub-content {
		font-size: 20px!important;
	}
}

@media screen and (max-width:459px) {
	.videoyb {
		height: 240px;
	}

	#footer-navigation,
	#addus-navigation {
		width: 50%;
	}

	#contactus-footer {
		width:100%;
	}

	.slidedescoverlay {
		width: 265%;
	}

	.mtitle {
		font-size: 20px;
	}

	.mtitle2 {
		/*font-size: 20px;*/
	}

	#donation-banner-title {
		font-size: 22px!important;
	}

	#sub-content {
		font-size: 18px!important;
	}
}

@media screen and (max-width: 431px){
	#donation-banner-title {
		font-size: 20px!important;
	}

	#sub-content {
		font-size: 16px!important;
	}
}

@media screen and (max-width:420px) {
	.videoyb {
		height: 220px;
	}

	#circle-links .title1{
		font-size: 12px;
	}

	.slidedescoverlay {
		width: 310%;
	}

	img.sublink-img {
		border-width:3px;
	}

	.carousel, .carousel-inner, .item {
		height: 400px!important;
	}
}

@media screen and (max-width: 403px){
	#donation-banner-title {
		line-height: 26px!important;
	}
}

@media screen and (max-width:400px) {
	.slidedescoverlay {
		width: 340%;
	}
	.cntnttitle-copy{
		font-size: 60px;
	}
	.featured-desc{
		padding: 0px 20px!important;
	}
}

@media screen and (max-width:387px) {
	.videoyb {
		height: 200px;
	}

	#eco-content ul {
		list-style: circle;
		padding: 10px 0px 0px 25px;
	}

	.slidedescoverlay {
		width: 375%;
	}

	.mtitle {
		font-size: 18px;
	}

	.mtitle2 {
		/*font-size: 18px;*/
	}
}

@media screen and (max-width:373px) {
	.slidedescoverlay {
		width: 405%;
	}
}

@media screen and (max-width:365px) {
	div span u strong a {
		font-size: 90%;
	}

	.mtitle {
		font-size: 16px;
	}

	.mtitle2 {
		/*font-size: 16px;*/
	}
}

@media screen and (max-width:357px) {
	.mbody {
		padding-bottom: 10px!important;
	}

	.learnheroes {
		margin-top: 20px!important;
	}
}

@media screen and (max-width:353px) {
	.videoyb {
		height: 180px;
	}

	.slidedescoverlay {
		width: 460%;
		max-height: 320px;
	}
}

@media screen and (max-width:340px) {

	#circle-links .title1{
		font-size: 11px;
	}

	.slidedescoverlay {
		width: 550%;
	}
}

@media screen and (max-width: 334px){

	div span u strong a {
		font-size: 85%;
	}
}

@media screen and (max-width:330px) {

	#circle-links .title1{
		font-size: 11px;
	}

	.slidedescoverlay {
		width: 625%;
	}

	img.sublink-img {
		border-width:2px;
	}

	.slidedescoverlay {
		width: 250px;
	}
}


@media screen and (max-width:320px) {
	.videoyb {
		height: 160px;
	}

	.slidedescoverlay {
		width: 230px;
	}

	.mtitle {
		font-size: 18px;
	}

	.mtitle2 {
		/*font-size: 18px;*/
	}

	.carousel, .carousel-inner {
		height:
	}

	.slidedescoverlay {
		width: 230px;
	}
}

@media screen and (max-width: 312px) {
	.mbody {
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 310px){

	.slidedescoverlay {
		width: 210px;
	}

	.mtitle {
		font-size: 14px;
	}

	.mtitle2 {
		/*font-size: 14px;*/
	}

	.learnheroes {
		margin-bottom: 10px!important;
	}
}

@media screen and (max-width: 288px){

	.slidedescoverlay {
		width: 210px;
	}

	.learnheroes {
		margin-top: 9px!important;
	}
}

@media screen and (max-width: 279px){

	.slidedescoverlay {
		width: 210px;
	}

	.carousel-caption {
		top:8%!important;
	}

	.carousel, .carousel-inner, .item {
		height: 360px!important;
	}
}

@media screen and (max-width: 269px){

	.slidedescoverlay {
		width: 190px;
	}

	.mbody {
		font-size: 9.5px!important;
		margin-bottom: 20px!important
	}

	.orangebarko a {
		/*font-size: 13px!important;*/
	}
}

@media screen and (max-width: 253px){

	.orangebarko a {
		/*font-size: 11px!important;*/
	}

}


.ac-container{
	width: 100%;
	margin: 10px auto 30px auto;
}
.ac-container label{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 40px;
	cursor: pointer;
	color: black;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	background: #D3D3D3;
	font-weight: bold;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
	background: #D3D3D3;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	/*background: #c6e1ec;
	color: #3d7489;*/
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(/images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(/images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	transition: 
		height 0.3s ease-in-out, 
		box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
	transition: 
		height 0.5s ease-in-out, 
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.ac-container input:checked ~ article.ac-small{
	height: 100%;
	padding:20px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 100%;
	padding:20px;
}
.ac-container input:checked ~ article.ac-large{
	height: 100%;
	padding:20px;
}

/* FOR ECO ATW CSS - RYAN JERIC //////////////////////////////////////////////////////////////////////////////////////////*/
.bgatw{
	width: 100%;height: 100px;background-size: cover; background-position:center center; position: relative;
}
.orgtitle{
	color: white;
	font-size: 70px;
	font-weight: bold;
}
.atwbanger{
	width: 100%;
	height: 300px;
	background-size: cover; 
	background-position:center center;
	position: relative;
	padding-top:50px;
	text-align:center;
}
.atwbangerdesc{
	color: black;
	font-size: 23px;
	font-weight: bolder;
}
.atwflag{
	width: 200px;
	height: auto;
	position: absolute;
	left: 12%;
	bottom: -48px;
	border: solid #DCDCDC 2px;
}
.atwcontent{
	padding-top:9px;
	text-align: center;
}
.atwtit{
	font-size: 25px;
}
.tabrad{
	width: 100%;
	text-align: center;
	border-radius: 20px 20px 0px 0px !important;
	border-width: 7px 7px 0px 7px !important;
}
.padatw{
	padding: 0px 20px 0px 20px;
}
.tabmargn{
	margin-top: 25px;
}
.marginbot{
	margin-bottom: 50px
}
.atwtitalign{
	text-align: left
}
.litab{
	width: 33.33%;
}
[bold]{
	font-weight: bold;
}
/* //////////////////////////////////////////////////////////////////////////// */

.atwstatbox{
	background: #FF9D0F;
	margin-top: 35px;
}
.atwstats {
	width: 100px;
	height: 74px;
	padding: 0px 20px;
	padding-bottom: 12px;
	float: left;
	margin-left: 5%;
}

.atwstattitle {
	margin: 12px 39px;
	text-align: left;
	color: white;
	font-size: 1vw;
	font-weight: bold;
}

.atwboxtextalign{
	text-align: left
}
.countfontsz{
	font-size:25px;
}
.countdescsz{
	font-size:15px;
}

@media (max-width: 1070px) {
	.countdescsz {
    font-size: 13px;
	}
}
@media (max-width: 999px) {
	.atwtit {
		font-size: 20px;
		margin-left: 20px;
	}
}

@media (max-width: 767px) {
	.atwflag {
		width: 200px;
		height: auto;
		position: absolute;
		left: 50%;
		right: 50%;
		bottom: -121px;
		border: solid #DCDCDC 2px;
		transform: translate(-50%, -50%);
	}
	.atwbangerdesc {
		color: black;
		font-size: 3vw !important;
	}
	.atwtitalign{
		padding: 75px 0px 20px 0px;
		text-align: center;
	}
	.atwstattitle{
		text-align: left !important;
	}
	.bgatw {
		width: 100%;
		height: auto;
	}
	.orgtitle{
		font-size: 3vh !important;
	}
	.litab{
		width: 100%;
	}
}

@media (max-width: 967px){
	.full_w{
		width:100%;
	}
	.atwstattitle{
		font-size:20px;
		text-align: left !important;
	}
}
@media (max-width: 305px){
	.smsize{
		font-size: 11px !important;
	}
	.atwtit {
		font-size: 15px;
	}
	.litab{
		font-size: 12px;
	}
	.atwbanger{
		padding-top: 15px !important;
	}
}
