<script type="text/ng-template" id="myProj.html">
  <div ng-include="'/tpl/myProj.html'"></div>
</script>
<script type="text/ng-template" id="viewMyProfile.html">
  <div ng-include="'/tpl/viewMyProfile.html'"></div>
</script>
<script type="text/ng-template" id="changeMemberPass.html">
  <div ng-include="'/tpl/changeMemberPass.html'"></div>
</script>
<script type="text/ng-template" id="deleteMyProj.html">
  <div ng-include="'/tpl/deleteMyProj.html'"></div>
</script>
<script type="text/ng-template" id="myNotification.html">
  <div ng-include="'/tpl/myNotification.html'"></div>
</script>
<script type="text/ng-template" id="deleteMyVideo.html">
  <div ng-include="'/tpl/deleteMyVideo.html'"></div>
</script>
<div class="container-fluid" id="iCare-menu-false">
  <div class="eco-container top ecosite-top">
    <div class="row">
      <div class="col-xs-3 toptop1">
        <div class="top-contact" style="float: left;">
          <span><a href="mailto:info@earthcitizens.org" style="color: #5386C1 "><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@earthcitizens.org</a></span>
        </div>
      </div>
      <!-- <div class="col-xs-3 toptop2"> -->
        <!-- <div class="top-contact" style="text-align:center;"> -->
          <!-- <span style="color: #5386C1;  "><i class="fa fa-user"> </i>&nbsp;&nbsp;Earth Citizens Count: <span ng-bind="userscount"></span></span> -->
          <!-- <span style="color: #5386C1;  " class="join"><a ng-href="{[{BASE_URL}]}/donation/##new-account">Join</a></span> -->

              <!-- <button id="showLeft">Menu</button> -->
              
          <!-- <button id="showLeftPush">Menu</button> -->
        <!-- </div> -->

      <!-- </div> -->
      <div class="col-xs-6 center" style="padding-top:5px">
      <center>
        <div class="top-social-icon" style="text-align: center;" ng-if="agent == null">
          <div class="btn-user-panel dropdown" style="float: left; margin-left:27%;">
          <!-- <span>&nbsp;&nbsp;&nbsp;Hello,</span>
          <span>&nbsp;&nbsp;Sign In</span>
          <span>&nbsp;<a class="dropdown-toggle">Your Account  </a> -->
           <span class="">Hello,</span>
            <span class="">&nbsp;&nbsp;Sign In</span>
          <a class="dropdown-toggle">
            <span class="">Your</span> <span class="">Account</span>  
          </a>
          <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
              <span class="caret agent-caret"></span>
            </a>
          
          <div class="dropdown-menu animated fadeInUp user-panel mob-options" style="width:200px;margin-left:0px;text-align:center">
              <div class="" style="padding:20px;">
                <div class="btnheroes"> <a href="<?php echo $baseURL; ?>/login" style="color:#fff;"> Sign In </a> </div>
                <div style="padding-top:15px"><a href="<?php echo $baseURL; ?>/earth-citizenship"> Register </a></div>
              </div>
          </div>
        </div>
        </div>
        <div class="top-social-icon" style="text-align: center;" ng-if="agent" ng-cloak>
          <div class="btn-user-panel dropdown user-account">
            <!-- <a class="dropdown-toggle"> -->
              Hello, <span ng-bind="agent.firstname | capfirst"></span> <span ng-bind="agent.lastname | capfirst"></span>
            <!-- </a> -->
            <a class="dropdown-toggle">
              <span class="">Your</span> <span class="">Account</span>  
            </a>
            <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
              <span class="caret agent-caret"></span>
            </a>
            <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm dropdown-toggle cursor-pointer">
              <!-- <img src="{[{amazonlink}]}/uploads/memberphotos/{[{agent.photo}]}" ng-if="agent.photo != null" alt="..."> -->
              <div style="background-image:url('{[{amazonlink}]}/uploads/memberphotos/{[{agent.photo}]}');background-size: cover;
             background-position: center;width:35px;height:35px;border-radius:500px;margin-top:15%"></div>
            </span>
            <div class="dropdown-menu w-xl animated fadeInUp user-panel mob-options">
              <div class="panel bg-white">
                <div class="list-group">
                  <a class="list-group-item" href="<?php echo $baseURL; ?>/projects/createproject">Create my own Project</a>
                  <a class="list-group-item" href="" ng-click="myproj()">See my Projects</a>
                  <a class="list-group-item" href="<?php echo $baseURL; ?>/medialibrary/mymedialibrary">My Media library</a>
                  <a class="list-group-item" href="" ng-click="viewmyprof()">My Profile</a>                  
                  <a class="list-group-item" href="" ng-click="logout()">Logout</a>
                </div>
              </div>
            </div>
          </div>

          <div class="dropdown" style="float: left;">
            <a href="" class="dropdown-toggle nodec" aria-haspopup="true" aria-expanded="false">
              <i class="icon-bell fa-fw"></i>
              <span id="notify" class="badge badge-sm up bg-danger pull-right-xs" ng-bind="notiCount" ng-show="notiCount > 0"></span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp user-panel user-drop mob-options">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>
                    You have 
                    <span ng-bind="notiCount"></span> 
                    <span ng-show="notiCount > 1">notifications</span>             
                    <span ng-show="notiCount <= 1">notification</span> 
                  </strong>
                </div>
                <div class="list-group">
                  <div ng-repeat="myNotes in myNotes">
                    <a href="" class="media list-group-item" ng-click="clickNotify(agent.username,myNotes.projSlugs,myNotes.slugs,myNotes.noteType,myNotes.noteID,'1')">
                      <span class="media-body block m-b-none">
                        <span ng-bind="myNotes.content"></span><br>
                        <small class="text-muted">
                          <span ng-show="myNotes.noteType == '5'" class="label bg-primary">Donation</span>
                          <span ng-show="myNotes.noteType == '6'" class="label bg-success">Project | Completed</span>
                          <span ng-show="myNotes.noteType == '1'" class="label bg-success">Project | Approved</span>
                          <span ng-show="myNotes.noteType == '3'" class="label bg-danger">Project | Disapproved</span>
                          <span ng-show="myNotes.noteType == '11'" class="label bg-success">Video| Approved</span>
                          <span ng-show="myNotes.noteType == '10'" class="label bg-danger">Video | Disapproved</span>
                          <span ng-click="markNotify(myNotes.noteID,'1')" class="label mark-readed" title="mark as read"><i class="fa fa-bookmark-o"></i></span>
                        </small>
                        <small class="text-muted pull-right">
                          <timer start-time="myNotes.timeStarted |charToint">
                            <span ng-show="days > 0">
                              <span ng-show="days == 1">a day ago</span>
                              <span ng-show="days > 1">{[{days}]} days ago</span>
                            </span>
                            <span ng-show="hours > 0 && days == 0">
                              <span ng-show="hours == 1">an hour ago</span>
                              <span ng-show="hours > 1">{[{hours}]} hours ago</span>
                            </span>
                            <span ng-show="minutes > 0  && hours == 0">
                              <span ng-show="minutes == 1">a minute ago</span>
                              <span ng-show="minutes > 1">{[{minutes}]} minutes ago</span>
                            </span>
                            <span ng-show="seconds > 0  && minutes == 0">
                              a seconds ago
                            </span>
                          </timer>
                        </small>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="panel-footer text-sm">
                  <a href="" ng-click="myNotification()">See all the notifications</a>
                </div>
              </div>
            </div>
            <!-- / dropdown -->
          </div>
          
        </div>
        </center>
      </div>
      <div class="col-xs-3 toptop3" style="padding-top:5px">
        <div class="top-social-icon" style="text-align: right;">
          <span>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/user/goearthcitizens"><i class="fa fa-youtube"></i></a></span>
          <span>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/EarthCitizensOrganization" ><i class="fa fa-facebook"></i></a></span>
          <span>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/goearthcitizens" ><i class="fa fa-twitter"></i></a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" ng-controller="MenuCtrl">
  <div class="navsticky navhide" id="iCare-menu-false">
    <div class="eco-container">
      <div id="ecologo">
        <a href="<?php echo $this->config->application->baseURL; ?>"><img  class="logo-size" src="/images/template_images/ecologo1.png" style="width:115px;"></a>
      </div>
      <div class="ecositenav">
        <input type="hidden" id="shortCode" value="[mainmenu]" ng-model="shortCode"> 
        <nav class="nav nav-w">
          <ul class="dropdown">
            <li class="drop" ng-repeat="webmenu in webmenu">
              <a ng-show="webmenu.newtab == 'true'" href='{[{webmenu.sublink}]}' target="_blank">
                <div id="menu_icon_about" class="menudiv2">                                    
                  <div class="menuicon2" style="background:url('{[{ amazonlink }]}/uploads/menulogo/{[{ webmenu.logo }]}') 0px 0px;background-size: 132px 90px;"></div>
                  <div class="p" ng-bind="webmenu.subname"></div>
                </div>
              </a>
              <a ng-show="webmenu.newtab == 'false'" href='{[{webmenu.sublink}]}'>
                <div id="menu_icon_about" class="menudiv2">                                    
                  <div class="menuicon2" style="background:url('{[{ amazonlink }]}/uploads/menulogo/{[{ webmenu.logo }]}') 0px 0px;background-size: 132px 90px;"></div>
                  <div class="p" ng-bind="webmenu.subname"></div>
                </div>
              </a>
              <ul class="sub_menu">
                <li ng-repeat="sub1 in webmenu.children">
                  <a ng-show="$first && sub1.newtab == 'true'" style="padding-top: 15px;" href='{[{sub1.sublink}]}' target="_blank" ng-bind="sub1.subname"></a>
                  <a ng-show="$first && sub1.newtab == 'false'"style="padding-top: 15px;" href='{[{sub1.sublink}]}' ng-bind="sub1.subname"></a>
                  <a ng-show="!$first && sub1.newtab == 'true'" href='{[{sub1.sublink}]}' target="_blank" ng-bind="sub1.subname"></a>
                  <a ng-show="!$first && sub1.newtab == 'false'" href='{[{sub1.sublink}]}'><span ng-bind="sub1.subname"></span></a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="clearfix"></div>
        </nav>
      </div>
      <div class="clearfix"></div>
    </div>  
    <div class="container-fluid"><div class="bluebar"></div></div>    
  </div> 

  <!-- iCare menu -->
  <div class="navsticky-iCare navsticky-iCare2 menu-false" id="iCare-menu-true">
    <div class="eco-container-iCare">
      <div id="ecologo-iCare">
        <a href="<?php echo $this->config->application->baseURL; ?>">
          <img class="iCare-eco-logo" src="/images/template_images/ecologo-blue-iCare.png">
        </a>
      </div>
      <div class="ecositenav-iCare">
        <input type="hidden" id="shortCode" value="[mainmenu]" ng-model="shortCode"> 
        <nav class="nav iCare-nav iCare-nav-nav">
          <ul class="dropdown">
            <li class="drop" ng-repeat="webmenu in webmenu">
              <a ng-show="webmenu.newtab == 'true'" href='{[{webmenu.sublink}]}' target="_blank">
                <div id="menu_icon_about" class="menudiv2">          
                  <div class="m-p" ng-bind="webmenu.subname"></div>
                </div>
              </a>
              <a ng-show="webmenu.newtab == 'false'" href='{[{webmenu.sublink}]}'>
                <div id="menu_icon_about" class="menudiv2">           
                  <div class="m-p" ng-bind="webmenu.subname"></div>
                </div>
              </a>
              <ul class="sub_menu">
                <li ng-repeat="sub1 in webmenu.children">
                  <a ng-show="$first && sub1.newtab == 'true'" style="padding-top: 15px;" href='{[{sub1.sublink}]}' target="_blank" ng-bind="sub1.subname"></a>
                  <a ng-show="$first && sub1.newtab == 'false'"style="padding-top: 15px;" href='{[{sub1.sublink}]}' ng-bind="sub1.subname"></a>
                  <a ng-show="!$first && sub1.newtab == 'true'" href='{[{sub1.sublink}]}' target="_blank" ng-bind="sub1.subname"></a>
                  <a ng-show="!$first && sub1.newtab == 'false'" href='{[{sub1.sublink}]}'><span ng-bind="sub1.subname"></span></a>
                </li>
              </ul>
            </li>
          </ul>
          <!-- <div class="clearfix"></div> -->
        </nav>
      </div>
      <div class="iCare-user">
        <div  class="iCare-user-nav" ng-if="agent == null">
          <div class="btn-user-panel dropdown" style="float: left;">
            <a class="dropdown-toggle">
            <span class="new-user-account m-p">Hello,</span>
            <span class="new-user-account2 m-p">&nbsp;&nbsp;Sign In</span>
            <span class="new-user-account3 m-p">Your</span> <span class="">Account</span>  
            </a>
            <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
              <span class="caret agent-caret"></span>
            </a>
            <div class="dropdown-menu animated fadeInUp user-panel mob-options" style="width:200px;margin-left:0px;text-align:center">
              <div class="" style="padding:20px;">
                <div class="btnheroes"> <a href="<?php echo $baseURL; ?>/login" style="color:#fff;"> Sign In </a> </div>
                <div style="padding-top:15px"><a href="<?php echo $baseURL; ?>/earth-citizenship"> Register </a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="iCare-user-nav" ng-if="agent">
          
          <div class="btn-user-panel dropdown" style="float: left;">
            <a class="dropdown-toggle user-name-info">
              Hello, <span ng-bind="agent.firstname | capfirst"></span> <span ng-bind="agent.lastname | capfirst"></span>
            </a>
            <a class="dropdown-toggle user-name-info" aria-haspopup="true" aria-expanded="false">
              <span class="caret agent-caret"></span>
            </a>
            <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm dropdown-toggle cursor-pointer r-v">
              <!-- <img src="{[{amazonlink}]}/uploads/memberphotos/{[{agent.photo}]}" ng-if="agent.photo != null" alt="..."> -->
              <div style="background-image:url('{[{amazonlink}]}/uploads/memberphotos/{[{agent.photo}]}');background-size: cover;
             background-position: center;width:35px;height:35px;border-radius:500px;margin-top:15%"></div>
            </span>
            <div class="dropdown-menu w-xl animated fadeInUp user-panel user-drop mob-options iCare-user-nav-dp">
              <div class="panel bg-white">
                <div class="list-group">
                  <a class="list-group-item" href="<?php echo $baseURL; ?>/projects/createproject">Create my own Project</a>
                  <a class="list-group-item" href="" ng-click="myproj()">See my Projects</a>
                  <a class="list-group-item" href="<?php echo $baseURL; ?>/medialibrary/mymedialibrary">My Media library</a>
                  <a class="list-group-item" href="" ng-click="viewmyprof()">My Profile</a>                  
                  <a class="list-group-item" href="" ng-click="logout()">Logout</a>
                </div>
              </div>
            </div>
          </div>

          <div class="dropdown" style="float: left;padding-left:10px;">
            <a href="" class="dropdown-toggle nodec" aria-haspopup="true" aria-expanded="false">
              <i class="icon-bell fa-fw"></i>
              <span id="notify" class="badge badge-sm up bg-danger pull-right-xs" ng-bind="notiCount" ng-show="notiCount > 0"></span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp user-panel user-drop mob-options iCare-user-nav-dp">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>
                    You have 
                    <span ng-bind="notiCount"></span> 
                    <span ng-show="notiCount > 1">notifications</span>             
                    <span ng-show="notiCount <= 1">notification</span> 
                  </strong>
                </div>
                <div class="list-group">
                  <div ng-repeat="myNotes in myNotes">
                    <a href="" class="media list-group-item">
                      <span class="media-body block m-b-none">
                        <span ng-click="clickNotify(agent.username,myNotes.projSlugs,myNotes.noteType,myNotes.noteID,'1')" ng-bind="myNotes.content"></span><br>
                        <small class="text-muted">
                          <span ng-show="myNotes.noteType == '5'" class="label bg-primary">Donation</span>
                          <span ng-show="myNotes.noteType == '1'" class="label bg-success">Project | Approved</span>
                          <span ng-show="myNotes.noteType == '3'" class="label bg-danger">Project | Disapproved</span>
                          <span ng-show="myNotes.noteType == '11'" class="label bg-success">Video| Approved</span>
                          <span ng-show="myNotes.noteType == '10'" class="label bg-danger">Video | Disapproved</span>
                          <span ng-click="markNotify(myNotes.noteID,'1')" class="label mark-readed" title="mark as read"><i class="fa fa-bookmark-o"></i></span>
                        </small>
                        <small class="text-muted pull-right">
                          <timer start-time="myNotes.timeStarted |charToint">
                            <span ng-show="days > 0">
                              <span ng-show="days == 1">a day ago</span>
                              <span ng-show="days > 1">{[{days}]} days ago</span>
                            </span>
                            <span ng-show="hours > 0 && days == 0">
                              <span ng-show="hours == 1">an hour ago</span>
                              <span ng-show="hours > 1">{[{hours}]} hours ago</span>
                            </span>
                            <span ng-show="minutes > 0  && hours == 0">
                              <span ng-show="minutes == 1">a minute ago</span>
                              <span ng-show="minutes > 1">{[{minutes}]} minutes ago</span>
                            </span>
                            <span ng-show="seconds > 0  && minutes == 0">
                              a seconds ago
                            </span>
                          </timer>
                        </small>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="panel-footer text-sm">
                  <a href="" ng-click="myNotification()">See all the notifications</a>
                </div>
              </div>
            </div>
            <!-- / dropdown -->
          </div>
          
        </div>
      </div>
      <div class="iCare-social">
        <div class="iCare-social-nav">
          <span>&nbsp;&nbsp;<a href="https://www.youtube.com/user/goearthcitizens" target="_blank"><i class="fa fa-youtube"></i></a></span>
          <span>&nbsp;&nbsp;<a href="https://www.facebook.com/EarthCitizensOrganization" target="_blank"><i class="fa fa-facebook"></i></a></span>
          <span>&nbsp;&nbsp;<a href="https://twitter.com/goearthcitizens" target="_blank"><i class="fa fa-twitter"></i></a></span>
        </div>
      </div>
    </div>  
    <div class="container-fluid"><div class="whitebar-iCare"></div></div>    
  </div>    
</div>

<div class="container-fluid mobileMenu mobileMenu2 navsticky-iCare">
  <div class="">
    <div class="mobileMenu mobileMenu2">
      <nav role="navigation" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header text-right">
          <a href="<?php echo $this->config->application->baseURL; ?>" class="navbar-brand">
            <img  class="logo-size" src="/images/template_images/ecologo-white.png">
          </a>

          <div class="mob-user-section" ng-if="agent">
            <!-- <div class="col-xs-3"> -->
              <div class="btn-user-panel dropdown mob-cog">
                <a class="dropdown-toggle mob-link mob-menu-icon">
                  <i class="glyphicon glyphicon-cog"></i>
                </a>

                <div class="dropdown-menu w-xl animated fadeInUp user-panel mob-user-prof mob-options">
                  <div class="panel bg-white">
                    <div class="list-group">
                      <a class="list-group-item" href="<?php echo $baseURL; ?>/projects/createproject">Create my own Project</a>
                      <a class="list-group-item" href="" ng-click="myproj()">See my Projects</a>
                      <a class="list-group-item" href="<?php echo $baseURL; ?>/medialibrary/mymedialibrary">My Media library</a>
                      <a class="list-group-item" href="" ng-click="viewmyprof()">My Profile</a>                  
                      <a class="list-group-item" href="" ng-click="logout()">Logout</a>
                    </div>
                  </div>
                </div>
              </div>
            <!-- </div> -->
            <!-- <div class="col-xs-3"> -->
              <div class="dropdown mob-bell">
                <a href="" class="dropdown-toggle nodec mob-link mob-menu-icon" aria-haspopup="true" aria-expanded="false">
                  <i class="icon-bell fa-fw"></i>          
                  <span id="notify" class="badge badge-sm up2 bg-danger pull-right-xs" ng-bind="notiCount" ng-show="notiCount > 0"></span>
                </a>
                <!-- dropdown -->
                <div class="dropdown-menu w-xl animated fadeInUp user-panel mob-user-note mob-options">
                  <div class="panel bg-white">
                    <div class="panel-heading b-light bg-light">
                      <strong>
                        You have 
                        <span ng-bind="notiCount"></span> 
                        <span ng-show="notiCount > 1">notifications</span>             
                        <span ng-show="notiCount <= 1">notification</span> 
                      </strong>
                    </div>
                    <div class="list-group">
                      <div ng-repeat="myNotes in myNotes">
                        <a href="" class="media list-group-item" ng-click="clickNotify(agent.username,myNotes.projSlugs,myNotes.noteType,myNotes.noteID)">
                          <span class="media-body block m-b-none">
                            <span ng-bind="myNotes.content"></span><br>
                            <small class="text-muted">
                              <span ng-show="myNotes.noteType == '5'" class="label bg-primary">Donation</span>
                              <span ng-show="myNotes.noteType == '1'" class="label bg-success">Approved</span>
                              <span ng-show="myNotes.noteType == '3'" class="label bg-danger">Disapproved</span>
                            </small>
                            <small class="text-muted pull-right">
                              <timer start-time="myNotes.timeStarted |charToint">
                                <span ng-show="days > 0">
                                  <span ng-show="days == 1">a day ago</span>
                                  <span ng-show="days > 1">{[{days}]} days ago</span>
                                </span>
                                <span ng-show="hours > 0 && days == 0">
                                  <span ng-show="hours == 1">an hour ago</span>
                                  <span ng-show="hours > 1">{[{hours}]} hours ago</span>
                                </span>
                                <span ng-show="minutes > 0  && hours == 0">
                                  <span ng-show="minutes == 1">a minute ago</span>
                                  <span ng-show="minutes > 1">{[{minutes}]} minutes ago</span>
                                </span>
                                <span ng-show="seconds > 0  && minutes == 0">
                                  a seconds ago
                                </span>
                              </timer>
                            </small>
                          </span>
                        </a>
                      </div>
                    </div>
                    <div class="panel-footer text-sm">
                      <a href="" ng-click="myNotification()">See all the notifications</a>
                    </div>
                  </div>
                </div>
                <!-- / dropdown -->
              </div>
            <!-- </div> -->
            <div class="col-xs-3">
              
            </div>
          </div>
          <button class="mob-menu-button" type="button" id="showLeft">
            <i class="fa fa-bars"></i>
          </button>
        </div>        
      </nav>
    </div>
  </div>
</div>

<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left mob-mob side-mob-menu" id="cbp-spmenu-s1" ng-controller="MenuCtrl">
  <h3><img  class="logo-size" src="/images/template_images/ecologo-white.png" style="width:115px;"></h3>
  <input type="hidden" id="shortCode" value="[mainmenu]" ng-model="shortCode"> 
  <div id='cssmenu'>
   <ul>
      <li ng-class="{'has-sub':!webmenu.children.length == 0 }" ng-repeat="webmenu in webmenu">
        <a ng-show="webmenu.newtab == 'true'" href='{[{webmenu.sublink}]}' target="_blank"><span ng-bind="webmenu.subname"></span></a>
        <a ng-show="webmenu.newtab == 'false'" href='{[{webmenu.sublink}]}'><span ng-bind="webmenu.subname"></span></a>
        <ul ng-if="!webmenu.children.length == 0">
          <li ng-repeat="sub1 in webmenu.children">
            <a ng-show="sub1.newtab == 'true'" href='{[{sub1.sublink}]}' target="_blank">
              <span ng-bind="sub1.subname"></span>
            </a>
            <a ng-show="sub1.newtab == 'false'" href='{[{sub1.sublink}]}'>
              <span ng-bind="sub1.subname"></span>
            </a>
          </li>
        </ul>
      </li>
      <li ng-show="agent == null">
        <a class='no-decor' href="<?php echo $baseURL; ?>/earth-citizenship"><span>Sign Up</span></a>
        <a class='no-decor' href="<?php echo $baseURL; ?>/login" ><span>Log In</span></a>
      </li>
    </ul>
  </div>

  <a class='no-decor mob-link' href="mailto:info@earthcitizens.org"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@earthcitizens.org</a>
  <div class="mob-socials-contact">
    <div class="row">
      <div class="col-xs-4">
        <a class='no-decor mob-link social-mob' href="https://www.youtube.com/user/goearthcitizens"><i class="fa fa-youtube"></i></a>
      </div>
      <div class="col-xs-4">
        <a class='no-decor mob-link social-mob' href="https://www.facebook.com/EarthCitizensOrganization" ><i class="fa fa-facebook"></i></a>
      </div>
      <div class="col-xs-4">
        <a class='no-decor mob-link social-mob' href="https://twitter.com/goearthcitizens" ><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <a class='no-decor mob-link mob-stat' href="mailto:info@earthcitizens.org">
    <span><i class="fa fa-user"> </i>&nbsp;&nbsp;Earth Citizens Registered: <span ng-bind="userscount"></span></span>
  </a>
  <a class='no-decor mob-link mob-stat' href="mailto:info@earthcitizens.org">
    <span><i class="fa fa-user"> </i>&nbsp;&nbsp;Heroes Trained: <span ng-bind="userscount"></span></span>
  </a>
  <a class='no-decor mob-link mob-stat' href="mailto:info@earthcitizens.org">
    <span><i class="icon-clock"></i>&nbsp;&nbsp;Community Hours Served: <span ng-bind="userscount"></span></span>
  </a>

</nav>

