<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Earth Citizens Organization</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/template_css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/template_css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/template_css/main.css">

    <!--==========================================FONT AWOSOME=============================================-->
    <link rel="stylesheet" type="text/css" href="/css/fr/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fr/font-awesome.min.css"/>

    <link rel="shortcut icon" type="image/ico" href="/images/template_images/favicon.png" />
    
    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css"/>     

    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">
    
    <link href='https://fonts.googleapis.com/css?family=Dosis|Noto+Sans|Arvo|PT+Sans|PT+Sans+Narrow|Roboto|Raleway|Montserrat|Roboto+Slab|Titillium+Web|Vollkorn' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/template_css/temp_index.css">

    <link rel="stylesheet" href="/skdslider/src/skdslider.css" type="text/css" />

    <!-- Custom CSS -->
    <link href="/startbootstrap-full-slider-1.0.2/css/full-slider.css" rel="stylesheet">

</head>

<body ng-controller="indexMainCtrl">
    <?php echo $this->getContent() ?>
<!--==========================================TOP NAV=============================================-->
        <!--div class="container-fluid" >
        <div style="width: 100%; margin: auto;" align="center">
            <img src="img/ecologo.png" />
        </div>
        </div-->
<!-- EFNRE START @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div class="container-fluid">
        <div class="eco-container top">
            <div class="row">
                <div class="col-xs-4 toptop1">
                    <div class="top-contact" style="float: left;">
                        <span><a href="mailto:info@earthcitizens.org" style="color: #5386C1 "><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@earthcitizens.org</a></span>
                    </div>
                </div>
                <div class="col-xs-4 toptop2">
                    <div class="top-contact" style="text-align:center;">
                        <span style="color: #5386C1;  "><i class="fa fa-user"> </i>&nbsp;&nbsp;Earth Citizens Count: {[{ userscount }]}</span>
                        <span style="color: #5386C1;  " class="join"><a ng-href="donation/##new-account">Join</a></span>
                    </div>
                    
                </div>
                <div class="col-xs-4 toptop3" style="padding-top:5px">
                    <div class="top-social-icon" style="text-align: right;">
                        <span>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/user/goearthcitizens"><i class="fa fa-youtube"></i></a></span>
                        <span>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/EarthCitizensOrganization" ><i class="fa fa-facebook"></i></a></span>
                        <span>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/goearthcitizens" ><i class="fa fa-twitter"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="navsticky">
            <div class="eco-container">
                <div id="ecologo"><a href="http://www.earthcitizens.org"><img  class="logo-size" src="/images/template_images/ecologo1.png" style="width:115px;"></a></div>
                <div class="donateforbtn"><a href="/nepalrelief">Donate to Nepal</a></div>
                <div class="ecositenav">
                    <nav  class="nav">
                        <ul class="dropdown" >
                            <li class="drop">
                                <a href="#abouteco" id="selected4">
                                    <div id="menu_icon_about" class="menudiv1">                                    
                                        <div class="menuicon1"></div>
                                        <div class="p">ABOUT US</div>
                                    </div>
                                </a>

                            </li>
                            <li class="drop">
                                <a href="#ouractivities" id="selected2">
                                    <div id="menu_icon_training" class="menudiv2">                                    
                                        <div class="menuicon2"></div> 
                                        <div class="p">OUR ACTIVITIES</div>
                                    </div>
                                </a>
                            </li>
                            <li class="drop">
                                <a href="#ourprograms" id="selected3">
                                    <div id="menu_icon_peace_parks" class="menudiv3">                                    
                                        <div class="menuicon3"></div> 
                                        <div class="p">OUR PROGRAMS</div>
                                    </div>
                                </a>
                            </li>
                            <li class="drop">
                                <a href="http://heroesconnect.org" target="_blank" id="selected1">
                                    <div id="menu_icon_what_is_eco" class="menudiv4">                                    
                                        <div class="menuicon4"></div> 
                                        <div class="p">HEROES CONNECT</div>
                                    </div>
                                </a>

                            </li>

                            <li class="drop">
                                <a href="#supportus" id="selected5">
                                    <div id="menu_icon_support_us" class="menudiv5">                                    
                                        <div class="menuicon5"></div> 
                                        <div class="p">SUPPORT US</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </nav>
                </div>

            </div>
            <div class="clearfix"></div>

            <div class="container-fluid"><div class="bluebar"></div></div>   
        </div>
    </div>

    <div class="container-fluid">
        <div class="mob-ecologo"  style="width:115px;margin:auto;padding-top:5px;"><a href="https://www.earthcitizens.org/indextemp"><img  class="logo-size" src="/images/template_images/ecologo1.png" style="width:115px;"></a></div>
        <div class="navsticky">
            <div class="mobileMenu mobileMenu2">
                <nav role="navigation" class="navbar navbar-default nav">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand"><p>ECO</p></a>
                    </div>
                    <!-- Collection of nav links and other content for toggling -->
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#abouteco">ABOUT US</a>
                            </li>
                            <li>
                                <a href="#ouractivities">OUR ACTIVITIES</a>
                            </li>
                            <li>
                                <a href="#ourprograms">OUR PROGRAMS</a>
                            </li>
                            <li>
                                <a href="http://heroesconnect.org">HEROES CONNECT</a>
                            </li>
                            <li>
                                <a href="#supportus">SUPPORT US</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
<!-- EFNRE END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    


    <div class="container-fluid">
<!-- slider starts -->
        <div id="myCarousel" class="carousel slide">
<!-- Indicators -->
            <ol class="carousel-indicators" style="margin-bottom:-10px">
            <?php 
            $nslides = json_decode($slides);
            $dst = 0;
            foreach ($nslides as $key => $value) {
            ?>
                <li data-target="#myCarousel" data-slide-to="<?php echo $dst; ?>" class="<?php if($nslides[$key]->sort == 1){ echo 'active'; } ?>"></li>
                <!-- <li data-target="#myCarousel" data-slide-to="1"></li> -->
                <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
            <?php $dst++; } ?>
            </ol>

<!-- Wrapper for Slides -->
            <div class="carousel-inner">

            <?php 
            foreach ($nslides as $key => $value) {
                ?>
                <div class="item <?php if($nslides[$key]->sort == 1){ echo 'active'; } ?>">
                    <div class="sidebarimage" style="background-image: url(<?php echo $this->config->application->apiURL; ?>/images/<?php echo $nslides[$key]->foldername.'/'.$nslides[$key]->path; ?>);">
                    </div>
                    <div class="carousel-caption fuller">
                        <div class="slidedescoverlay">
                            <div style="color:#404040">
                                <font class="mtitle"><?php echo $nslides[$key]->title; ?></font> <br>
                                <p class="mbody"><?php echo $nslides[$key]->description; ?></p> 
                            </div>
                            <div class="learnheroes"><a href="<?php echo $nslides[$key]->linkpath; ?>"><?php echo $nslides[$key]->linkname; ?></a></div>
                        </div>
                    </div>
                </div> 
            <?php } ?>
            </div>
<!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
<!-- slider ends -->
    </div>


    <div class="container-fluid">
        <div class="orangebarko">
            <a href="../donation" style="font-size:22px; font-family:Leelawadee UI; color:#FFF">
                <img src="/images/template_images/donate-bttn.png" class="donbut" />
                DONATE WHAT YOU CAN TO HELP
            </a>
        </div>
    </div>
    <div class="hidorange"></div>


    
    <!--===begin container===-->    
    <div class="container-fluid">

        <div class="eco-container">            
            <!--===main content===-->
            <!--===about===-->   

            <!--===Anchor===-->
            <a id="abouteco"></a>
            <!--===Anchor===-->          
            <div class="abouteco width">
                <h1 class="main-title" >ABOUT ECO</h1>
                <p class="subtitle">
                   ECO develops leaders who make difference in community through community services and outreach activities. With the tools and skills they learned through our training programs, they provide services in areas where help is most needed, including caring less privileged kids, helping people with disabilities, and teaching exercise to senior citizens. By serving the needs and charitable causes of community, they develop leadership to lead changes of greater impact, locally and globally, to move forward to a more mindful, humane and sustainable world.
               </p>


               <div class="videoyb">
                <iframe style="width:100%; height:100%;" src="https://www.youtube.com/embed/gnZhWl1Hts0" frameborder="0" allowfullscreen></iframe>
               </div>

               <p class="subtitle">
                  On September 11, 2013, EARTH CITIZENS ORGANIZATION (ECO) was formed to develop leaders with the spirit of Earth Citizenship by providing training and education, developing training facilities, conducting peace projects, and organizing community actions that help people to create changes in their lives for mindful and sustainable living.
                  <br/><br/>
                  The name of the organization reflects our belief that we are all citizens of the Earth and share the responsibility as its stewards for the well-being and continuity of our planet and all the life forms on it. Sharing this idea and starting to create changes by applying it to our daily life are the core of the Earth Citizen Movement.
                  <br/><br/>
                  The seed of the Earth Citizen Movement was planted by one person when he started teaching exercise at a public park in Korea 30 years ago. Ilchi Lee, believing that hope for a better world lies in awakening the greatness in human nature, has dedicated his life to helping people harness their brain potential to create positive changes in their lives and communities. It was through this dedication that ECO was created.
                  <br/><br/>
                  ECO plans to expand the education to develop Earth Citizen Leaders by developing online education system and developing leadership centers in major cities including its main campus in Northern Arizona.
              </p>

        </div>
     </div>

     <div class="container-fluid" id="ouractivities">
        <div class="banner-our-activities " data-block-text="false">
            <div class="banner-content-wrapper"><!-- style="text-align: left; width: 35%; top: 12%" -->
                <div class="mtitle"><span>  OUR ACTIVITIES </span> </div>
                <div class="mbody">ECO’s activities range from regional activities across the country to national training education camps. </div>
                <div class="learnheroes"><nav role="navigation" class="nav" style="padding-top: 0px !important;"><a href="https://www.facebook.com/EarthCitizensOrganization">See Us in Action</a></nav></div>
            </div>
        </div>
    </div>
    <div class="eco-container">  

        <div class="ouractivities" style="width: 100%; padding-top: 20px !important;">
            <!--===Anchor===-->
            
            <!--===Anchor===--> 
            <h1 class="main-title" >OUR ACTIVITIES</h1>
            <p class="subtitle width">
                Our goal is to reach out to 100 million people with the idea of Earth Citizenship and help them live by its standards. With over 7 billion people currently living on the Earth, 100 million is more than 1% of the world's population. If 1% of humanity start thinking as Earth Citizens and making choices accordingly, this will create momentum toward greater changes for a more mindful, humane and sustainable world.
            </p>
            <div class="row act-con">
                <div class="col-md-4 act">
                    <h3>LEADERSHIP<br/>DEVELOPMENT</h3>
                    <p>
                        The key to change is people, leaders who with passion and courage pioneer the changes we need at all levels of community, from local to global. ECO, for the education of such leaders, runs the Earth Citizen School to provide training in leadership development and subsequent skills and practices for mindful living for sustainability under the name of “Heroes Leadership Training.” Through this program, participants are guided to develop their body and mind and cultivate the greatness of human spirit to create positive changes in their personal lives and their communities. 
                    </p>
                </div>
                <div class="col-md-4 act">
                    <h3>COMMUNITY<br/>OUTREACH</h3>
                    <p>
                        ECO organizes and promotes the Earth Citizens Movement at all levels of community. Activities in local communities are mostly facilitated by the graduates of ECO’s leadership training program. To promote the Earth Citizen Movement and support the graduates’ activities, ECO, in collaboration with supporting organizations, is running regional Earth Citizen Learning Centers nationwide. The Learning Centers serve as the hub for all Earth Citizen Leaders engaged in local Earth Citizen activities. The Learning Centers provide education sessions once a month to the leaders and the public as well. 
                    </p>  
                </div>
                <div class="col-md-4 act">              
                    <h3>TRAINING FACILITY DEVELOPMENT</h3>
                    <p>
                        The purpose of the Earth Citizen School program is not only to give instruction, but also to guide the participants to incorporate new skills for sustainability into their lives and to develop leadership capabilities through the real-life experience of helping and teaching other people. This scope of the training requires a space that has facilities for classroom instruction, physical training, hands-on practice for mindful living, and accommodations, together with opportunities for community outreach activities. For this purpose, ECO plans to develop training facilities in Northern Arizona as its primary location and expand to other states as the Earth Citizen Movement grows.
                    </p>
                </div>
            </div>                               
        </div>
    </div>


    <div class="container-fluid" id="ourprograms">
        <div class="banner-our-programs" data-block-text="false">
            <div class="banner-content-wrapper"><!--  style="text-align: left; width: 35%; top: 8%;" -->
                <div class="mtitle" >OUR PROGRAMS </div>
                <div class="mbody">Earth Citizens Programs empower participants with the mindset, knowledge, and skills that are essential to becoming Earth Citizen leaders in diverse environments.</div>
                <div class="learnheroes"><nav role="navigation" class="nav" style="padding-top: 0px !important;"><a href="http://www.earthcitizens.org/donation">Register Now</a></nav></div>
            </div>
        </div>
    </div>
    <div class="eco-container">  
        <div class="ourprograms">
            <!--===Anchor===-->
            <a ></a>
            <!--===Anchor===-->
            <h1 class="main-title">OUR PROGRAMS</h1>
            <p class="subtitle width">
                ECO runs a variety of programs with different levels of engagement, commitment and length of time, starting from 2-hour workshop to 7 days leadership training. Introductory level programs are provided at our regional Earth Citizen Learning Centers and leadership program is offered at the main campus in Sedona, Arizona. Important subjects include the principles and practices of mindful living, developing essential virtues of serving leadership and collaborating with other people. Program participants integrate their learning through understanding, experience, application and planning for community engagement.
            <br/><br/>
            <span style="font-size: 28px; color: #72bb4c !important;">CURRICULUM</span><br/><br/>
                ECO Programs encompass attitude, knowledge, and skills that are essential in leading changes in community:
            </p>

            <p class="justify width"><span style="font-size: 20px; color: #72bb4c !important;">Culture: </span>
                Knowledge, wisdom, and practices from diverse cultural traditions that support living in harmony with other people and various natural environments will be explored and studied to expand the participants’ cultural understanding and develop in them an attitude of acceptance and openness. Spirituality and mindfulness are among the key elements in the study of culture in this program.
            </p>

            <p class="justify width"><span style="font-size: 20px; color: #72bb4c !important;">Lifestyle: </span>
                Key elements of a healthy lifestyle such as nutrition and physical and mental exercise will be taught. Learning in this subject area will primarily help the participants improve their health and be used for the participants to help others create the proposed changes in their lives.
            </p>

            <p class="justify width"><span style="font-size: 20px; color: #72bb4c !important;">Soft technology: </span>
                Participants will learn the basic skills to grow vegetables, trees, and animals, fix homes, and apply natural healing modalities. This subject area can be expanded to more advanced technology for sustainability such as renewable energy, waste management, and water recycling.
            </p>

            <p class="justify width"><span style="font-size: 20px; color: #72bb4c !important;">Leadership: </span>
                Making and leading changes in culture and lifestyle is challenging. Individuals need to manage themselves, develop their strengths, demonstrate integrity, overcome their limitations, and motivate others to join and work together. The leadership component of this training program will guide participants to find and develop their strengths as leaders and use their leadership to work with others.
            </p>

            <p class="justify width">
                These subject areas are incorporated into our flagship program <b>“Heroes Leadership Training”</b>. This name represents the primary purpose of the program: developing the greatest qualities of human nature such as compassion, courage, truthfulness, and integrity--those found in the heroes we admire. The program is designed to awaken and cultivate these qualities within the participants.
            </p>

            <p class="justify width">
                A one-week Heroes Leadership Training is followed by an optional 3-week Earth Citizen Living Practice, which covers training and education in hands-on skills and practices for mindful living and holistic natural health.  
            </p>

            <p class="padding-bottom width">

                <a href="http://heroesconnect.org" target="_blank" style="text-decoration: underline;">For more information and registration.</a>

            </p>

            <p class="justify width"><br/>
            <span style="font-size: 28px; color: #72bb4c !important;">POST-PROGRAM SUPPORT</span><br/><br/>
                The success of ECO’s effort depends largely on the maintained activities of the leaders in their local communities when they return after the training. To ensure continued support, ECO plans to create local Earth Citizens Learning Centers and organize events. To support Earth Citizens community activities, ECO seeks to raise $2 Million for 2015 for this purpose.
            </p>


        </div>
        <div class="ourprograms">
            <div class="row">

                <div class="col-sm-12 width">
                    To find out and join their activities, please contact regional coordinators below: <br><br>
                </div>

                <div class="col-sm-3">
                    <div class="box-contacts"><strong>ARIZONA</strong><br><span class="contact-name">Brian Korbelik</span><br><a href="mailto:arizona@earthcitizens.org">arizona@earthcitizens.org</a><br></div>

                    <div class="box-contacts"><strong>BOSTON, MA</strong><br><span class="contact-name">David Driscoll</span><br><a href="mailto:boston@earthcitizens.org">boston@earthcitizens.org</a></div>

                    <div class="box-contacts"><strong>COLORADO</strong><br><span class="contact-name">Allyson Matz</span><br><a href="mailto:colorado@earthcitizens.org" title="">colorado@earthcitizens.org</a></div>

                    <div class="box-contacts"><strong>DALLAS, TX</strong><br><span class="contact-name">Sandra Smertneck</span><br><span style="font-size: 1em; line-height: 1.5; background-color: initial;"><a href="mailto:dallas@earthcitizens.org">dallas@earthcitizens.org</a></span></div>

                    <div class="box-contacts"><strong>DC METRO</strong><br><span class="contact-name">Nathan Guadagni</span><br><a href="mailto:dcmetro@earthcitizens.org" title="">dcmetro@earthcitizens.org</a><br></div>
                </div>
                <div class="col-sm-3">
                    <div class="box-contacts"><strong>FLORIDA</strong><br><span class="contact-name">Alexander Rivas</span><br><a href="mailto:florida@earthcitizens.org">florida@earthcitizens.org</a></div>

                    <div class="box-contacts"><strong>GEORGIA</strong><br><span class="contact-name">Jordan Diamond</span><br><a href="mailto:georgia@earthcitizens.org">georgia@earthcitizens.org</a></div>

                    <div class="box-contacts"><strong>HAWAII</strong><br><span class="contact-name">Mizuki Ogawa</span><br><a href="mailto:hawaii@earthcitizens.org">hawaii@earthcitizens.org</a></div>

                    <div class="box-contacts"><strong>HOUSTON, TX</strong><br><span class="contact-name">Jaclyn Magelssen</span><br><a href="mailto:houston@earthcitizens.org">houston@earthcitizens.org</a></div>

                    <div class="box-contacts"><strong>ILLINOIS</strong><br><span class="contact-name">Laura Castagnino</span><br><a href="mailto:illinois@earthcitizens.org">illinois@earthcitizens.org</a></div>
                </div>
                <div class="col-sm-3">                    
                    <div class="box-contacts"><strong>LOS ANGELES, CA</strong><br><span class="contact-name">Iqbal Singh</span><br><a href="mailto:losangeles@earthcitizens.org">losangeles@earthcitizens.org</a></div>

                    <div class="box-contacts"><strong>NEW MEXICO</strong><br><span class="contact-name">ChunMyung</span> Im<br><a href="mailto:newmexico@earthcitizens.org" title="">newmexico@earthcitizens.org</a></div>

                    <div class="box-contacts"><strong>NEW JERSEY<br></strong><span class="contact-name">John Thompson / Nicole Wasserman</span><br><a href="mailto:newjersey@earthcitizens.org" title="">newjersey@earthcitizens.org</a></div>

                    <div class="box-contacts"><strong>NEW YORK (EAST)</strong><br><span class="contact-name">Erin Gruber</span><br><a href="mailto:eastnewyork@earthcitizens.org">eastnewyork@earthcitizens.org</a><br></div>

                    <div class="box-contacts"><strong>NEW YORK (WEST)</strong><br><span class="contact-name">Bea Brun</span><br><a href="mailto:westnewyork@earthcitizens.org" title="">westnewyork@earthcitizens.org</a><br></div>
                </div>
                <div class="col-sm-3">
                    <div class="box-contacts"><strong>ORANGE COUNTY, CA<br></strong><span class="contact-name">Donnie Aguinaldo / Amy Lange</span><br><a href="mailto:orangecounty@earthcitizens.org" title="">orangecounty@earthcitizens.org</a></div><br>
                    <div class="box-contacts"><strong>SEATTLE</strong><br><span class="contact-name">Danielle Guadette</span><br><a href="mailto:seattle@earthcitizens.org" title="">seattle@earthcitizens.org</a></div>
                </div>

            </div>
        </div>
        
    </div>

    <div class="container-fluid" id="supportus">
            <div class="banner-support-us" data-block-text="false">
                <div class="banner-content-wrapper"><!--  style="text-align: left; width: 30%; top: 8%;" -->
                <div class="mtitle">SUPPORT US </div>
                <div class="mbody">ECO operates on donations from institutions and individuals who support our shared vision for a peaceful and sustainable world.</div>
                <div class="learnheroes"><a href="../donation">Donate Now</a></div>
            </div>
        </div>
    </div>



    <div class="eco-container">                 
        <div class="support" style="text-align:left; width: 100%; padding-top: 20px !important;">

            <!--===Anchor===-->
            <a ></a>
            <!--===Anchor===-->
            <h1 class="main-title" >SUPPORT US</h1>
            <p class="subtitle width">
                To pursue the projects to advance our mission, ECO relies on donations from institutions and individuals who support our shared vision for a peaceful and sustainable world.
            </p>
            <h3 style="font-size: 20px; color: #72bb4c !important;" class="left width">SCHOLARSHIP FUND</h3>
            <p  class="justify width">
                The cost for one week of training per person, including room and board, is approximately $1,000. Each participant will pay $300 or less, and the rest will be supported by ECO’s scholarship fund. Our goal is to develop 1,200 leaders by 2016, and increase the number every year. To achieve this goal, we seek to raise $2 Million for a scholarship fund. 
            </p>
            <h3 style="font-size: 20px; color: #72bb4c !important;" class="left width">FACILITY DEVELOPMENT FUND</h3>
            <p  class="justify width">
                To make this training and education available to a large audience, ECO is developing training facilities in Northern Arizona. The project will be divided into three phases, and the total cost for completing all three phases will be approximately $13 Million. Our goal is completing the whole project by the end of 2016, and being ready to accommodate 200 candidate leaders per term from 2017. 
            </p>
            <h3 style="font-size: 20px; color: #72bb4c !important;" class="left width">COMMUNITY OUTREACH SUPPORT</h3>
            <p  class="justify width">
                The success of ECO’s effort depends largely on the maintained activities of the leaders in their local communities when they return after the training. To ensure continued support, ECO plans to create local Earth Citizens Learning Centers and organize events. To support Earth Citizens community activities, ECO seeks to raise $2 Million for 2015 for this purpose.
            </p>
            <p class="width">
                ECO is a 501(c)(3) non-profit organization and your donation to ECO is tax-deductible as a charitable contribution. 
            </p>
            <p>
                <div class="donatenow" style="text-align:center">
                    <a href="../donation" style="text-decoration: none;">DONATE NOW</a>
                </div>
            </p>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div  class="footer-bg">
        <div class="eco-container">
            <div class="row">
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>MISSION STATEMENT<br/><br/></span>
                    <div style="width:212px; padding-right: 15px;">
                        <span style="font-size: 12px;">
                            Earth Citizens Organization (ECO) is a non-profit that promotes natural health and mindful living for a sustainable world. An Earth Citizen is a person who understands that we are all citizens of the Earth and takes responsibility for its well-being.<br/><br/>
                        </span>
                    </div>

                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>NAVIGATION<br/><br/></span>
                    <div style="width:190px; padding-right: 55px;">
                        <span style="font-size: 12px;">
                            <nav  class="nav" style="padding-top: 0px;">
                                <a href="#abouteco" style="color:#ffffff;">ABOUT US</a><br/>
                                <a href="#ouractivities" style="color:#ffffff;">OUR ACTIVITIES</a><br/>
                                <a href="#ourprograms" style="color:#ffffff;">OUR PROGRAMS</a><br/>
                                <a href="http://heroesconnect.org" style="color:#ffffff;">HEROES CONNECT</a><br/>
                                <a href="#supportus" style="color:#ffffff;">SUPPORT US</a><br/>
                                <a href="/donation" style="color:#ffffff;">DONATE</a><br/><br/>
                            </nav>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>ADD US<br/><br/></span>
                    <div style="width:190px; padding-right: 55px;">
                        <span style="font-size: 12px;">
                            <ul>
                                <li><a href="https://www.youtube.com/user/goearthcitizens" style="color:#ffffff;"><i class="fa fa-youtube" style="color: #ffffff;"></i>&nbsp;&nbsp;YouTube</a><br/><br/></li>
                                <li><a href="https://www.facebook.com/EarthCitizensOrganization" style="color:#ffffff;"><i class="fa fa-facebook" style="color: #ffffff;"></i>&nbsp;&nbsp;Facebook</a><br/><br/></li>
                                <li><a href="https://twitter.com/goearthcitizens" style="color:#ffffff;"><i class="fa fa-twitter" style="color: #ffffff;"></i>&nbsp;&nbsp;Twitter</a></li>
                            </ul><br/><br/>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>CONTACT US<br/><br/></span>
                    <div style="width:212px; padding-right: 15px;">
                        <span style="font-size: 12px;">
                            Earth Citizens Organization<br/>
                            340 Jordan Road Sedona, AZ 86336
                            <br/><br/>
                            <a href="mailto:info@earthcitizens.org" style="color: #fff "><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Email: info@earthcitizens.org</a>
                            <br/><br/>
                        </span>
                    </div>
                </div>                    
            </div>
            <div class="row" style="padding: 10px 0px 10px 0px;">
                <div  style="  width: 100%;  background-color: #ffffff;  height: 3px;"></div>
            </div>
            <div class="row" style="padding-top: 2px;">
                <p style="font-size: 10px; text-align: center;color:#ffffff;">
                    ©2015 Earth Citizen Organization All rights reserved
                </p>
            </div>
        </div>
    </div>
</div>   
<script>
    var API_URL = '<?php echo $this->config->application->apiURL; ?>';
</script>

<script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/template_js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<script src="/js/template_js/main.js"></script>
<script src="/startbootstrap-full-slider-1.0.2/js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
<!-- end slider -->

    <script src="/js/stickytop.js"></script>

    <script type="text/javascript" src="/js/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/js/angular/ui-validate.js"></script>
    <script type="text/javascript" src="/js/fr/app.js"></script>
    <script src="/fcalendar/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="/fcalendar/moment.js"></script>
    <script src="/fcalendar/fullcalendar.js"></script>
    <script src="/fcalendar/gcal.js"></script>
    <script src="/fcalendar/calendar.js"></script>
    <script src="/fcalendar/calendarDemo.js"></script>
        
    <?php echo $script_google; ?>

<script type="text/javascript">
    $(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

    </body>
    </html>
