<!DOCTYPE html>
<html lang="en" data-ng-app="app" class="fsvs">
<head >
    <style type="text/css">
        html, body {
            width:100%;
            height:100%;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Earth Citizens Organization</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','//connect.facebook.net/en_US/fbevents.js');

            fbq('init', '435335386663292');
            fbq('track', "PageView");
        </script>
        <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=435335386663292&ev=PageView&noscript=1"
            />
        </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- <link rel="stylesheet" href="/css/template_css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="/css/template_css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="/css/template_css/main.css">

    <!--==========================================FONT AWOSOME=============================================-->

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/noification-animate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font.css"/>
    <link rel="stylesheet" type="text/css" href="/css/soc-icons.css"/>
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/three-quarters.css" type="text/css">

    <link rel="shortcut icon" type="image/ico" href="/images/template_images/favicon.png" />

    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css"/>

    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">

    <link href='https://fonts.googleapis.com/css?family=Dosis|Noto+Sans|Arvo|PT+Sans|PT+Sans+Narrow|Roboto|Raleway|Montserrat|Roboto+Slab|Titillium+Web|Vollkorn' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="/skdslider/src/skdslider.css" type="text/css" />

    <!-- Custom CSS -->
    <link href="/startbootstrap-full-slider-1.0.2/css/full-slider.css" rel="stylesheet">


    <link rel="stylesheet" href="/css/app-fr.css">
      
    <link rel="stylesheet" href="/js/angular/angular-ui-select/dist/select.css">  
    <link rel="stylesheet" href="/js/select2/dist/css/select2.min.css">  
    <link rel="stylesheet" href="/js/jquery/chosen/chosen.css">  
    <link rel="stylesheet" href="/js/jquery/chosen/chosen-spinner.css">  
    <link rel="stylesheet" href="/js/angular/chosen/chosen.css">  
    <link rel="stylesheet" href="/css/isteven-multi-select.css">  

    <link rel="stylesheet" type="text/css" href="/SlidePushMenus/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/SlidePushMenus/css/component.css" />  
    <link rel="stylesheet" href="/cssmenu/cssmenu-styles.css">
    <link rel="stylesheet" href="/css/template_css/temp_index.css">    
    <link rel="stylesheet" href="/css/template_css/projects-style.css">  
    <link rel="stylesheet" href="/css/template_css/custom-style.css">  
    <link rel="stylesheet" href="/css/template_css/padding-style.css">  
    <link rel="stylesheet" href="/css/template_css/container-style.css">  
    <link rel="stylesheet" href="/css/template_css/responsive-style.css">  


    <link rel="stylesheet" href="/js/smartscroll-master/css/smartscroll.css">
    
    <style type="text/css">
      .menu-false{
        display: none;
      }
      .menu-true{
        display: block;
      }
    </style>
</head>

<body ng-controller="indexMainCtrl" ng-init="toptop()">
    <?php echo $this->getContent() ?>

    <!--=====Header=====-->
    <?php include ('header.html');?>
    <!--=====Header=====-->






    <div class="container-fluid">
    <div class="top-container">
        <!-- slider starts -->
        <div id="myCarousel" class="carousel slide">



            <!-- Indicators -->
            <ol class="carousel-indicators" style="margin-bottom:-10px">
            <?php
            $nslides = $slides;
            $dst = 0;
            $x = 0;
            foreach ($nslides as $key => $value) {$result[$x]= $nslides[$key]->sort;$x++;}
            $min = min($result);
            foreach ($nslides as $key => $value) {
            ?>
                <li data-target="#myCarousel" data-slide-to="<?php echo $dst; ?>" class="<?php if($nslides[$key]->sort == $min){ echo 'active'; } ?>"></li>
                <!-- <li data-target="#myCarousel" data-slide-to="1"></li> -->
                <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
            <?php $dst++; } ?>
            </ol>

<!-- Wrapper for Slides -->
            <div class="carousel-inner">
            <?php
            foreach ($nslides as $key => $value) {
                ?>
                <div class="item <?php if($nslides[$key]->sort == $min){ echo 'active'; } ?>">
                    <div class="sidebarimage" style="background-image: url('<?php echo $this->config->application->amazonlink; ?>/uploads/slider/<?php echo $nslides[$key]->foldername.'/'.$nslides[$key]->img; ?>');">
                    </div>
                        <?php if($nslides[$key]->showtext != 'false'){?>
                        <div class="banner-content-wrapper-green" style="background-color:<?php echo $nslides[$key]->tbgcolor; ?>;">
                            <div>
                                <font class="mtitle2" style="font-size:<?php echo $nslides[$key]->titlefontsize; ?>px;color:<?php echo $nslides[$key]->tfcolor; ?>;"><?php echo $nslides[$key]->title; ?></font> <br>
                                <p class="mbody2"  style="font-size:<?php echo $nslides[$key]->descriptionfontsize; ?>px;color:<?php echo $nslides[$key]->dfcolor; ?>;"><?php echo $nslides[$key]->description; ?></p>
                            </div>
                            <?php if($nslides[$key]->linkpath != ''){ ?>
                            <div class="learnheroes"><a href="<?php echo $nslides[$key]->linkpath; ?>"><?php echo $nslides[$key]->linkname; ?></a></div>
                            <?php }?>
                        </div>
                        <?php }?>
                </div>
            <?php } ?>
            </div>
<!-- Controls -->


            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
<!-- slider ends -->


    <!-- </div> -->
    <!--===begin container===-->
    <!-- temporarily removed -->
    <!-- <div class="container-fluid"> -->
        <div style="position:relative;">
            <div class="row" id="article-container displaytable">
                <div class="col-sm-4 BGFF9D0F">
                    <div class="row">
                        <div class="metrobox">
                            MAKING A DIFFERENCE
                        </div>
                    </div>
                    <div class="row">
                        <p>
                            <img src="/img/hrs.png" class="horsi">
                            <span class="countfont FFFFFF">1,356</span><br>
                            <span class="countdesc FFFFFF">Earth Citizen Registered</span>
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <img src="/img/rkk.png" class="horsi">
                            <span class="countfont FFFFFF">590</span><br>
                            <span class="countdesc FFFFFF">Heroes Trained</span>
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <img src="/img/qnn.png" class="horsi">
                            <span class="countfont FFFFFF">1,770</span><br>
                            <span class="countdesc FFFFFF">Community Hours Served</span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 BG65AAD9">
                    <div class="row">
                        <div class="metrobox">
                            BECOME AN EARTH CITIZEN
                        </div>
                        <div class="col-sm-12 FFFFFF" style="text-align: center;">
                            <p class="countdesc FFFFFF" style="margin:0px 40px; 0px 40px">The Earth Citizens Organization (ECO) was established to create leaders who make a difference in their communities through their services and mindful living practices.</p>
                            <br>
                        </div>
                        <div class="col-sm-12 FFFFFF">
                            <div class="orangebtns ornge"><a href="/earth-citizenship">Become an Earth Citizen</a></div>
                        </div>
                        <!-- <div class="arrr">
                            <a href="#whatiseco"><img src="/img/arrdwn.png" class="invertdwn" style="margin-top: -5%;padding-top: 10%;"></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-sm-4 BGFFFFF">
                    <div class="row">
                        <div class="center">
                            <img src="/img/icre.png" class="icre">
                        </div>
                        <div class="col-sm-12">
                             <p style="margin:0px 40px; 0px 40px">
                            <span class="icdesc1">OUR GOAL:</span> 
                            <span class="icdesc2">Create substantial changes by 2020 to change the world and save the Earth</span>

                            <span class="icdesc3">by building an Extensive Network of 10,000 Organizations in more than 100 Countries, 1 Million Leaders, 100 Million Earth Citizens (1% of the World Population) and 1 Trillion Dollar Fund (1% of the World Money) dedicated to the cause of Recovering the Earth.</span>
                            <br></p>
                            <div class="center" style="padding: 20px">
                                <span class="icdesc1">We need your help</span><br>
                                <span class="icdesc2">Do you Care?</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
            
                <div class="space-need"></div>
                <div class="arrr2" style="position:relative;">
                    <a href="#whatiseco"><img src="/img/arrdwn_gray.png" class="invertdwn2"></a>
                </div>  

    </div>
    </div>
<!-- END of temporarily removed -->
    <div class="container-fluid section-wrapper">
        <div class="container-fluid section autoHW" id="whatiseco" style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/background-what-is-eco.jpg');background-size:cover;">
            <div class="row_c">
                <div class="row">                
                    <div class="col-sm-12 minustop-copy">
                        <span class="cntnttitle-copy">WHAT IS ECO?</span>
                    </div>
                    <div class="col-sm-12">
                        <div class="con-auto-700">
                            <p class="c-white f-res">
                                The Earth Citizens Organization (ECO) was established to create leaders who make a difference in their communities through their services and mindful living practices. Through their services and collaborations, they lead changes of great impact, locally and globally, to move forward to a more mindful, humane and sustainable world. 
                            </p>
                        </div> 
                        <div class="orangebtns">
                            <a href="/earth-citizenship" class="ornge">Become an Earth Citizen</a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 blgblg">
                            <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="/our-mission">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-our-mission.jpg');" class="wie-img"></div>
                                    <p class="titleC">OUR MISSION</p>
                                </a>
                                <p class="cdesc">Learn about our Mission to change the world</p>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="/how-to-start-change">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-how-to-start-to-change.jpg');" class="wie-img"></div>
                                    <p class="titleC">HOW TO START TO CHANGE</p>
                                </a>
                                <p class="cdesc">Learn about our Mission to change the world</p>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="/friends-and-allies">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-friends-and-allies.jpg');" class="wie-img"></div>
                                    <p class="titleC">FRIENDS AND ALLIES</p>
                                </a>
                                <p class="cdesc">Become a supporter of ECO and make a better world together.</p>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="/eco-around-the-world">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-eco-around-the-world.jpg');" class="wie-img"></div>
                                    <p class="titleC">ECO AROUND THE WORLD</p>
                                </a>
                                <p class="cdesc">Learn about our Mission to change the world</p>
                            </div>

                        </div>
                    </div>  
                </div>
                <div class="space-need"></div>
                <div class="arrr2">
                    <a href="#join"><img src="/img/arrdwn_gray.png" class="invertdwn2"></a>
                </div>   
            </div>
        </div>
        <div class="container-fluid indexcontent section section2" id="join"  style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/background-join.jpg');background-size:cover;">
            <div class="row_c">
                <div class="row">
                    <div class="col-sm-12 minustop-copy">
                        <span class="cntnttitle-copy">JOIN</span>
                    </div>
                    <div class="col-sm-12">
                        <div class="con-auto-800">
                        <p class="c-white f-res center">
                            <span stlye"font-size:20px;">GET UPDATES OR GET INVOLVED</span><br>
                            Sign up with you email address to receive updates!
                        </p>
                            
                            <div id="mc_embed_signup">
                                <form class="ng-pristine ng-valid" action="//earthcitizens.us10.list-manage.com/subscribe/post?u=ee2030630b6c43fa9af0cfb36&amp;id=fc51891e6f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll" class>
                                        <div class="row">
                                            <div class="col-sm-1 mc-field-group form-group contentinputs">
                                            </div>
                                            <div class="col-sm-3 mc-field-group form-group contentinputs">
                                                <input type="email" value="" name="EMAIL" placeholder="Email" class="required email form-control" id="mce-EMAIL" required>
                                            </div>
                                            <div class="col-sm-3 mc-field-group form-group contentinputs">
                                                <input type="text" value="" name="FNAME" placeholder="Firstname" class="form-control" id="mce-FNAME">
                                            </div>
                                            <div class="col-sm-3 mc-field-group form-group contentinputs">
                                                <input type="text" value="" name="LNAME" placeholder="Lastname" class="form-control" id="mce-LNAME">
                                            </div>
                                            <div class="col-sm-2 form-group">
                                                <input type="text" style="display:none" name="b_ee2030630b6c43fa9af0cfb36_fc51891e6f" tabindex="-1" value="">
                                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-md btn-warning" ng-disabled="mc-embedded-subscribe-form.$invalid" style="float:left;">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 blgblg">
                            <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog resetheight" style="height:0">
                                <a class="imglink" href="/earth-citizenship">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-become-an-earth-citizen.jpg');" class="wie-img"></div>

                                    <p class="titleC">BECOME AN EARTH CITIZEN</p>
                                </a>
                                <p class="cdesc">Be the change that benefits people and the planet.</p>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="/eco-clubs">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-eco-clubs.jpg');" class="wie-img"></div>

                                    <p class="titleC">ECO CLUBS</p>
                                </a>
                                <p class="cdesc">Connect with ECO groups in your area.</p>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="/programs">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-programs.jpg');" class="wie-img"></div>

                                    <p class="titleC">PROGRAMS</p>
                                </a>
                                <p class="cdesc">Unleash your inner greatness through ECO leadership programs.</p>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-6  cen bilogbilog">
                                <a class="imglink" href="/coming-soon">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-events.jpg');" class="wie-img"></div>

                                    <p class="titleC">EVENTS</p>
                                </a>
                                <p class="cdesc">Participate in events that promote mindfulness and sustainable living.</p>
                            </div>

                        </div>
                    </div>    
                </div>

                <div class="space-need"></div>
                <div class="arrr2">
                    <a href="#learn"><img src="/img/arrdwn_gray.png" class="invertdwn2"></a>
                </div> 
            </div>
        </div>
        <div class="container-fluid indexcontent section" id="learn" style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/background-learn.jpg');background-size:cover;">
            <div class="row_c">
                <div class="row">
                    <div class="col-sm-12 minustop-copy">
                        <span class="cntnttitle-copy">LEARN</span>
                    </div>
                    <div class="col-sm-12">
                        <div class="con-auto-800">
                            <div class="col-sm-6">
                                <div class="video-container">
                                    <iframe src="https://www.youtube.com/embed/gnZhWl1Hts0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="titleC" style="text-align: left;">
                                <span style="color:black">Earth Citizens Programs empower participants with the mindset, knowledge, and skills that are essential to becoming Earth Citizen leaders in diverse environments.</span>
                                </p>
                                <p class="cdesc">
                                <br>
                                <span style="color:black">Graduates of our programs return to their communities ready to share what they have learned and experienced through outreach classes and community services.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 blgblg">
                            <div class="col-sm-4 col-md-4 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="/curriculum">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-curriculum.jpg');" class="wie-img"></div>
                                    <p class="titleC">CURRICULUM</p>
                                </a>
                                <p class="cdesc">ECO programs are designed to empower leaders who make a difference.</p>
                            </div>
                            <div class="col-sm-4 col-md-4 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="/medialibrary">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-media-library.jpg');" class="wie-img"></div>
                                    <p class="titleC">MEDIA LIBRARY</p>
                                </a>
                                <p class="cdesc">Explore educational tools for a more mindful and sustainable world.</p>
                            </div>
                            <div class="col-sm-4 col-md-4 col-xs-6 cen bilogbilog last_3">
                                <a class="imglink" href="/support-for-graduates">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-support-for-graduates.jpg');" class="wie-img"></div>
                                    <p class="titleC">SUPPORT FOR GRADUATES</p>
                                </a>
                                <p class="cdesc desc_c">Engage in community actions with the support of regional ECO groups.</p>
                            </div>
                        </div>
                    </div>    
                </div>

                <div class="space-need"></div>
                <div class="arrr2">
                    <a href="#serve"><img src="/img/arrdwn_gray.png" class="invertdwn2"></a>
                </div> 
            </div>
        </div>
        <div class="container-fluid indexcontent section" id="serve" style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/background-serve.jpg');background-size:cover;">
            <div class="row_c">
                <div class="row">
                    <div class="col-sm-12 minustop-copy">
                        <span class="cntnttitle-copy">SERVE</span>
                    </div>
                    <div class="col-sm-12">                    
                        <div class="con-auto-800">
                            <div class="col-sm-6">
                                <div class="video-container">
                                    <iframe src="https://www.youtube.com/embed/hF_ocM1ffDU" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-sm-6 contentfull" style="text-align: left;">
                                <span style="color:black">Engage in activities for practicing mindful living and developing leadership to make lasting changes in society.</span>
                                <br><br>
                                <span style="font-size:15px;color:black">ECO leaders develop their leadership through their service.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 blgblg">
                            <div class="col-sm-4 col-md-4 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="/call-heroes">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-find-a-hero-next-door.jpg');" class="wie-img"></div>
                                    <p class="titleC">FIND A HERO NEXT DOOR</p>
                                </a>
                                <p class="cdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="col-sm-4 col-md-4 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="/call-heroes">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-call-heroes.jpg');" class="wie-img"></div>
                                    <p class="titleC">CALL HEROES</p>
                                </a>
                                <p class="cdesc">Explore educational tools for a more mindful and sustainable world.</p>
                            </div>
                            <div class="col-sm-4 col-md-4 col-xs-6 cen bilogbilog last_3">
                                <a class="imglink" href="/projects">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-my-eco-project.jpg');" class="wie-img"></div>
                                    <p class="titleC">MY ECO PROJECT</p>
                                </a>
                                <p class="cdesc desc_c">Engage in community actions with the support of regional ECO groups.</p>
                            </div>
                        </div>
                    </div>    
                </div>

                <div class="space-need"></div>
                <div class="arrr2">
                    <a href="#news"><img src="/img/arrdwn_gray.png" class="invertdwn2"></a>
                </div> 
            </div>
        </div>
        <!-- hazel-->
        <div class="container-fluid indexcontent section" id="news" ng-controller="featuredblogCtrl">
            <div class="row_c">
                <div class="row" ng-repeat="latest in latestnews">
                    <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{latest.newsslugs}]}">
                        <div class="col-sm-8 latest-blog-img" style="background-image: url({[{ latestnewsThumb }]});">                        
                            <div class="minustop-copy">
                                <span class="cntnttitle-copy">NEWS</span>
                            </div>
                        </div>
                    </a>
                    <div class="col-sm-4 top-featured-desc">
                        
                        <h5 ng-bind="latest.title"></h5>
                        <p class="featphar featured-blog-summary">
                            <span ng-bind="latest.summary"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 no-pad">
                        <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{upcomingnewsslugs}]}">
                            <div class="feat-news-img" style="background-image: url({[{ upComingNewsThumb }]});">
                                <div ng-if="upcomingvideothumb" class="youtube-play" style="background-image: url(/images/template_images/yt.png);"></div>
                            </div>
                        </a>
                        <div class="pad-lr pad-t featured-desc" style="padding-left: 30px;">
                            <span class="h4-blue" ng-bind="upcomingtitle"></span>
                            <p class="featphar featured-blog-summary">
                                <span ng-bind="upcomingsummary"></span>
                            </p> 
                        </div>
                        
                    </div>
                    <div class="col-sm-4 no-pad">
                        <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{recentnewsslugs}]}">
                            <div class="feat-news-img" style="background-image: url({[{ recentNewsThumb }]});">
                                <div ng-if="recentvideothumb" class="youtube-play" style="background-image: url(/images/template_images/yt.png);"></div>
                            </div>
                        </a>
                        <div class="pad-lr pad-t featured-desc">
                            <span class="h4-blue" ng-bind="recenttitle"></span>
                            <p class="featphar featured-blog-summary">
                                <span ng-bind="recentsummary"></span>
                            </p> 
                        </div>
                    </div>
                    <div class="col-sm-4 no-pad">
                        <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{mindfulnewsslugs}]}">
                            <div class="feat-news-img" style="background-image: url({[{ mindfulNewsThumb }]});">
                                <div ng-if="mindfulvideothumb" class="youtube-play" style="background-image: url(/images/template_images/yt.png);"></div>
                            </div>
                        </a>
                        <div class="pad-lr pad-t featured-desc" style="padding-right: 30px;">
                            <span class="h4-blue" ng-bind="mindfultitle"></span>
                            <p class="featphar featured-blog-summary">
                                <span ng-bind="mindfulsummary"></span>
                            </p> 
                        </div>
                    </div>
                </div>

                <div class="space-need"></div>
                <div class="arrr2 arrow-hovs">
                    <a href="#shop"><img src="/img/arrdwn_gray.png" class="invertdwn2"></a>
                </div>   
            </div>
        </div>
        <!-- hazel -->
        <div class="container-fluid indexcontent section" id="shop" style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/167449324.jpg');background-size:cover;">
            <div class="row_c">
                <div class="row">
                    <div class="col-sm-12 minustop-copy">
                        <span class="cntnttitle-copy">SHOP</span>
                    </div>

                    <div class="col-sm-12">
                        <div class="con-auto-700">
                            <p class="c-white f-res">
                                In our store, you will find ECO gift items, campaign tools and educational materials. We will continue to expand our store to provide items that widely benefit people and the planet. Your purchases allow ECO to fulfills its mission. Proceeds from all sales goes to fund our efforts.
                            </p>
                        </div>

                        <div class="orangebtns">
                            <a href="http://www.cafepress.com/earthcitizensorganization" class="ornge">Visit our Shop</a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 blgblg">
                            <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="#">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-t-shirts-and-clothing.jpg');" class="wie-img"></div>
                                    <p class="titleC">T-SHIRTS & CLOTHING</p>
                                </a>
                                <p class="cdesc">Learn about our Mission to change the world</p>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="#">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-drinkware.jpg');" class="wie-img"></div>
                                    <p class="titleC">DRINKWARE</p>
                                </a>
                                <p class="cdesc">Learn about our Mission to change the world</p>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="#">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-stickers-and-buttons.jpg');" class="wie-img"></div>
                                    <p class="titleC">STICKERS & BUTTONS</p>
                                </a>
                                <p class="cdesc">Become a supporter of ECO and make a better world together.</p>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                                <a class="imglink" href="#">
                                    <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-gifts.jpg');" class="wie-img"></div>
                                    <p class="titleC">GIFTS</p>
                                </a>
                                <p class="cdesc">Learn about our Mission to change the world</p>
                            </div>

                        </div>
                    </div>  
                </div>

                <div class="space-need"></div>
                <div class="arrr2">
                    <a href="#donate"><img src="/img/arrdwn_gray.png" class="invertdwn2"></a>
                </div>   
            </div>
        </div>
        <div class="container-fluid indexcontent section" id="donate" style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/background-donate.jpg');background-size:cover;">
            <div class="row row_c">
                <div class="col-sm-12 minustop-copy">
                    <span class="cntnttitle-copy">DONATE</span>
                </div>
                <div class="col-sm-12">
                    <div class="con-auto-700">
                        <p class="c-white f-res">
                            ECO operates on donations from institutions and individuals who support our shared vision for a peaceful and sustainable world. To pursue the projects to advance our mission, ECO relies on donations from institutions and individuals who support our shared vision for a peaceful and sustainable world.
                        </p>
                    </div>
                    <div class="orangebtns">
                        <a href="/donation" class="ornge">Make a Donation</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12 blgblg">
                        <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                            <a class="imglink" href="#">
                            <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-simple-ways-to-give.jpg');" class="wie-img"></div>
                                <p class="titleCwhite">SIMPLE WAYS TO GIVE</p>
                            </a>
                            <p class="cdescwhite">Co-create a better world with ECO.</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                            <a class="imglink" href="/planned-giving">
                            <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-planned-giving.jpg');" class="wie-img"></div>
                                <p class="titleCwhite">PLANNED GIVING</p>
                            </a>
                            <p class="cdescwhite">Explore various ways to support ECO’s vision.</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                            <a class="imglink" href="/project-funds">
                            <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-project-funds.jpg');" class="wie-img"></div>
                                <p class="titleCwhite">PROJECT FUNDS</p>
                            </a>
                            <p class="cdescwhite">Support education, community service and facility development</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-6 cen bilogbilog">
                            <a class="imglink" href="#">
                            <div style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/button-sponsor-a-hero.jpg');" class="wie-img"></div>
                                <p class="titleCwhite">SPONSOR A HERO</p>
                            </a>
                            <p class="cdescwhite">Nulla et lorem facilisis, interdum tellus ut, consectetur ante.</p>
                        </div>
                        
                    </div>
                </div> 
            </div>
        </div>
    </div>


<div class="container-fluid">
    <div  class="footer-bg">
        <div class="eco-container">
            <div class="row">
                <div class="col-md-3" style="color: #ffffff !important; float: left;" id="footer-mission-statement">
                    <span>MISSION STATEMENT<br/><br/></span>
                    <div style="">
                        <span style="font-size: 12px;">
                            Earth Citizens Organization (ECO) is a non-profit that promotes natural health and mindful living for a sustainable world. An Earth Citizen is a person who understands that we are all citizens of the Earth and takes responsibility for its well-being.<br/><br/>
                        </span>
                    </div>

                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;" id="footer-navigation">
                    <span>NAVIGATION<br/><br/></span>
                    <div style="width:100%;">
                        <span style="font-size: 12px;">
                            <nav  class="nav" style="padding-top: 0px;">
                                <a href="<?php echo $this->config->application->baseURL; ?>/#whatiseco" style="color:#ffffff;">WHAT IS ECO?</a><br/>
                                <a href="<?php echo $this->config->application->baseURL; ?>/#join" style="color:#ffffff;">JOIN</a><br/>
                                <a href="<?php echo $this->config->application->baseURL; ?>/#learn" style="color:#ffffff;">LEARN</a><br/>
                                <a href="<?php echo $this->config->application->baseURL; ?>/#serve" style="color:#ffffff;">SERVE</a><br/>
                                <a href="<?php echo $this->config->application->baseURL; ?>/news" style="color:#ffffff;">NEWS</a><br/>
                                <a href="http://www.cafepress.com/earthcitizensorganization" target="_blank" style="color:#ffffff;">SHOP</a><br/>
                                <a href="<?php echo $this->config->application->baseURL; ?>/donation" style="color:#ffffff;">DONATE</a><br/><br/>
                            </nav>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;" id="addus-navigation">
                    <span>ADD US<br/><br/></span>
                    <div style="width:100%;">
                        <span style="font-size: 12px;">
                            <ul>
                                <li><a href="https://www.youtube.com/user/goearthcitizens" style="color:#ffffff;"><i class="fa fa-youtube" style="color: #ffffff;"></i>&nbsp;&nbsp;YouTube</a><br/><br/></li>
                                <li><a href="https://www.facebook.com/EarthCitizensOrganization" style="color:#ffffff;"><i class="fa fa-facebook" style="color: #ffffff;"></i>&nbsp;&nbsp;Facebook</a><br/><br/></li>
                                <li><a href="https://twitter.com/goearthcitizens" style="color:#ffffff;"><i class="fa fa-twitter" style="color: #ffffff;"></i>&nbsp;&nbsp;Twitter</a></li>
                            </ul><br/><br/>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;" id="contactus-footer">
                    <span>CONTACT US<br/><br/></span>
                    <div style="width:100%;">
                        <span style="font-size: 12px;">
                            Earth Citizens Organization<br/>
                            340 Jordan Road Sedona, AZ 86336
                            <br/><br/>
                            <i class="fa fa-phone"></i> Contact: 928-301-6336
                            <br/><br/>
                            <a href="mailto:info@earthcitizens.org" style="color: #fff "><i class="fa fa-envelope-o"></i> Email: info@earthcitizens.org</a>
                            <br/><br/>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px 0px 10px 0px;">
                <div  style="  width: 100%;  background-color: #ffffff;  height: 3px;"></div>
            </div>
            <div class="row" style="padding-top: 2px;">
                <p style="font-size: 10px; text-align: center;color:#ffffff;">
                    ©2015 Earth Citizens Organization All rights reserved
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    var API_URL = '<?php echo $this->config->application->apiURL; ?>';
    var BASE_URL = '<?php echo $this->config->application->baseURL; ?>';
</script>

<!-- <script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script> -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script src="/js/template_js/main.js"></script>
<script src="/startbootstrap-full-slider-1.0.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    
    $(document).ready(function() {
        window.onresize = function() {
            setWidthHeight();
        }
        function setWidthHeight() {
            var width = $(window).width();                
            var windowHeight = $(window).height();
            if( width > 750 ){
                $(".section").width(width);
                $('.section').height(windowHeight);
            }
        };
        setWidthHeight();
    });
</script>

<!-- Script to Activate the Carousel -->
<script>
    // $('.carousel').carousel({
    //     interval: 7000, //changes the speed
    //     mode: 'fade'
    // })
</script>
<!-- end slider -->
 <script type="text/javascript">
    $('#notify').addClass('animated rubberBand');
    </script>
<script src="/js/stickytop.js"></script>

<script type="text/javascript" src="/js/angular/angular.min.js"></script> 
<script type="text/javascript" src="/js/angular/angular-route.js"></script> 
<script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script> 
<script type="text/javascript" src="/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/js/angular/angular-sanitize.js"></script>

<!-- Angular -->
<script type="text/javascript" src="/js/angular/angular-loading-master/angular-loading.css"></script>

<script type="text/javascript" src="/js/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="/js/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="/js/angular/angular-translate.js"></script>
<script type="text/javascript" src="/js/angular/ngStorage.min.js"></script>
<script type="text/javascript" src="/js/angular/ui-load.js"></script>
<script type="text/javascript" src="/js/angular/ui-jq.js"></script>
<script type="text/javascript" src="/js/angular/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="/js/angular/angular-ui-select/dist/select.js"></script>
<script type="text/javascript" src="/js/tokeninput/src/jquery.tokeninput.js"></script>
<script type="text/javascript" src="/js/select2/dist/js/select2.min.js"></script>
<script type="text/javascript" src="/js/angular/chosen/angular-chosen.min.js"></script>
<script type="text/javascript" src="/js/jquery/chosen/chosen.js"></script>
<script type="text/javascript" src="/js/jquery/chosen/chosen.jquery.js"></script>

<script type="text/javascript" src="/js/angular/timepickerpop-master/src/timepickerpop.js"></script>
<script type="text/javascript" src="/js/angular/angular-jwt/dist/angular-jwt.min.js"></script>
<script type="text/javascript" src="/js/angular/a0-angular-storage/dist/angular-storage.min.js"></script>

<!-- ng upload -->
<script type="text/javascript" src="/js/angular/ng-file-upload/ng-file-upload.min.js"></script>
<script type="text/javascript" src="/js/angular/ng-file-upload/ng-file-upload-shim.js"></script>

<!-- angular-timer -->
<script type="text/javascript" src="/vendors/angular-timer/dist/angular-timer.js"></script>
<script type="text/javascript" src="/vendors/humanize-duration/humanize-duration.js"></script>
<script type="text/javascript" src="/vendors/momentjs/moment.js"></script>

<script type="text/javascript" src="/js/fr/app.js"></script>
<script type="text/javascript" src="/js/config/config.js"></script>
    <?php echo @$otherjvascript ?>
<script type="text/javascript" src="/js/fr/filter.js"></script>
<!-- <script type="text/javascript" src="/js/directives.js"></script> -->
<script type="text/javascript" src="/js/fr/directives.js"></script>
<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/js/angular/angular-ckeditor-master/angular-ckeditor.js"></script>
<script type="text/javascript" src="/js/fr/news.js"></script>


    <script src="/fcalendar/ui-bootstrap-tpls-0.9.0.js"></script>
    <!-- <script src="/fcalendar/moment.js"></script> -->
    <!-- <script src="/fcalendar/fullcalendar.js"></script> -->
    <!-- <script src="/fcalendar/gcal.js"></script> -->
    <script src="/fcalendar/calendar.js"></script>
    <!-- <script src="/fcalendar/calendarDemo.js"></script> -->

    <?php echo $script_google; ?>

    <script type="text/javascript">
        $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
              }, 1000);
                return false;
            }
        }
    });
      });

        var hash = location.hash.replace('#/','#');
        if(hash != ''){
            $('html, body').animate({ scrollTop: $(hash).offset().top}, 1000);
        }
    </script>

    
    <script src="/cssmenu/cssmenu-script.js"></script>
    <script src="/SlidePushMenus/js/modernizr.custom.js"></script>
    <script src="/SlidePushMenus/js/classie.js"></script>
    <script type="text/javascript">
        var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeft = document.getElementById( 'showLeft' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        body = document.body;

        showLeft.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( menuLeft, 'cbp-spmenu-open' );
            disableOther( 'showLeft' );
        };
        showLeftPush.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( body, 'cbp-spmenu-push-toright' );
            classie.toggle( menuLeft, 'cbp-spmenu-open' );
            disableOther( 'showLeftPush' );
        };
        function disableOther( button ) {
            if( button !== 'showLeft' ) {
                classie.toggle( showLeft, 'disabled' );
            }
            if( button !== 'showRight' ) {
                classie.toggle( showRight, 'disabled' );
            }
            if( button !== 'showTop' ) {
                classie.toggle( showTop, 'disabled' );
            }
            if( button !== 'showBottom' ) {
                classie.toggle( showBottom, 'disabled' );
            }
            if( button !== 'showLeftPush' ) {
                classie.toggle( showLeftPush, 'disabled' );
            }
            if( button !== 'showRightPush' ) {
                classie.toggle( showRightPush, 'disabled' );
            }
        }
    </script>
<script src="/js/template_js/dropdown_js.js"></script>
<script type="text/javascript" src="/js/smartscroll-master/lethargy.min.js"></script>
<script src="https://rawgit.com/Olical/EventEmitter/master/EventEmitter.min.js"></script>
<script type="text/javascript" src="/js/smartscroll-master/smartscroll.min.js"></script>
<script>


    $.smartscroll({
        sectionWrapperSelector: ".section-wrapper",
        sectionClass: "section",
        autoHash: false,
        breakpoint: 3000,
        keepHistory: false,
        dynamicHeight : true,
        mode:"set" // or "set",
    });
    window.onunload = function(){ window.scrollTo(0,0); }
</script>
<!-- <script src="/js/template_js/dropdown_hover_ajax.js"></script> -->

</body>
</html>