<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/template_css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/template_css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/template_css/main.css">


    <link rel="stylesheet" href="/css/template_css/slidercss.css"> 
    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css"></link>      

    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">
    
    <link href='http://fonts.googleapis.com/css?family=Dosis|Noto+Sans|Arvo|PT+Sans|PT+Sans+Narrow|Roboto|Raleway|Montserrat|Roboto+Slab|Titillium+Web|Vollkorn' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/template_css/index.css">        

</head>

<body ng-controller="indexMainCtrl">
    <?php echo $this->getContent() ?>
    <!--==========================================TOP NAV=============================================-->
        <!--div class="container-fluid" >
        <div style="width: 100%; margin: auto;" align="center">
            <img src="img/ecologo.png" />
        </div>
    </div-->
    <!-- EFNRE START @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <div class="container-fluid">
        <div class="eco-container">
            <div id="ecologo" ></div>
            <div class="ecositenav">
                <nav>
                    <ul class="dropdown">
                        <li class="drop">
                            <a href="#" id="selected1">
                                <div id="menu_icon_what_is_eco">                
                                    <div id="training_selected1" class="selects"><img src="/images/template_images/menu_icon_what_is_eco_selected.png" /></div>
                                    <img id="training_not_selected1" src="/images/template_images/menu_icon_what_is_eco.png"/>
                                    <div class="p"><a href="#">WHAT IS ECO</a></div>
                                </div>
                            </a>

                        </li>
                        <li class="drop">
                            <a href="#" id="selected2">
                                <div id="menu_icon_training">
                                    <div id="training_selected2" class="selects"><img src="/images/template_images/menu_icon_training_selected.png" /></div>
                                    <img id="training_not_selected2" src="/images/template_images/menu_icon_training.png"/>
                                    <div class="p"><a href="page/index/13">TRAINING</a></div>
                                </div>
                            </a>
                            <ul class="sub_menu" id="sub_menu2">
                                <li><a style="padding-top: 15px;" href="page/index/4">PURPOSE</a></li>
                                <li><a href="page/index/15">CIRRICULUM</a></li>
                                <li><a href="page/index/16">PROGRAM DETAIL</a></li>
                                <li><a href="page/index/17">STORIES FROM GRADUATES AND GRADUATES<br/>ACTIVITIES</a></li>
                                <li><a href="page/index/18">APPLY NOW</a></li>                          
                                <li><a href="page/index/19"  style="border-radius: 0px 0px 10px 10px;">LEARNING CENTER<br/>INITIATIVE</a></li>                          
                            </ul>
                        </li>
                        <li class="drop">
                            <a href="#" id="selected3">
                                <div id="menu_icon_peace_parks">
                                    <div id="training_selected3" class="selects"><img src="/images/template_images/menu_icon_peace_parks_selected.png" /></div>
                                    <img id="training_not_selected3" src="/images/template_images/menu_icon_peace_parks.png"/>
                                    <div class="p"><a href="page/index/21">PEACE PARKS</a></div>
                                </div>
                            </a>
                            <ul class="sub_menu" id="sub_menu3">
                                <li><a style="padding-top: 15px;" href="page/index/322">PEACE PARKS<br/>INITIATIVE</a></li>
                                <li><a href="page/index/8">SUBMIT YOUR<br/>PROPOSAL</a></li>
                                <li><a href="page/index/24" style="border-radius: 0px 0px 10px 10px;">PEACE PARKS IN<br/>KOREAN DMZ</a></li>
                            </ul>
                        </li>
                        <li class="drop">
                            <a href="#" id="selected4">
                                <div id="menu_icon_about">
                                    <div id="training_selected4" class="selects"><img src="/images/template_images/menu_icon_about_selected.png" /></div>
                                    <img id="training_not_selected4" src="/images/template_images/menu_icon_about.png"/>
                                    <div class="p"><a href="page/index/3">ABOUT</a></div>
                                </div>
                            </a>
                            <ul class="sub_menu" id="sub_menu4">
                                <li><a style="padding-top: 15px;" href="page/index/1">VISION & MISION</a></li>
                                <li><a href="page/index/11">PEOPLE OF ECO</a></li>
                                <li><a href="page/index/2">HISTORY</a></li>
                                <li><a href="page/index/12" style="border-radius: 0px 0px 10px 10px;">INTERNATIONAL<br/>COLLABORATORS</a></li>
                            </ul>
                        </li>
                        <li class="drop">
                            <a href="#" id="selected5">
                                <div id="menu_icon_support_us">
                                    <div id="training_selected5" class="selects"><img src="/images/template_images/menu_icon_support_us_selected.png" /></div>
                                    <img id="training_not_selected5" src="/images/template_images/menu_icon_support_us.png"/>
                                    <div class="p">SUPPORT US</div>
                                </div>
                            </a>
                            <ul class="sub_menu" id="sub_menu5">
                                <li><a style="padding-top: 15px;" href="#">WAYS OF GIVING</a></li>
                                <li><a href="#">PLANNED OF GIVING</a></li>
                                <li><a href="#">FIND PROJECTS</a></li>
                                <li><a href="#" style="border-radius: 0px 0px 10px 10px;">DONATE NOW</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>    
    </div>

    <div class="container-fluid">
        <div class="mobileMenu mobileMenu2">
            <nav role="navigation" class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand"><p>ECO</p></a>
                </div>
                <!-- Collection of nav links and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">WHAT IS ECO</a>

                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="page/index/13">TRANING<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="page/index/13">Training</a></li>
                                <li><a href="page/index/4">Purpose</a></li>
                                <li><a href="page/index/15">Curriculum</a></li>
                                <li><a href="page/index/16">Program Detail</a></li>
                                <li><a href="page/index/17">Stories from Graduates and Graduate's<br/>Activities</a></li>
                                <li><a href="page/index/18">Apply Now</a></li>
                                <li><a href="page/index/19">Learning Center Initiative</a></li>
                            </ul>

                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="page/index/21">PEACE PARKS<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="page/index/21">Peace Parks</a></li>
                                <li><a href="page/index/22">Peace Parks Initiative</a></li>
                                <li><a href="page/index/8">Submit Proposal</a></li>
                                <li><a href="page/index/24">Peace Parks in Korean DMZ</a></li>
                            </ul>

                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="page/index/3">ABOUT<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="page/index/3">About</a></li>
                                <li><a href="page/index/1">Vision & Mission</a></li>
                                <li><a href="page/index/11">People of ECO</a></li>
                                <li><a href="page/index/2">History</a></li>
                                <li><a href="page/index/12">International Collaborators</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Support Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- EFNRE END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div class="container-fluid"><div class="bluebar"></div></div>
    <div class="container-fluid headerBanner2">
      <div class="wrapper-md " style="margin:auto;">
      
      </div>
    </div>
   
    
    <!--div id="orangebarko">
        <table align="center" height="65" class="tebel"><tr><td>
            <img src="images/template_images/donate-bttn.png" />
        </td><td>
            <a href="" style="font-size:22px; margin-left:10px; font-family:Leelawadee UI; color:#FFF">DONATE WHAT YOU CAN TO HELP</a>
        </td></tr></table>
    </div-->
    
   
</div>      

<!-- slider begin -->
<!-- it works the same with all jquery version from 1.x to 2.x -->
<script src="/js/template_js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script>
<!-- use jssor.slider.mini.js (40KB) instead for release -->
<!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
<script type="text/javascript" src="/js/template_js/jssor.js"></script>
<script type="text/javascript" src="/js/template_js/jssor.slider.js"></script>

<script src="/js/template_js/jquery.min.js"></script>
<script src="/js/template_js/bootstrap.min.js"></script>

<script src="/js/template_js/jquery.js"></script>
<script src="/js/template_js/dropdown_js.js"></script>
<script src="/js/template_js/dropdown_hover_ajax.js"></script>

<script>


jQuery(document).ready(function ($) {

                //Reference http://www.jssor.com/development/slider-with-caption-jquery.html
                //Reference http://www.jssor.com/development/reference-ui-definition.html#captiondefinition
                //Reference http://www.jssor.com/development/tool-caption-transition-viewer.html

                var _CaptionTransitions = [
                //CLIP|LR
                {$Duration: 900, $Clip: 3, $Easing: $JssorEasing$.$EaseInOutCubic },
                //CLIP|TB
                {$Duration: 900, $Clip: 12, $Easing: $JssorEasing$.$EaseInOutCubic },

                //ZMF|10
                {$Duration: 600, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseInExpo, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 },

                //ZML|R
                {$Duration: 600, x: -0.6, $Zoom: 11, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic }, $Opacity: 2 },
                //ZML|B
                {$Duration: 600, y: -0.6, $Zoom: 11, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic }, $Opacity: 2 },

                //ZMS|B
                {$Duration: 700, y: -0.6, $Zoom: 1, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic }, $Opacity: 2 },

                //RTT|10
                {$Duration: 700, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInExpo, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8} },

                //RTTL|R
                {$Duration: 700, x: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8} },
                //RTTL|B
                {$Duration: 700, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8} },

                //RTTS|R
                {$Duration: 700, x: -0.6, $Zoom: 1, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInQuad, $Zoom: $JssorEasing$.$EaseInQuad, $Rotate: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseOutQuad }, $Opacity: 2, $Round: { $Rotate: 1.2} },
                //RTTS|B
                {$Duration: 700, y: -0.6, $Zoom: 1, $Rotate: 1, $Easing: { $Top: $JssorEasing$.$EaseInQuad, $Zoom: $JssorEasing$.$EaseInQuad, $Rotate: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseOutQuad }, $Opacity: 2, $Round: { $Rotate: 1.2} },

                //R|IB
                {$Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutBack }, $Opacity: 2 },
                //B|IB
                {$Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutBack }, $Opacity: 2 },

                ];

                var options = {
                    $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                    $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                    $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                    $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                    $ArrowKeyNavigation: true,                          //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                    $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                    $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                    //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                    //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                    $SlideSpacing: 0,                                   //[Optional] Space between each slide in pixels, default value is 0
                    $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                    $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                    $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                    $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                    $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                    $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                        $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                        $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                        $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                        $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                    },

                    $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                        $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                        $ChanceToShow: 0,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                        $AutoCenter: 0,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                        $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                        $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                        $SpacingX: 10,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                        $SpacingY: 10,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                        $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                    },

                    $ArrowNavigatorOptions: {
                        $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                        $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                        $AutoCenter: 0,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                        $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                    }
                };
                var jssor_slider1 = new $JssorSlider$("slider1_container", options);
                //responsive code begin
                //you can remove responsive code if you don't want the slider scales while window resizes
                function ScaleSlider() {
                    var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                    if (parentWidth)
                        jssor_slider1.$ScaleWidth(Math.min(parentWidth, 1225));
                    else
                        window.setTimeout(ScaleSlider, 30);
                }
                ScaleSlider();

                $(window).bind("load", ScaleSlider);
                $(window).bind("resize", ScaleSlider);
                $(window).bind("orientationchange", ScaleSlider);
                //responsive code end
            });
</script>

<script>window.jQuery || document.write('<script src="/js/template_js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

<script src="/js/template_js/vendor/bootstrap.min.js"></script>

<script src="/js/template_js/main.js"></script>

<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/styles.js"></script>
<script src="/js/ckeditor/adapters/jquery.js"></script>

    <?php echo $script_google; ?>
    
    </body>
    </html>
