

<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable = yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Earth Citizens Organization</title>


    <link rel="stylesheet" href="/css/template_css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/template_css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/template_css/main.css">

    <link rel="stylesheet" href="/css/template_css/slidercss.css"> 
    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css"></link>      

    <link rel="stylesheet" type="text/css" href="/css/template_css/initcarousel-1.css">

    <!--  <link rel="stylesheet" href="/css/template_css/index.css"> -->
    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- FROM MAIN -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">   
    <link rel="stylesheet" type="text/css" href="/css/fr/color.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fr/reset.css"/>
    <link rel="stylesheet" href="css/fr/horizontal.css"/>
    <!-- END FROM MAIN --> 
    <link rel="stylesheet" href="/css/template_css/temp_index.css">    

</head>

<body ng-controller="indexMainCtrl">
    <!-- EFNRE START @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div class="container-fluid">
        <div class="eco-container top">
            <div class="top-contact" style="float: left;">
                <span><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@earthcitizens.org&nbsp;&nbsp;</span>
            </div>
            <div class="top-social-icon" style="text-align: right;">
                <span>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/user/goearthcitizens"><i class="fa fa-youtube"></i></a></span>
                <span>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/EarthCitizensOrganization" ><i class="fa fa-facebook"></i></a></span>
                <span>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/goearthcitizens" ><i class="fa fa-twitter"></i></a></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="navsticky">
            <div class="eco-container">
                <div id="ecologo" ><a href="http://www.earthcitizens.org/indextemp"><img  class="logo-size" src="/images/template_images/ecologo1.png" style="width:115px;"></a></div>
                <div class="ecositenav">
                    <nav  class="nav">
                        <ul class="dropdown" >
                            <li class="drop">
                                <a href="../indextemp/#abouteco" id="selected4">
                                    <div id="menu_icon_about" class="menudiv1">
                                        <div class="menuicon1"></div>
                                        <div class="p">ABOUT US</div>
                                    </div>
                                </a>

                            </li>
                            <li class="drop">
                                <a href="../indextemp/#ouractivities" id="selected2">
                                    <div id="menu_icon_training" class="menudiv2">
                                        <div class="menuicon2"></div>
                                        <div class="p">OUR ACTIVITIES</div>
                                    </div>
                                </a>
                            </li>
                            <li class="drop">
                                <a href="../indextemp/#ourprograms" id="selected3">
                                    <div id="menu_icon_peace_parks" class="menudiv3">
                                        <div class="menuicon3"></div>
                                        <div class="p">OUR PROGRAMS</div>
                                    </div>
                                </a>
                            </li>
                            <li class="drop">
                                <a href="http://heroesconnect.org" target="_blank" id="selected1">
                                   <div id="menu_icon_what_is_eco" class="menudiv4">
                                    <div class="menuicon4"></div>
                                    <div class="p">HEROES CONNECT</div>
                                </div>
                            </a>

                        </li>

                        <li class="drop">
                            <a href="../indextemp/#supportus" id="selected5">
                                <div id="menu_icon_support_us" class="menudiv5">
                                    <div class="menuicon5"></div>
                                    <div class="p">SUPPORT US</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="container-fluid"><div class="bluebar"></div></div>
    </div>
</div>
<div class="container-fluid">
    <div class="mob-ecologo"  style="width:170px;margin:auto;padding-top:5px;"><a href="http://www.earthcitizens.org/indextemp"><img  class="logo-size" src="/images/template_images/ecologo2.png" style="width:150px;"></a></div>
    <div class="navsticky">
        <div class="mobileMenu mobileMenu2">
            <nav role="navigation" class="navbar navbar-default nav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand"><p>ECO</p></a>
                </div>
                <!-- Collection of nav links and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#abouteco">ABOUT US</a>
                        </li>
                        <li>
                            <a href="#ouractivities">OUR ACTIVITIES</a>
                        </li>
                        <li>
                            <a href="#ourprograms">OUR PROGRAMS</a>
                        </li>
                        <li>
                            <a href="http://heroesconnect.org">HEROES CONNECT</a>
                        </li>
                        <li>
                            <a href="#supportus">SUPPORT US</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- EFNRE END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

<div class="container-fluid"><div class="bluebar"></div></div>  



<!--  -->

<div class="container-fluid" ng-controller='registrationCtrl' >
   <div class="eco-container" >
      <div class="wrapper-md " >
         <div class="row">
            <div class="col-lg-12">


                <div class="col-lg-12">
                   <!-- chat -->
                   <div class="panel panel-default">
                      <div class="panel-heading"><div class="h2title-1">Confirmation</div></div>
                      <div class="panel-body">
                         <div class="m-b">
                            <div class="m-l-xxl">
                              <?php echo $this->getContent()?>
                              Your email has been confirmed! Thanks for registering! 
                              <a href="/donation" style="color:skyblue;"><u>Return Login</u></a>
                          </div>
                      </div>

                  </div>

              </div>
              <!-- /chat -->            

          </div>
          <div class="col-sm-12">
    <div class="eco-col-4" style="padding:50px 0px 50px 0px; font-style: italic; font-size:17px;color:#777;">
        <p>
            ECO is a 501(c)3 non-profit organization and your donation to ECO is tax-deductible deductible as charitable contribution for which donor receives no material benefits in return unless specified otherwise in the donation receipt. As a member of ECO, you will receive eNewsletter and online support for your activities in your community.
        </p>
    </div>
</div>

      </div>

  </div>
</div>
</div>

</div>   



<!-- End of body section HTML codes -->
<div class="container-fluid">
    <div  class="footer-bg">
       <div class="container-fluid">
        <div  class="footer-bg">
            <div class="eco-container">
                <div class="row">
                    <div class="col-md-3" style="color: #ffffff !important; float: left;">
                        <span>MISSION STATEMENT<br/><br/></span>
                        <div style="width:230px; padding-right: 15px;">
                            <span style="font-size: 12px;">
                                Earth Citizens Organization (ECO) is a nonprofit that promotes natural health and mindful living for a sustainable world. An Earth Citizen is a person who understands that we are all citizens of the Earth and takes responsibility for its well-being.<br/><br/>
                            </span>
                        </div>

                    </div>
                    <div class="col-md-3" style="color: #ffffff !important; float: left;">
                        <span>NAVIGATION<br/><br/></span>
                        <div style="width:190px; padding-right: 55px;">
                            <span style="font-size: 12px;">
                                <nav  class="nav" style="padding-top: 0px;">
                                    <a href="#abouteco" style="color:#ffffff;">ABOUT US</a><br/>
                                    <a href="#ouractivities" style="color:#ffffff;">OUR ACTIVITIES</a><br/>
                                    <a href="#ourprograms" style="color:#ffffff;">OUR PROGRAMS</a><br/>
                                    <a href="http://heroesconnect.org" style="color:#ffffff;">HEROES CONNECT</a><br/>
                                    <a href="#supportus" style="color:#ffffff;">SUPPORT US</a><br/>
                                    <a href="../donation" style="color:#ffffff;">DONATE</a><br/><br/>
                                </nav>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3" style="color: #ffffff !important; float: left;">
                        <span>ADD US<br/><br/></span>
                        <div style="width:190px; padding-right: 55px;">
                            <span style="font-size: 12px;">
                                <ul>
                                    <li><a href="https://www.youtube.com/user/goearthcitizens" style="color:#ffffff;"><i class="fa fa-youtube" style="color: #ffffff;"></i>&nbsp;&nbsp;YouTube</a><br/><br/></li>
                                    <li><a href="https://www.facebook.com/EarthCitizensOrganization" style="color:#ffffff;"><i class="fa fa-facebook" style="color: #ffffff;"></i>&nbsp;&nbsp;Facebook</a><br/><br/></li>
                                    <li><a href="https://twitter.com/goearthcitizens" style="color:#ffffff;"><i class="fa fa-twitter" style="color: #ffffff;"></i>&nbsp;&nbsp;Twitter</a></li>
                                </ul><br/><br/>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3" style="color: #ffffff !important; float: left;">
                        <span>CONTACT US<br/><br/></span>
                        <div style="width:230px; padding-right: 15px;">
                            <span style="font-size: 12px;">
                                Earth Citizens Organization<br/>
                                340 Jordan Road Sedona, AZ 86336
                                <br/><br/>
                                <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Email: goearthcitizens@gmail.com
                                <br/><br/>
                            </span>
                        </div>
                    </div>                    
                </div>
                <div class="row" style="padding: 10px 0px 10px 0px;">
                    <div  style="  width: 100%;  background-color: #ffffff;  height: 3px;"></div>
                </div>
                <div class="row" style="padding-top: 2px;">
                    <p style="font-size: 10px; text-align: center;color:#ffffff;">
                        ©2015 Earth Citizen Organization All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>   


<script src="/js/template_js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script>


<script src="/js/template_js/jquery.min.js"></script>
<script src="/js/template_js/bootstrap.min.js"></script>
<!-- dropdown -->
<script src="/js/template_js/jquery.js"></script>
<script src="/js/template_js/dropdown_js.js"></script>
<script src="/js/template_js/dropdown_hover_ajax.js"></script>
<!-- end dropdown -->
<!-- carousel -->
<script src="/js/template_js/amazingcarousel.js"></script>
<script src="/js/template_js/initcarousel-1.js"></script>
<!-- end carousel -->
<script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>

<script src="/js/template_js/vendor/bootstrap.min.js"></script>

<script src="/js/template_js/main.js"></script>



<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/styles.js"></script>




<!-- JS FROM MAIN -->

<!--==========================================BOOSTRAP JS=============================================-->
<script type="text/javascript" src="/js/fr/jquery.counterup.min.js"></script>
<script type="text/javascript" src="/js/fr/waypoint.min.js"></script>
<script>
    $(document).ready(function () {

        $(".mapp").hide();
        $(".map-btncl").hide();
        $(".map-btn").click(function () {
            $(".mapp").toggle("slow");
        });

        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });


    });

</script>

    <?php echo $script_google; ?>
    
    </body>
    </html>





