        <?php echo $this->getContent() ?>
        <br>
        <div class="container-fluid" ng-controller="ProjikCtrl">
            <div class="eco-container">
                <h1 class="m-n font-thin h3 text-black">ECO Projects</h1>
            </div>
            <div class="eco-container" id="projiklist">
                <?php 
                    $lisva = $projikinfo;
                    foreach ($lisva as $key => $value) {
                        $imgurl_check = $this->config->application->apiURL."/images/featurebanner/".$lisva[$key]->feat_picpath;
                        if(!is_array(@getimagesize($imgurl_check))){
                            $imglink = $this->config->application->apiURL."/images/nia.png";
                        }else{
                            $imglink = $this->config->application->apiURL."/images/featurebanner/".$lisva[$key]->feat_picpath;
                        }
                ?>                    
                    <?php if($lisva[$key]->feat_pub==1){ ?>
                    <table width="100%"><tr height="140"><td>
                        <div class="fillmyimage"><img src="<?php echo $imglink; ?>"></div>
                        <b><u style="font-size:18px"><?php echo $lisva[$key]->feat_title; ?></u></b>
                        <p style="color:#5386c1"><?php if($lisva[$key]->reupdate == "0000-00-00"){ echo 'Date Posted: '.$lisva[$key]->feat_date; }else{ echo 'Date Posted: '.$lisva[$key]->feat_date; } ?></p>
                        <?php 
                            $limitlenght = strrpos($lisva[$key]->feat_content, ' ');
                                  if($limitlenght >= 275){
                                    $removedimg = strip_tags($lisva[$key]->feat_content, '<img>');
                                    $limitcontent = substr($removedimg,0,275);
                                    $limitlenght = strrpos($limitcontent, ' ');
                                    $limitlenght = strrpos($limitcontent, ' ');
                                    echo $viewcontent = substr($removedimg,0,$limitlenght).'...';
                                  }else{
                                    $removedimg = strip_tags($lisva[$key]->feat_content, '<img>');
                                    echo $viewcontent = $removedimg.'...';
                                  }
                        ?>
                        <a href="<?php echo $this->config->application->baseURL; ?>/projects/viewer/<?php echo $lisva[$key]->feat_id ."/". $pageslugs; ?>">
                            <span class="label bg-info">Read More</span>
                        </a>
                    </td></tr></table><br>
                    <?php } ?>
                <?php } ?>
            </div>
            <div class="eco-container">
                    <div style="padding-top:20px;text-align:center" ng-show="notendresult">
                        <div class="spinner" ng-show="showloading">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <input type="button" value="show more" ng-click="getProjik()" style="width:100%;height:35px">
                    </div>
                    <div style="padding-top:20px;text-align:center" ng-show="endresult">
                        <input style="width:100%;height:35px" type="button" disabled value="no more to show">
                    </div>
            </div>
        </div>
