<?php echo $this->getContent() ?>
    <div class="container-fluid featresize">
        <div class="eco-container"><br>
            <?php
                $imgurl_check = $this->config->application->apiURL."/images/featurebanner/".$feat_picpath;
                if(is_array(@getimagesize($imgurl_check))){
            ?>
            <div style="background: url(<?php echo $imgurl_check; ?>) 0px 0px;width: 100%;height: 400px;background-size: cover;">
                <!-- <img src="http://ecoapi/images/featurebanner/<?php $feat_picpath; ?>" style="flex-shrink:0;max-width:200%;max-height:200%"> -->
            </div>
            <?php
                }
            ?>        	
            <div>
                <p style="color:#5386c1;font-size:36px;padding-top:10px;line-height:30px">
                    <?php echo $feat_title; ?><br>
                    <font style="font-size:18px"><?php echo 'Date Posted: '.date('F j, Y',strtotime($feat_date)); ?></font>
                </p>
            </div>
            <div>
            	<p style="font-family: 'Noto Sans', sans-serif;text-indent:10px"><?php echo $feat_content; ?></p>
            </div>
        </div>
    </div>
    <?php if($feat_status == 1){ ?>
    <div class="container-fluid featresize" style="padding-top:20px;">
    <!--===green content===-->
    <div class="" style="background:#CCC;height:100%; padding-bottom:20px">
        <!-- Jssor Slider Begin -->
        <!-- You can move inline styles to css file or css block. -->
        <div id="slider1_container" style="position: relative; margin: auto; top: 0px; left: 0px; width: 1000px; height: 300px; overflow: hidden; ">

            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
            <div style="position: absolute; display: block; background: url(images/template_images/loading.gif) no-repeat center center;
            top: 0px; left: 0px;width: 100%;height:100%;">
        </div>
    </div>

    <div u="slides" style="cursor: move; position: absolute; left: 100px; top: 30px; width: 800px; height: 400px; overflow: hidden;">
        <?php 
            $nslides = json_decode($pslides);
            foreach ($nslides as $key => $value) {
        ?>
            <div>
                <img class="imgs" u="image" src="<?php echo $this->config->application->apiURL; ?>/images/<?php echo $slidepath;?>/<?php echo $nslides[$key]->path; ?>">
            </div>
        <?php } ?>
    </div>

    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb01" style="position: absolute; bottom: 16px; right: 10px;">
        <!-- bullet navigator item prototype -->
        <div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
    </div>
    <!-- Bullet Navigator Skin End -->

    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora02l" style="width: 55px; height: 55px; top: 123px; left: 40px;">
    </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora02r" style="width: 55px; height: 55px; top: 123px; right: 40px">
    </span>
    <!-- Arrow Navigator Skin End -->
    <a style="display: none" href="http://www.jssor.com">Image Slider</a>
</div>
<!-- Jssor Slider End -->
</div>
</div>
<?php } ?>

<div style="padding-top:20px; float:right">
    <a href="<?php echo $this->config->application->baseURL; ?>/projects/featured/<?php echo $pageslugs?>">
        <span class="btn bg-info">view all project</span>
    </a>
</div>

<!-- ===================================================================================================== -->
<?php if($feat_status == 1){ ?>
<!-- slider begin -->
<!-- it works the same with all jquery version from 1.x to 2.x -->
<script src="/js/template_js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script>
<!-- use jssor.slider.mini.js (40KB) instead for release -->
<!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
<script type="text/javascript" src="/js/template_js/jssor.js"></script>
<script type="text/javascript" src="/js/template_js/jssor.slider.js"></script>
<script type="text/javascript" src="/js/jsorslider.js"></script>
<?php } ?>
