/* Basic carousel, carousel-container and button styles */

#jcl-demo .custom-container {
    margin: 60px 325px;
    /*width: 1400px;*/
}

#jcl-demo .carousel, #jcl-demo .carousel * {
    box-sizing: content-box;    /* My theme uses border-box for whatever reason, I don't know. I am switching it to the standard content-box here */
    /*background-color: #666666;*/
}

#jcl-demo .carousel {
    border: 0px solid #bababa;
    border-radius: 10px;
    background-color: none;
    float: left;
    padding-left: 370px;

    /* Needed for rendering without flicker */
    position: relative;
    visibility: hidden;
    left: -5000px;
}
#jcl-demo .carousel>ul {}
#jcl-demo .carousel>ul>li {}
#jcl-demo .carousel>ul>li>img,
#jcl-demo .carousel>ul>li>p {
    /* mandatory */
    width: 150px;
    height: 118px;
    vertical-align: middle;

    /* optional */
    margin: 10px 10px 10px 0;
    border-radius: 5px;
}
#jcl-demo .carousel>ul>li>p {
    /* mandatory */
    width: 130px;
    height: 98px;

    border: 1px solid #808080;
    line-height: normal;
    background-color: #fff;
    padding: 10px;
}

/* Additional styles for <a> based buttons with images */
#jcl-demo a.prev, #jcl-demo a.next, #jcl-demo a.go {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;

    /*background-color: #333333;*/
    /*color: ghostwhite;*/
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 8px;

    float: left;
}
#jcl-demo a.prev {
    margin: 65px 30px 0 0;
    /*text-indent: 7px;*/
}
#jcl-demo a.next {
    margin: 65px 10px 0 -5px;
    /*text-indent: 10px;*/
}
#jcl-demo a.prev:hover, #jcl-demo a.next:hover, #jcl-demo a.go:hover {
    /*background-color: #666666;*/
}

/* Additional carousel styles for external controls, slider, widget, mid etc. */

#jcl-demo .externalControl button,
#jcl-demo .imageSliderExt button {
    margin: 5px 5px 0 0;
}
    #jcl-demo .externalControl a.next, #jcl-demo .externalControl a.prev, #jcl-demo .externalControl a.go,
    #jcl-demo .imageSliderExt a.next, #jcl-demo .imageSliderExt a.prev, #jcl-demo .imageSliderExt a.go
    {
        margin: 0 5px 0 0;
        padding: 7px 5px 0 5px;
        font-size: 15px;
        text-align: center;
        border-radius: 3px;
    }


    #jcl-demo .widget img {
    cursor: pointer;
}
#jcl-demo .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
#jcl-demo .vertical {
    margin-left: 170px;
}
#jcl-demo .vertical .carousel {   /* so that in IE 6, the carousel div doesnt expand to fill the space */
    /*width: 160px;*/
}
#jcl-demo .imageSlider .carousel>ul>li>img,
#jcl-demo .imageSliderExt .carousel>ul>li>img {
    width: 400px;
    height: 300px;
}
#jcl-demo .imageSlider .carousel>ul>li>p,
#jcl-demo .imageSliderExt .carousel>ul>li>p {
    width: 380px;
    height: 280px;
}


/* Other Styles */

#jcl-demo h4 {
    font-weight: bold;
}





