<script type="text/ng-template" id="myProj.html">
  <div ng-include="'/tpl/myProj.html'"></div>
</script>
<script type="text/ng-template" id="viewMyProfile.html">
  <div ng-include="'/tpl/viewMyProfile.html'"></div>
</script>
<script type="text/ng-template" id="changeMemberPass.html">
  <div ng-include="'/tpl/changeMemberPass.html'"></div>
</script>
<script type="text/ng-template" id="deleteMyProj.html">
  <div ng-include="'/tpl/deleteMyProj.html'"></div>
</script>
<script type="text/ng-template" id="myNotification.html">
  <div ng-include="'/tpl/myNotification.html'"></div>
</script>
<div class="container-fluid">
  <div class="eco-container top">
    <div class="row">
      <div class="col-xs-3 toptop1">
        <div class="top-contact" style="float: left;">
          <span><a href="mailto:info@earthcitizens.org" style="color: #5386C1 "><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@earthcitizens.org</a></span>
        </div>
      </div>
      <div class="col-xs-3 toptop2">
        <div class="top-contact" style="text-align:center;">
          <span style="color: #5386C1;  "><i class="fa fa-user"> </i>&nbsp;&nbsp;Earth Citizens Count: <span ng-bind="userscount"></span></span>
          <span style="color: #5386C1;  " class="join"><a ng-href="{[{BASE_URL}]}/donation/##new-account">Join</a></span>
        </div>

      </div>
      <div class="col-sm-4" style="padding-top:5px">
        <div class="top-social-icon" style="text-align: right;" ng-if="agent == null">
          <span>&nbsp;&nbsp;&nbsp;Create your Project:</span>
          <span>&nbsp;&nbsp;&nbsp;<a href="{[{BASE_URL}]}/earth-citizenship">Sign Up</a></span>
          <span>&nbsp;/&nbsp;&nbsp;<a href="{[{BASE_URL}]}/login" >Log In</a></span>
        </div>
        <div class="top-social-icon" style="text-align: center;" ng-if="agent">
          
          <div class="btn-user-panel dropdown" style="float: left;">
            <a class="dropdown-toggle">
              Hello, <span ng-bind="agent.firstname | capfirst"></span> <span ng-bind="agent.lastname | capfirst"></span>
            </a>
            <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
              <span class="caret agent-caret"></span>
            </a>
            <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm dropdown-toggle cursor-pointer">
              <img src="{[{amazonlink}]}/uploads/memberphotos/{[{agent.photo}]}" ng-if="agent.photo != null" alt="...">
            </span>
            <ul class="dropdown-menu user-panel animated fadeInUp">
              <li><a href="{[{BASE_URL}]}/projects/createproject">Create my own Project</a></li>
              <li><a href="" ng-click="myproj()">See my Projects</a></li>
              <li><a href="" ng-click="viewmyprof()">My Profile</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="logout()">Logout</a></li>
            </ul>
          </div>

          <div class="dropdown" style="float: left;">
            <a href="" class="dropdown-toggle nodec" aria-haspopup="true" aria-expanded="false">
              <i class="icon-bell fa-fw"></i>
              <span class="visible-xs-inline">Notifications</span>
              <span id="notify" class="badge badge-sm up bg-danger pull-right-xs" ng-bind="notiCount" ng-show="notiCount > 0"></span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp user-panel">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>
                    You have 
                    <span ng-bind="notiCount"></span> 
                    <span ng-show="notiCount > 1">notifications</span>             
                    <span ng-show="notiCount <= 1">notification</span> 
                  </strong>
                </div>
                <div class="list-group">
                  <div ng-repeat="myNotes in myNotes">
                    <a href="" class="media list-group-item" ng-click="clickNotify(agent.username,myNotes.projSlugs,myNotes.noteType,myNotes.noteID)">
                      <span class="media-body block m-b-none">
                        <span ng-bind="myNotes.content"></span><br>
                        <small class="text-muted">
                          <span ng-show="myNotes.noteType == '5'" class="label bg-primary">Donation</span>
                          <span ng-show="myNotes.noteType == '1'" class="label bg-success">Approved</span>
                          <span ng-show="myNotes.noteType == '3'" class="label bg-danger">Disapproved</span>
                        </small>
                        <small class="text-muted pull-right">
                          <timer start-time="myNotes.timeStarted |charToint">
                            <span ng-show="days > 0">
                              <span ng-show="days == 1">a day ago</span>
                              <span ng-show="days > 1">{[{days}]} days ago</span>
                            </span>
                            <span ng-show="hours > 0 && days == 0">
                              <span ng-show="hours == 1">an hour ago</span>
                              <span ng-show="hours > 1">{[{hours}]} hours ago</span>
                            </span>
                            <span ng-show="minutes > 0  && hours == 0">
                              <span ng-show="minutes == 1">a minute ago</span>
                              <span ng-show="minutes > 1">{[{minutes}]} minutes ago</span>
                            </span>
                            <span ng-show="seconds > 0  && minutes == 0">
                              a seconds ago
                            </span>
                          </timer>
                        </small>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="panel-footer text-sm">
                  <a href="" ng-click="myNotification()">See all the notifications</a>
                </div>
              </div>
            </div>
            <!-- / dropdown -->
          </div>
          
        </div>
      </div>
      <div class="col-xs-2 toptop3" style="padding-top:5px">
        <div class="top-social-icon" style="text-align: right;">
          <span>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/user/goearthcitizens"><i class="fa fa-youtube"></i></a></span>
          <span>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/EarthCitizensOrganization" ><i class="fa fa-facebook"></i></a></span>
          <span>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/goearthcitizens" ><i class="fa fa-twitter"></i></a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="navsticky">
    <div class="eco-container">
      <div id="ecologo">
        <a href="<?php echo $this->config->application->baseURL; ?>"><img  class="logo-size" src="/images/template_images/ecologo1.png" style="width:115px;"></a>
      </div>
      <div class="ecositenav">
        <nav  class="nav">
          <ul class="dropdown">
            <li class="drop">
              <a href="<?php echo $this->config->application->baseURL; ?>/#whatiseco" id="selected4">
                <div id="menu_icon_about" class="menudiv1">                                    
                  <div class="menuicon1"></div>
                  <div class="p">WHAT IS ECO?</div>
                </div>
              </a>
              <ul class="sub_menu" id="sub_menu2">
                <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/more-about-eco">MORE ABOUT ECO</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/partners-and-sponsors">PARTNERS AND SPONSORS</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/how-to-start-change">HOW TO START CHANGE</a></li>                          
                <li><a href="<?php echo $this->config->application->baseURL; ?>/coming-soon">ECO AROUND THE WORLD</a></li>                          
              </ul>
            </li>
            <li class="drop">
              <a href="<?php echo $this->config->application->baseURL; ?>/#join" id="selected2">
                <div id="menu_icon_training" class="menudiv2">                                    
                  <div class="menuicon2"></div> 
                  <div class="p">JOIN</div>
                </div>
              </a>
              <ul class="sub_menu" id="sub_menu3">
                <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/earth-citizenship">EARTH CITIZENSHIP</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/programs">PROGRAMS</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/coming-soon">EVENTS</a></li>
              </ul>
            </li>
            <li class="drop">
              <a href="<?php echo $this->config->application->baseURL; ?>/#learn" id="selected3">
                <div id="menu_icon_peace_parks" class="menudiv3">                                    
                  <div class="menuicon3"></div> 
                  <div class="p">LEARN</div>
                </div>
              </a>
              <ul class="sub_menu" id="sub_menu3">
                <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/curriculum">CURRICULUM</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/coming-soon">MEDIA LIBRARY</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/support-for-graduates">SUPPORT FOR GRADUATES</a></li>
              </ul>
            </li>
            <li class="drop">
              <a href="<?php echo $this->config->application->baseURL; ?>/#serve" id="selected1">
                <div id="menu_icon_what_is_eco" class="menudiv4">                                    
                  <div class="menuicon4"></div> 
                  <div class="p">SERVE</div>
                </div>
              </a>
              <ul class="sub_menu" id="sub_menu4">
                <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/coming-soon">FIND A HERO</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/coming-soon">CALL HEROES</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/projects">ECO PROJECTS</a></li>
              </ul>
            </li>
            <li class="drop">
              <a href="<?php echo $this->config->application->baseURL; ?>/news" id="selected1">
                <div id="menu_icon_what_is_eco" class="menudiv7">                                    
                  <div class="menuicon7"></div> 
                  <div class="p">NEWS</div>
                </div>
              </a>
              <ul class="sub_menu" id="sub_menu7">
                <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/news/category/upcoming-events">UPCOMING EVENTS</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/news/category/recent-activities">RECENT ACTIVITIES</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/news/category/mindful-living-tips">MINDFUL LIVING TIPS</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/news/category/heroes-stories">HEROES STORIES</a></li>
              </ul>
            </li>
            <li class="drop">
              <a href="http://www.cafepress.com/earthcitizensorganization" target="_blank" id="selected6">
                <div id="menu_icon_support_us" class="menudiv6">                                    
                  <div class="menuicon6"></div> 
                  <div class="p">SHOP</div>
                </div>
              </a>
            </li>
            <li class="drop">
              <a href="<?php echo $this->config->application->baseURL; ?>/donation" id="selected5">
                <div id="menu_icon_support_us" class="menudiv5">                                    
                  <div class="menuicon5"></div> 
                  <div class="p">DONATE</div>
                </div>
              </a>   
              <ul class="sub_menu" id="sub_menu5">
                <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/coming-soon">SIMPLE WAYS TO GIVE</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/ways-of-giving">WAYS OF GIVING</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/project-funds">PROJECT FUNDS</a></li>
              </ul>
            </li>
          </ul>
          <div class="clearfix"></div>
        </nav>
      </div>
      <div class="clearfix"></div>
    </div>  
    <div class="container-fluid"><div class="bluebar"></div></div>    
  </div>    
</div>

<div class="container-fluid">
  <div class="mob-ecologo"  style="width:115px;margin:auto;padding-top:5px;"><a href="<?php echo $this->config->application->baseURL; ?>"><img  class="logo-size" src="/images/template_images/ecologo1.png" style="width:115px;"></a></div>
  <div class="navsticky">
    <div class="mobileMenu mobileMenu2">
      <nav role="navigation" class="navbar navbar-default navbar-static-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="<?php echo $this->config->application->baseURL; ?>" class="navbar-brand"><p>ECO</p></a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="<?php echo $this->config->application->baseURL; ?>/#what-is-eco">WHAT IS ECO<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<?php echo $this->config->application->baseURL; ?>/more-about-eco">MORE ABOUT ECO</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/partners-and-sponsors">PARTNERS AND SPONSORS</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/how-to-start-change">HOW TO START CHANGE</a></li>
              </ul>
            </li>
            <li>
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="<?php echo $this->config->application->baseURL; ?>/#join">JOIN<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/programs">PROGRAMS</a></li>
              </ul>
            </li>
            <li>
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="<?php echo $this->config->application->baseURL; ?>/#learn">LEARN<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/curriculum">CURRICULUM</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/support-for-graduates">SUPPORT FOR GRADUATES</a></li>
              </ul>
            </li>
            <li>
              <a class="btn" href="<?php echo $this->config->application->baseURL; ?>/#serve">SERVE</a>
              <ul class="dropdown-menu">
                <li><a href="<?php echo $this->config->application->baseURL; ?>/news">HEROES STORIES</a></li>
              </ul>
            </li>
            <li>
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="<?php echo $this->config->application->baseURL; ?>/news">NEWS<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<?php echo $this->config->application->baseURL; ?>/news/category/upcoming-events">UPCOMING EVENTS</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/news/category/recent-activities">RECENT ACTIVITIES</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/news/category/mindful-living-tips">MINDFUL LIVING TIPS</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/news/category/heroes-stories">HEROES STORIES</a></li>
              </ul>
            </li>
            <li>
              <a class="btn" href="http://cafepress.com/earthcitizens" target="_blank">SHOP</a>
            </li>
            <li>
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="<?php echo $this->config->application->baseURL; ?>/donation">DONATE<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/project-funds">PROJECT FUNDS</a></li>
                <li><a href="<?php echo $this->config->application->baseURL; ?>/ways-of-giving">WAYS OF GIVING</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid eco-info-green-bar">
  <div class="eco-container menu-bot">
    <div class="row">
      <div class="col-sm-4 toptop1">
        <div class="top-contact" style="text-align:center;">
          <span><i class="fa fa-user"> </i>&nbsp;&nbsp;Earth Citizens Registered: <span ng-bind="userscount"></span></span>
        </div>
      </div>
      <div class="col-sm-4 toptop2">
        <div class="top-contact" style="text-align:center;">
          <span><i class="fa fa-user"> </i>&nbsp;&nbsp;Heroes Trained: <span ng-bind="userscount"></span></span>
        </div>

      </div>
      <div class="col-sm-4 toptop3">
        <div class="top-contact" style="text-align:center;">
          <span><i class="fa fa-user"> </i>&nbsp;&nbsp;Community Hours Served: <span ng-bind="userscount"></span></span>
        </div>
      </div>
    </div>
  </div>
</div>