<div class="eco-container wrapper-proj">
  <div class="row">
    <div class="col-sm-12">
      <a href="#">ECO</a> <a><i class="fa fa-arrow-right"></i></a> 
      <?php if($pageslugs == 'eco-around-the-world'){ ?>
      <a href="/#/whatiseco">WHAT IS ECO</a> <a><i class="fa fa-arrow-right"></i></a> 
      <?php } else{?>
      <a href="/#/#serve">SERVE</a> <a><i class="fa fa-arrow-right"></i></a> 
      <?php }?>
      <?php if($pageslugs == 'heroes-on-duty' || $pageslugs == 'call-hero' ){ ?>
      <a href="/call-heroes">CALL HEROES</a> <a><i class="fa fa-arrow-right"></i></a> 
      <?php }?>
      <a href=""><?php echo $title ?></a> 
    </div>
  </div>
</div>
<div id="atw"> </div>

{{ body }}



<?php 
 /*
 * Form Page Kyben Bogie Rockers
 *
 * @getRender param(foldername, page)
 * @Pages Location /veiws/formpages/ *page*
 */

 $formPage = "formpages"; //Folder Location

 // formPage Value (page-slug => form-page)
 $formPage = array( 
  "eco-around-the-world" => "ecoAroundTheWorld",    //Page Eco Around The World
  "heroes-on-duty"       => "heroesOnCall",         //Page Heroes On Call
  "call-hero"            => "callAhero",            //Page Call A Hero
  // "more-about-eco"       => "",                     //*****\
  // "partners-and-sponsors"=> "",                     //Comabined Name Page (mph)
  // "how-to-start-change"  => "",                     //Page More About ECO, Partners & Supporters, How to Start to Change 
  // "join"                 => "",                     //*****\                
  );

 // Return render page
 echo $this->view->getRender($formPage, $formPage[$pageslugs]); 
 ?>

