
	.all-events a{
	
	color:#528ac2;
	}	
	.all-events .fa{
	
	color:#528ac2;
		
	}
.nav-collapse .nav  li  a:hover{
 color:#528ac2 !important;
}	
.learn a:hover{

 color:#528ac2 !important;  

}


.staff-content .pull-left .span1{background-color: #528ac2 !important;}
.owl-theme .owl-controls .owl-page span{background-color: #528ac2 !important;}
.test-image img{border:2px solid #528ac2;}
.responsive .layout-text .vproject a:hover{ color:#528ac2 !important; }
.controls .active{
			border:2px solid #528ac2;
			color:#528ac2;	
			}
.controls li:hover{
			border:2px solid #528ac2;
			color:#528ac2;	
			}
.navbar-inner .nav li a:hover{
color:#528ac2 !important;	
  box-shadow: inset  0 -2px 3px 0 rgba(0, 0, 0, 0.2) 
	}
.navbar-inner .header1 li a:hover{
	border:2px solid #528ac2 !important;
	
	}
.navbar-inner .header2 li a:hover{
	border-top:2px solid #528ac2 !important;
	
	}	
.navbar-inner .header3 li a:hover{
	border-top:2px solid #528ac2 !important;
	
	}	
.nav-collapse .nav > li > :hover{
background-color:#fff!important;
border-radius:0px !important;
}	
.icon-bar {
background-color: #528ac2 !important;
  
}	
.address ul li .fa{color:#528ac2;}
.social-icon ul li:hover .fa{
			color:#528ac2;	
			}
.donait .container div:hover a{
	color:#528ac2;	
	
	}
.even .container .span6 .even-image{
	border:2px solid #528ac2;
	
	}	
.even .container .span6 .event-title h3:hover{
	
	color:#528ac2;
	}
.even .container .span6:hover .even-content .span4 a{
	
	color:#528ac2;
	}
.even .container .span6 .even-content .span4 a:hover {
	
	color:#528ac2;
	}	
.over .pull-left h1{
	color:#528ac2 !important;
	}		 
		.services .container .span4:hover .ser-icon{
			border:1px solid #528ac2;
			
			}
		.services .container .span4:hover .fa{color:#528ac2;}	
.causes .container .span3 .fa{
		
			color:#528ac2;
			
			}	
.causes .container .span3 a:hover{
				color:#528ac2;	
				}
.donait .container .pull-right a:hover{
			color:#528ac2;	
			}
.help-us h1{
		color:#528ac2;	
		
		}
	.blog-content a:hover{
		color:#528ac2;	
		}
	.blog-content a:hover .fa{
		color:#528ac2;	
		}	

div.progressBar{
	 background: #528ac2;
	 }

.ui-progressbar.middle .ui-progressbar-value {
	 background:#528ac2;
	 }	

 .donate-now a:hover{
		  color:#528ac2;
		  
		  }	
.donat-now .container	.now a:hover{
		color:#528ac2;	
		}
	.colorr{
		color:#528ac2;
		}
.staff-heading .container .pull-right a .fa{
		color:#528ac2;
		
		}	
	.staff-member .container .span3 .member-content .social .pull-left:hover{
		border:1px solid #528ac2;
		}
	.staff-member .container .span3 .member-content .social .pull-left:hover .fa{
		color: #528ac2;
		}
.staff-overlay{
		background:#528ac2;
		opacity:0.2;	
		}	
.upcoming-event .span8 .post-content .post-read:hover{
		background-color:#528ac2;
		border:1px solid #528ac2;
		}
.upcoming-event .span8 .post-content .post-time:hover{
		background-color:#528ac2;
		border:1px solid #528ac2;
		}
.tweets a{
		text-decoration:none;
		font-size:14px;
		font-family: 'Raleway', sans-serif;
		font-weight:normal;	
		color:#528ac2;	
		}
.sidebar .popular-post .pull-left:hover{
		background-color:#528ac2;	
		}
.cause-overlay{
		background:#528ac2;
		
		}
.upcoming-event .cause-grid .span4 	.image-content a:hover{
		color:#528ac2;
		}
.blog-page .container .span8 .post-date .fa{
	
	color:#528ac2;	

	}	
.blog-page .container .span12 .post-date .fa{
	
	color:#528ac2;	

	}		
.blog-page .container .span8 .comment-count .fa{
	
	color:#528ac2;	
	
	}
.blog-page .container .span12 .comment-count .fa{
	
	color:#528ac2;	
	
	}	
.blog-page .container .span8 .blog-post-read:hover{
	background-color:#528ac2;
	border:1px solid #528ac2;	
	}
.blog-page .container .span12 .blog-post-read:hover{
	background-color:#528ac2;
	border:1px solid #528ac2;	
	}	
.pagination ul li:hover{
	border:1px solid #528ac2;
	color:#528ac2;
	cursor:pointer;	
	}
.notfound .container .takeme:hover{
		
		background-color:#528ac2;
		border:2px solid #528ac2;
		}
.contactus .container .span8 form .span4 .submit:hover{
		
		background-color:#528ac2;
		}
.single-blog .container .span8 .leave-reply form .span4 .submit:hover{
		
		background-color:#528ac2;
		}			
.contactus .container .span8 form .span4  label .fa{
		
		
		color:#528ac2;	
		}
.single-blog .container .span8 .leave-reply form .span4 label .fa{
		
		
		color:#528ac2;	
		}		
.contactus .container .contact .fa{
		
		color:#528ac2;
	
		}	
.contactus .container .contact .contact-social .pull-left:hover{
		border:1px solid #528ac2;
		}
	.contactus .container .contact .contact-social .pull-left:hover .fa{
		color:#528ac2;
		}
.single-blog .container .span8 .blog-post .contact-social .pull-left:hover{
		border:1px solid #528ac2;
		}
	.single-blog .container .span8 .blog-post .contact-social .pull-left:hover .fa{
		color:#528ac2;
		}		
.footer .container .coloum2 .pull-left .overlay{
		
		background-color:#528ac2;
	
		}
.footer .container	.coloum4 a:hover{
	color:#528ac2;
	}
.flickerplate ul.flicks>li .flick-title .color{
	color:#528ac2;
	}

.flickerplate .dot-navigation .dot.active {
    background-color: #528ac2;
	opacity:0.4;
}	
.single-blog .container .span8 .blog-post .navigation .pull-left:hover{
	border:1px solid #528ac2;
	 background-color: #528ac2;
	}
.comment-area .comment1 .comment-content .pull-right span a{
	color:#528ac2;
	}	
.some-fact .container .span3:hover .fa{
	color:#528ac2;
}
.ui-progressbar.end .ui-progressbar-value {
	 background:#9ad046; 
	 }		
#home .dropdown-menu li a:hover {
		background:#f6f7f9 !important;
		border-radius:0px !important;
		color:#333333 !important;
		box-shadow:none !important;
		}
#home .dropdown-menu li a{color:#999!important;}	
#home-1 .dropdown-menu li a{color:#999!important;}
#home-11 .dropdown-menu li a{color:#999!important;}
	
#home-1 .dropdown-menu li a:hover {
		background:#f6f7f9 !important;
		border-radius:0px !important;
		color:#333333 !important;
		box-shadow:none !important;
		}
#home-11 .dropdown-menu li a:hover {
		background:#f6f7f9 !important;
		border-radius:0px !important;
		color:#333333 !important;
		box-shadow:none !important;
		}		
.nav-collapse .bottom #home-11 .menu2{border-top:1px solid #528ac2;}	
.nav-collapse .bottom #home-1 .menu2{border-top:1px solid #528ac2;}

.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right{border-top:1px solid #528ac2;}	

.slide2-large-caption span,.slide3-medium span{
	color:#528ac2;
	
	}
.cap1-larg span{
	color:#528ac2 !important;  
	}
.purchase-button:hover a{
	
	color:#528ac2 !important; 
	}	

