





<div class="container-fluid">
    <div class="eco-container" >           
        <div class="pages-404">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center m-b-lg">
                        <span class="">Thank you for joining the ICARE Pledge. You will now receive a newsletter from ECO.</span>
                    </div>
                </div>
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>   



