<div class="bg-light lter b-b wrapper-md ng-scope">
Review
</div>

<div class="panel wrapper">
	<div class="row">
		<div class="col-md-12 b-r b-light no-border-xs">
			<div class="m-b-xs">
				<span class="text-muted m-l-sm pull-right">
					<h1 class="m-n font-thin h3">{[{review.datesent}]}</h1>	
				</span>
				<h1 >{[{review.organization}]}</h1>	
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">Organization’s Tax ID:</div>
					<p>{[{review.taxid}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">Contact Phone Number:</div>
					<p>{[{review.phone}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">Official Address:</div>
					<p>{[{review.address}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">Help Location:</div>
					<p>{[{review.helplocaiton}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">Reasons for needing help:</div>
					<p>{[{review.reasonhelp}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">When you need help:</div>
					<p>{[{review.whyhelp}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">Desired qualification for helpers:</div>
					<p>{[{review.qualification}]}</p>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="modal-footer" ng-hide="process==true">                  
	<button class="btn btn-default" ng-click="cancel()">Close</button>
	<!-- <a ng-click="ok(pageid)"><span class="btn btn-primary" >Yes</span></a> -->
</div>