<a href="" id="uptop"></a>

<div class="panel panel-info fr-panel">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-8">
        Change password.
      </div>
    </div>
  </div>

  <div class="col-sm-12">       
    <p></p>
    <alert ng-repeat="alertspass in alertspass" type="{[{alertspass.type }]}" close="closeAlert($index)">{[{ alertspass.msg }]}</alert> 
    <p>Note: <em>"Please don't share your password to anyone."</em></p>
  </div>
  <div class="col-sm-12" ng-show="changdone == false">
    <div class="form-group">
      <label class="control-label">Current Password <label class="req">*</label></label>            
      <input type="password" name="firstname" class="form-control" ng-model="pass.currentpassword">            
      <div class="line line-dashed b-b line-lg"></div>
    </div>
    <div class="form-group">
      <label class="control-label">New Password <label class="req">*</label></label>            
      <input type="password" name="firstname" class="form-control" ng-model="pass.newpassword">            
      <div class="line line-dashed b-b line-lg"></div>
    </div>
    <div class="form-group">
      <label class="control-label">Re-type New Password <label class="req">*</label></label>            
      <input type="password" name="firstname" class="form-control" ng-model="pass.retypepassword">            
      <div class="line line-dashed b-b line-lg"></div>
    </div>
  </div>

</div>


<footer class="panel-footer text-right bg-light lter">
  <button type="button" class="btn btn-success" ng-click="changepass(pass)" ng-show="changdone == false">Change Password</button>
  <button type="button" class="btn btn-default" ng-click="close()" ng-show="changdone == false" >Cancel</button>
  <button type="button" class="btn btn-default" ng-click="close()" ng-show="changdone == true" >Close</button>
</footer>
