<div class="panel panel-default">

	<div class="panel-heading"><i class="glyphicon glyphicon-warning-sign"></i> Notification</div>
	<div class="panel-body">
		<p>View projects donations?</p>              
	</div>

	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-primary" ng-click="ok(projID)">Yes</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>