<form class="bs-example form-horizontal" name="form" novalidate>
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="modaltitle"></h3>
    </div>
    
    <div class="modal-footer">                  
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()">Delete</button>
    </div>
</form>