<form class="bs-example form-horizontal" name="form" novalidate>

<div id="veil" ng-show="isLoading == true"></div>
	<div id="feedLoading" ng-show="isLoading == true">Saving...</div>
	<div class="modal-header">    
		<div class="row">   
			<div class="col-sm-7"> 
				<label class="label_profile_pic btn btn-default" id="change-picture" ngf-change="prepare(banner)" ngf-select ng-model="banner" ngf-multiple="false" accept="image/*">Change Banner</label>

				<span ng-show="bigImages == true" class="label bg-danger textAt"><i class="fa fa-exclamation-circle"></i> The images you wish to upload is too big. Please resize the images below 2MB and try again.</span>
				<span ng-show="notimage == true" class="label bg-danger textAt"><i class="fa fa-exclamation-circle"></i> Please Upload an Image format. </span>

				<img src="{[{amazonlink}]}/uploads/{[{imgtype}]}/{[{data.foldername}]}/{[{data.img}]}" ng-if="imageselected == false" style="width:100%;">
				<img ngf-src="imgbanner[0]" ng-if="imageselected == true" style="width:100%;">

				<input id="imgID" type="hidden" name="imgID" ng-model="data.imgID" class="form-control">
				<input id="album_id" type="hidden" name="album_id" ng-model="data.album_id" class="form-control">
				<input id="album_name" type="hidden" name="album_name" ng-model="data.album_name" class="form-control">
				<input id="foldername" type="hidden" name="foldername" ng-model="data.foldername" class="form-control">
				<label ng-bind="data.img" ng-if="imageselected == false"></label>
				<label ng-bind="imgname" ng-if="imageselected == true"></label>

				<!-- <img src="{[{amazonlink}]}/uploads/{[{imgtype}]}/{[{data.foldername}]}/{[{data.img}]}" style="width:100%;">   
				<input id="imgID" type="hidden" name="imgID" ng-model="data.imgID" class="form-control">
				<input id="album_id" type="hidden" name="album_id" ng-model="data.album_id" class="form-control">
				<label ng-bind="data.img"></label>    -->		   
			</div>     
			<div class="col-sm-5"> 
				<div class="row">
					<div class="col-sm-6">
						<div class="checkbox">
							<label class="i-checks">
								<input type="checkbox" value="{[{data.showtext}]}" ng-model="data.showtext" ng-checked="data.showtext == 'true'">
								<i></i>
								Display Banner Text?
							</label>
						</div>
					</div>
				</div>

				<div class="line line-dashed b-b line-lg pull-in"></div>

				<div class="row">
					<div class="col-sm-6">
						Text Background:
						<div class="input-group">
							<span class="input-group-btn">
								<label colorpicker="rgba" type="text" ng-model="data.tbgcolor" class="pickcolor" style="background-color: {[{data.tbgcolor}]};"></label>
							</span>
							<input type="text" class="form-control" ng-model="data.tbgcolor" />
						</div>
					</div>
				</div>

				<div class="line line-dashed b-b line-lg pull-in"></div>
				
				<label>Title</label>
				<input id="title" type="text" name="title" ng-model="data.title" class="form-control">
				<div class="row">
					<div class="col-sm-3">
						Font size:
						<select class="form-control" ng-model="data.titlefontsize">
							<option ng-repeat="val in tfsize" value="{[{val.val}]}">{[{val.val}]}</option>
						</select>
					</div>
					<div class="col-sm-5">
						Font color:
						<div class="input-group">
							<span class="input-group-btn">
								<label colorpicker type="text" ng-model="data.tfcolor" class="pickcolor" style="background-color: {[{data.tfcolor}]};"></label>
							</span>
							<input type="text" class="form-control" ng-model="data.tfcolor" />
						</div>
					</div>
				</div>

				<div class="line line-dashed b-b line-lg pull-in"></div>

				<label>Description</label>
				<textarea ng-model="data.description" class="form-control" style="resize:vertical;"></textarea>

				<div class="row">
					<div class="col-sm-3">
						Font size:
						<select class="form-control" ng-model="data.descriptionfontsize">
							<option ng-repeat="val in dfsize" value="{[{val.val}]}">{[{val.val}]}</option>
						</select>
					</div>
					<div class="col-sm-5">
						Font color:
						<div class="input-group">
							<span class="input-group-btn">
								<label colorpicker type="text" ng-model="data.dfcolor" class="pickcolor" style="background-color: {[{data.dfcolor}]};"></label>
							</span>
							<input type="text" class="form-control" ng-model="data.dfcolor" />
						</div>
					</div>
				</div>
				
				<div class="line line-dashed b-b line-lg pull-in"></div>

				<label>Button Name</label>
				<input id="linkname" type="text" name="linkname" ng-model="data.linkname" class="form-control">	
				<label>Link Path</label>   
				<input id="linkpath" type="text" name="linkpath" ng-model="data.linkpath" class="form-control">	 

				

			</div>   	
		</div> 
	</div>
	<div class="modal-footer" ng-hide="process==true">                  
		<button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times-circle"></i> Cancel</button>
		<button class="btn btn-success" type="button" ng-click="save(data,banner)"><i class="fa fa-upload"></i> Save</button>
	</div>
</form>