<div class="panel panel-default">
<form name="form" id="form" class="form-validation ng-pristine ng-invalid ng-invalid-required"  ng-submit="submitc(data,files)">
  <div class="panel-heading">
    <b>Edit Project</b>
  </div>
  <div class="panel-heading">
  <div class="panel wrapper">
  <div class="row">
    <div class="col-md-12 b-r b-light no-border-xs">
      <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">
      <span ng-bind="alert.msg" id="up"></span> </alert>
      <alert ng-repeat="imgAlerts in imgAlerts" type="{[{imgAlerts.type }]}" close="closeAlerts($index)"><span ng-bind="imgAlerts.msg"></span></alert>
    <label class="label_profile_pic btn btn-default" id="change-picture" ngf-change="prepare(files)" ngf-select ng-model="files" ngf-multiple="false" accept="image/*" ng-disabled="loadingg == true">Change Image</label>
    <div style="background: url({[{amzon}]}/uploads/projects/{[{data.projThumb}]}) 0px 0px;width: 100%;height: 300px;background-size: cover; background-position:center center; position: relative; padding-top:50px;" class="file-control">
    </div>
      <div class="m-b-xs">
        <span class="text-muted m-l-sm pull-right">
          <h1 class="m-n font-thin h3">{[{data.datecreated | date:'mediumDate'}]}</h1> 
          <br>
        </span>

      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="col-sm-12">
          <div class="col-sm-12"> 
             <div class="text-muted">Project Title:</div>
               <input id="name" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.projTitle" name="projTitle" ng-disabled="loadingg == true" required="" />
             </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-12"> 
             <div class="text-muted">Slugs:</div>
              <input id="slugs" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.projSlugs" ng-keyup="onslugs(data.projSlugs,data.projID);" ng-change="uniqueslugs(data.projSlugs)" name="projSlugs" ng-disabled="loadingg == true" required="" />
            <label ng-show="validslugs==true" class="control-label p" style="color:#a94442;" ng-cloak>
                    Slugs Already exist.</label>
           
             </div>
        </div>

      <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="col-sm-12">
          <div class="col-sm-12"> 
             <div class="text-muted">Short Description:</div>
             <textarea id="description" class="form-control textarea ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.projShortDesc" name="projShortDesc" ng-disabled="loadingg == true" style="height: 100px;" required=""></textarea>
            <!--  <p class="break">{[{data.description}]}</p> -->
             </div>
          </div>

      <div class="line line-dashed b-b line-lg pull-in"></div>    
      <div class="col-sm-12">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Project Location:</div>
            <!-- <p class="break">{[{data.address1}]}</p> -->
           <select id="country" class="location form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.projLoc" name="projLoc" ng-disabled="loadingg == true">
                  <option ng-repeat="cn in countries" value="{[{cn.name}]}, {[{cn.code}]}">
                  {[{cn.name}]}, {[{cn.code}]} </option>
            </select>
          </div>
        </div>
      </div>

      <div class="line line-dashed b-b line-lg pull-in"></div>    
      <div class="col-sm-12">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Fundraising Duration:</div>
            <div class="radio">
                  <label class="i-checks">
                    <input type="radio" name="type" value="days" ng-model="type" ng-checked="data.projDurType == 'days'"><i></i> Number of Days &nbsp;&nbsp;&nbsp;
                  </label>
                  <label class="i-checks">                
                    <input type="radio" name="type" value="date" ng-model="type"><i></i> End on Date & Time
                  </label>
                </div>
                <div ng-show="data.projDurType == 'days'">
                  <span class="text-muted">1-60 days, we recommend 30 or less</span>
                  <input type="text" class="form-control don5t10n" ng-model="data.projDuration" id="days" name="days" only-digits required>

                </div>
                <div ng-show="data.projDurType == 'date'" class="row">
                  <div class="col-md-6">
                    <span class="text-muted">Select date here.</span>
                    <div class="input-group w-md">               
                      <span class="input-group-btn">
                        <input type="hidden" ng-model="proj.datedue">
                        <input id="date" name="date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="proj.datedue" is-open="opened" datepicker-options="dateOptions"  min-date="minDate" ng-required="true" close-text="Close" type="text" disabled>
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon icon-calendar"></i></button>  
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <br>
                    <timepicker-pop input-time="time1" class="input-group" disabled="disabled"
                    show-meridian='showMeridian' readonly> </timepicker-pop>                  
                  </div>

                </div>
          </div>
        </div>
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>    
      <div class="col-sm-12">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Fundraising Goal:</div>      
            <div class="input-group m-b">
              <span class="input-group-addon">$</span>
              <input type="text" class="form-control don5t10n" ng-model="data.projGoal" name="" only-digits ng-change="limitAmount(data.projGoal)">
            </div>

          </div>
        </div>
      </div>

   <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="col-sm-6 pull-right">
      <div class="col-sm-12" style="text-align:right"> 
      <div class="text-muted">Created By:</div>
       <p><span ng-bind="data.firstname"></span> <span ng-bind="data.lastname"></span></p>
     </div>
   </div>


  
    </div>
  </div>
</div>

</div>
 
  <footer class="panel-footer">
 <div class="loader" ng-show="loadingg">
  <div class="loadercontainer">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span ng-bind="loadingMsg"></span>
  </div>
</div>
    <div class="pull-right">
      <a class="btn btn-default" ng-click="cancel()">Close</a>
       <button type="submit" class="btn btn-success">Save</button>
    </div>
    <div style="clear:both;"></div>
  </footer>
  </form>
</div>