<script language="javascript">
function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
    return false;
    return true;
}

function spacer(item){
  var tmp = "";
  var item_length = item.value.length;
  var item_length_minus_1 = item.value.length - 1;
    for (index = 0; index < item_length; index++){
        if (item.value.charAt(index) != ' '){
            tmp += item.value.charAt(index);
        }else{
            if (tmp.length > 0){
                if (item.value.charAt(index+1) != ' ' && index != item_length_minus_1){
                tmp += item.value.charAt(index);
                } 
            }  
        } 
    }
  item.value = tmp;
}
</script>


<form class="bs-example form-horizontal" name="form" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Member Information</h3>
        <a href="" ng-click="cancel()" class="close-modal-2" ng-hide="process==true"><i class="icon-close"></i></a>
    </div>
    <div class="modal-body" ng-show="process==true">
        <p ng-show="success==false">Updating profile...</p>        
    </div>
    <div class="modal-body" ng-show="process==false">
        <!-- <p ng-show="success==true">Successfully updated.</p>   -->
        <alert ng-show="success==true" type="success">Successfully updated.</alert>        
    </div>
    <div class="modal-body" ng-show="process==false">

        <div class="form-group">
            <label class="col-sm-3 control-label">Username </label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.username" name="username"  required class="form-control" >
                <span class="formerror" ng-show="usernametaken != ''">Username has already been taken.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Firstname </label>
            <div class="col-sm-8">
                <input type="text" name="firstname" ng-model="user.firstname" required class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Last Name </label>
            <div class="col-sm-8">
                <input type="text" name="lastname" ng-model="user.lastname"  required class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-8">
                <input type="email" name="email" ng-model="user.email"  required  class="form-control" disabled="disabled">
                <span class="formerror" ng-show="form.email.$error.email">This is not a valid email</span> <span class="formerror" ng-show="emailtaken != ''">Email already taken.</span> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Birthday</label>
            <div class="col-sm-8" style="padding-top:5px;">
                <br/>
                <div class="row">
                    <div class="col-sm-4">
                        Month: 
                        <select ng-model="user.bmonth" class="form-control m-b" ng-change="changemonth(bmonth)" required>
                            <option value="{[{ data.val }]}" ng-repeat="data in month"> {[{ data.m }]} </option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        Day: 
                        <select ng-model="user.bday" class="form-control m-b" required>
                            <option value="{[{ data.val }]}" ng-repeat="data in day"> {[{ data.val }]} </option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        Year: 
                        <select ng-model="user.byear" class="form-control m-b" required>                       
                            <option value="{[{ data.val }]}" ng-repeat="data in year"> {[{ data.val }]} </option>
                        </select> 
                    </div>
                </div>
                
                
                
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-8">
                <div class="radio">
                    <label class="i-checks" style="padding-right:15px"><input class="form-control" type="radio" value="male" ng-model="user.gender" name="3"><i></i>  Male</label> 
                    <label class="i-checks" style="padding-right:15px"><input class="form-control" type="radio" value="female" ng-model="user.gender" name="4"><i></i> Female</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Zip Code</label>
            <div class="col-sm-8">
                <input type="text" name="zipcode" ng-model="user.zipcode" required class="form-control" >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Location</label>
            <div class="col-sm-8">
                <!-- <span ng-bind="location"></span> -->
                <select ng-model="user.location" class="form-control location" required>
                    <!-- <option value="{[{ location }]}" selected="selected">{[{ location }]}</option> -->
                    <option value="{[{ data.name }]}" ng-repeat="data in countries"> {[{ data.name }]} </option>
                </select>
            </div>
        </div>



        <div class="form-group">
            <label class="col-lg-3 control-label">How did you learn about ECO?</label>
            <div class="col-lg-8" style="padding-top: 8px;">
            <!-- <span ng-bind="howdidyoulearn"></span> -->
                <select class="form-control" ng-model="user.howdidyoulearn" >                                      
                    <option value="{[{ howdidyoulearn }]}" selected="selected">{[{ howdidyoulearn }]}</option>
                    <option value="ECO Event">ECO Event</option>
                    <option value="ECO Program Graduates">ECO Program Graduates</option>
                    <option value="Body &amp; Brain or Dahn Yoga Centers">Body &amp; Brain or Dahn Yoga Centers</option>
                    <option value="Invitation Email">Invitation Email</option>                                        
                </select>
            </div>
        </div>
		
		<div class="form-group" ng-show="user.howdidyoulearn == 'Body &amp; Brain or Dahn Yoga Centers'">
            <label class="col-sm-3 control-label">Center Name</label>
            <div class="col-sm-8">
            <!-- <span ng-bind="centername"></span> -->
                <select class="form-control" ng-model="user.centername" >
                    <option value="{[{ data.centername }]}" ng-repeat="data in dataCentername"> {[{ data.centername }]} </option>
                </select>
            </div>
        </div>

        

        <div class="form-group">
            <label class="col-lg-3 control-label">I would like my friend to become an Earth Citizen as well.</label>
            <div class="col-lg-8">
            <span ng-bind=""></span>
                <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="user.refer" placeholder="Enter friend's email address">
                <span style="font-size: 10px;">Thank you for introducing ECO to your friend. ECO will send them an invitation email.</span>
            </div>
        </div> 

        <div class="line line-dashed b-b line-lg pull-in"></div>        
        
        <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <a ng-click="resetpass()" class="edit-prof">Reset Password?</a>
            </div>
            <div class="col-sm-3">
                <a href="" style="display: block;" ng-click="resendcom(user.email)" ng-if="user.status == 2" >
                    <span class="btn bg-success"><i class="fa fa-mail-reply-all"></i> Resend Email Completion</span>
                </a>
                <a href="" style="display: block;" ng-click="resendcon(user.email)" ng-if="user.status == 0" >
                    <span class="btn bg-success"><i class="fa fa-mail-reply-all"></i> Resend Email Confirmation</span>
                </a> 
            </div>
            <div class="col-sm-3">
            </div>
        </div>


        <div class="panel-heading font-bold">
            <div class="row">
                <div class="col-sm-7">
                    
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer" ng-hide="process==true">                  
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok(user)" ng-disabled="form.user.$invalid">Update</button>
    </div>
</form>