<div class="panel panel-default">

  <div class="panel-heading">
    <i class="icon-folder"></i> Media Gallery
    <a href="" ng-click="cancel()" class="close-modal"><i class="icon-close"></i></a>
  </div>  
    <div class="panel-body">
      <div class="btn-group" ng-init="mediaGallery='images'">
        <label class="btn btn-info ng-valid ng-dirty active" ng-model="mediaGallery" btn-radio="'images'"><icon class="fa fa-file-image-o"> </icon> Images ({[{ imagelength }]})</label>
      </div>
    </div>
  <div class="panel-body panel-main">
    <alert ng-repeat="alert in alertss" type="{[{alert.type }]}" close="closeAlerts($index)">{[{ alert.msg }]}</alert>
    <div class="loader" ng-show="imageloader">
      <div class="loadercontainer">

        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        Uploading your banner please wait...

      </div>

    </div>

    <div ng-show="imagecontent">
      <div class="row">

        <div class="col-sml-12" ng-show="mediaGallery=='images'">
          <div class="dragdropcenter">
            <div ngf-drop ngf-select ng-model="files" ngf-change="upload(files)" class="drop-box"
            ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
            accept="image/*,application/pdf">Drop images here or click to upload</div>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg"></div>

        <div class="col-sm-3" ng-repeat="data in imagelist" ng-show="mediaGallery=='images' || mediaGallery=='all'">

          <input type="hidden" id="" name="id" ng-init="dlt.id=data.id" class="form-control" placeholder="{[{ data.id }]}" ng-model="dlt.id">          
          <input type="hidden" id="title" name="title" class="form-control" value="{[{s3link}]}/uploads/eventsbanner/{[{data.filename}]}" onClick="this.setSelectionRange(0, this.value.length)">

          <!-- for thumbnail -->
          <div class="imagegallerystyle" style="background-image: url('{[{s3link}]}/uploads/eventsbanner/{[{data.filename}]}');" ng-dblclick="selectimg(data.filename)" ng-hide="type == 'clipboard'">
            <a href="" ng-click="deletenewsimg(dlt)" class="closebutton"><i class="fa fa-trash-o"></i></a>
          </div>

          <!-- for clipboard -->
          <div class="imagegallerystyle" style="background-image: url('{[{s3link}]}/uploads/eventsbanner/{[{data.filename}]}');" ng-click="copyimage(data.filename)" ng-show="type == 'clipboard'">
            <a href="" ng-click="deletenewsimg(dlt)" class="closebutton"><i class="fa fa-trash-o"></i></a>
          </div>

        </div>
     </div>
   </div>


 </div>
</div>