<div class="bg-light lter b-b wrapper-md ng-scope">
Review
</div>

<div class="panel wrapper">
	<div class="row">
		<div class="col-md-12 b-r b-light no-border-xs">
			<div style="background: url({[{amzon}]}/uploads/friends/{[{review.image}]}) 0px 0px;width: 100%;height: 300px;background-size: cover; background-position:center center; position: relative; padding-top:50px;" class="file-control">
			</div>
			<div class="m-b-xs">
				<span class="text-muted m-l-sm pull-right">
					<h1 class="m-n font-thin h3">{[{review.date}]}</h1>	
					<br>
				</span>
				<h1 style="word-break: break-word;">{[{review.organization}]}</h1>	
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Address 1:</div>
						<p class="break">{[{review.add1}]}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Address 2:</div>
						<p class="break">{[{review.add2}]}</p>
					</div>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Country:</div>
						<p class="break">{[{review.country}]}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">State:</div>
						<p class="break">{[{review.state}]}</p>
					</div>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">City:</div>
						<p class="break">{[{review.city}]}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Zip/Postal:</div>
						<p class="break">{[{review.zip}]}</p>
					</div>
				</div>
			</div>
			
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Organization Category:</div>
						<p class="break">{[{review.category}]}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Year of Establishment:</div>
						<p class="break">{[{review.year}]}</p>
					</div>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Organization Website Address:</div>
						<p class="break">{[{review.web}]}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Organization Mission Statement:</div>
						<p class="break">{[{review.mission}]}</p>
					</div>
				</div>
			</div>

			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Contact Person:</div>
						<p class="break">{[{review.contactperson}]}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Contact Phone Number:</div>
						<p class="break">{[{review.phone}]}</p>
					</div>
				</div>
			</div>

			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Contact Email Address:</div>
						<p class="break">{[{review.email}]}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="sl-item">
					<div class="m-l">
						<div class="text-muted">Reason For Partnership:</div>
						<p class="break">{[{review.reason}]}</p>
					</div>
				</div>
			</div>
			
		</div>

	</div>
</div>
<div class="modal-footer" ng-hide="process==true">                  
	<button class="btn btn-default" ng-click="cancel()">Close</button>
	<!-- <a ng-click="ok(pageid)"><span class="btn btn-primary" >Yes</span></a> -->
</div>