<div class="panel panel-default">

    <a href="" ng-click="cancel()" class="helper-close-modal"><i class="icon-close"></i></a>
 

<img src="/images/info_images/event_url.png" class="helper-modal">

</div>