
<div class="panel panel-default">
  <div class="panel-heading">
    <span ng-bind="opera"></span> Center
  </div>
  <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>

  <!-- Adding Center -->
  <div ng-if="opera == 'Add'">
    <div class="row wrapper">
      <div class="col-sm-10">         
        <input type="text" id="centername" name="centername" class="form-control" autocomplete="off" ng-model="cn.centername">
      </div>
    </div>
    <div class="table-responsive">
      <footer class="panel-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()"><span ng-bind="cancelBot"></span></button>
        <button type="button" class="btn btn-success" ng-disabled="!cn.centername" ng-click="addcenter(cn)">Add Center</button>
      </footer>
    </div>
  </div>

  <!-- Edit Center -->
  <div ng-if="opera == 'Edit'">
    <div class="row wrapper">
      <div class="col-sm-10">         
        <input type="text" id="centername" name="centername" class="form-control" autocomplete="off" ng-model="cn.centername">
      </div>
    </div>
    <div class="table-responsive">
      <footer class="panel-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()"><span ng-bind="cancelBot"></span></button>
        <button type="button" class="btn btn-success" ng-disabled="!cn.centername" ng-click="updateCenter(cn)">Update Center</button>
      </footer>
    </div>
  </div>

  <!-- Delete Center -->
  <div ng-if="opera == 'Delete'">
    <div class="row wrapper">
      <div class="col-sm-10">         
        Are you sure you want to delete <em>'<span ng-bind="cn.centername"></span>'</em> ?
      </div>
    </div>
    <div class="table-responsive">
      <footer class="panel-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()"><span ng-bind="cancelBot"></span></button>
        <button type="button" class="btn btn-danger" ng-hide="cancelBot == 'Close'" ng-disabled="!cn.centername" ng-click="deleteCenter(cn)">Delete Center</button>
      </footer>
    </div>
  </div>


</div>    
