
<div class="panel panel-success fr-panel notify-box">
  <div class="panel-heading">
    You have 
    <span ng-bind="allNotiCount"></span> 
    <span ng-show="allNotiCount > 1">notifications</span>             
    <span ng-show="allNotiCount == 1">notification</span> 
  </div><br>
  <div class="row">
    <div class="col-sm-5">
      <div class="col-sm-12">
        <div class="input-group">
          <select id="readStatus" class="input-sm form-control ng-pristine ng-valid" ng-model="readStatus">
            <option value="" style="display:none">-Status-</option>
            <option value="1">Read</option>
            <option value="0">Unread</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button" ng-click="search(readStatus)">Go!</button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button" ng-click="refresh()"><i class="icon-refresh"></i></button>
          </span>
        </div>
      </div>
    </div>
</div>
  <div class="panel bg-white notify-box-scroll fr-panel">
    <div class="list-group">
      <div ng-repeat="myAllNotes in myAllNotes">
        <a href="" class="media list-group-item {[{myAllNotes.readStatus | noteUnread}]}" >
          <span class="media-body block m-b-none">
            <span ng-click="clickNotify(agent.username,myAllNotes.projSlugs,myAllNotes.slugs,myAllNotes.noteType,myAllNotes.noteID,'1')" ng-bind="myAllNotes.content"></span><br>
            <small class="text-muted">
              <span ng-show="myAllNotes.noteType == '5'" class="label bg-primary">Project | Donation</span>
              <span ng-show="myAllNotes.noteType == '6'" class="label bg-success">Project | Completed</span>
              <span ng-show="myAllNotes.noteType == '1'" class="label bg-success">Project | Approved</span>
              <span ng-show="myAllNotes.noteType == '3'" class="label bg-danger">Project | Disapproved</span>
              <span ng-show="myAllNotes.noteType == '11'" class="label bg-success">Video | Approved</span>
              <span ng-show="myAllNotes.noteType == '10'" class="label bg-danger">Video | Disapproved</span>
              <span ng-show="myAllNotes.readStatus == '1'" ng-click="markNotify(myAllNotes.noteID,'0')" class="label mark-readed" title="mark as unread"><i class="fa fa-bookmark"></i></span>
              <span ng-show="myAllNotes.readStatus == '0'" ng-click="markNotify(myAllNotes.noteID,'1')" class="label mark-readed" title="mark as read"><i class="fa fa-bookmark-o"></i></span>
              <!-- <span ng-show="myAllNotes.readStatus == '1'" class="mark-readed"><i class="fa fa-check-circle"></i></span> -->
            </small>
            <small class="text-muted pull-right">
              <timer start-time="myAllNotes.timeStarted |charToint">
                <span ng-show="days > 0">
                  <span ng-show="days == 1">a day ago</span>
                  <span ng-show="days > 1">{[{days}]} days ago</span>
                </span>
                <span ng-show="hours > 0 && days == 0">
                  <span ng-show="hours == 1">an hour ago</span>
                  <span ng-show="hours > 1">{[{hours}]} hours ago</span>
                </span>
                <span ng-show="minutes > 0  && hours == 0 && days == 0">
                  <span ng-show="minutes == 1">a minute ago</span>
                  <span ng-show="minutes > 1">{[{minutes}]} minutes ago</span>
                </span>
                <span ng-show="seconds > 0  && minutes == 0 && hours == 0 && days == 0">
                  a seconds ago
                </span>
              </timer>
            </small>
          </span>
        </a>
      </div>    
    </div>
    <!-- <div class="center loadmorebot-wrap">
      <a ng-click="showmore()" ng-show="loadmorebot" class="loadmorebot" href="">Load More</a>
    </div> -->
  </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <div class="input-group pull-right">
            <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="setPage(bigCurrentPage)" style="margin:0px;"></pagination>
          </div> 
        </div>
      </div>
    </div> 
  <footer class="panel-footer text-right bg-light lter">
    <button type="button" class="btn btn-default"  ng-click="close()">Close</button>
  </footer>
</div>
