
<div class="panel panel-success fr-panel">
    <div class="panel-heading">
        My Projects
    </div>        
    <div class="row"> 
      <div class="col-sm-12">        
        <div class="panel-body">
          <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
        </div>
      </div>
    </div>
    <div class="list-group bg-white">
        <div class="list-group-item" ng-repeat="myProj in myProj">
            <div class="row">
                <div class="col-sm-7" ng-show="myProj.projStatus != '2'">
                    <a href="{[{projLink}]}/{[{myProj.projSlugs}]}">
                        <i class="fa fa-leaf"></i> <span ng-bind="myProj.projTitle"></span>
                    </a>
                </div>
                <div class="col-sm-5" ng-show="myProj.projStatus == '2'">
                    <a href="{[{projLink}]}/{[{myProj.projSlugs}]}">
                        <i class="fa fa-leaf"></i> <span ng-bind="myProj.projTitle"></span>
                    </a>
                </div>
                <div class="col-sm-2" ng-show="myProj.projStatus == '2'">
                    <!-- angular-timer -->
                    <timer end-time="myProj.countStart | charToint">
                      <label class="proj-font1">
                        <label ng-show="days != 0">
                          <span class="black" ng-bind="days"></span> days to go
                        </label> 
                        <label  ng-show="days == 0">
                            <span class="black">
                                <span ng-bind="hours"></span>:<span ng-bind="minutes"></span>:<span ng-bind="seconds"></span>
                            </span> hours to go
                        </label> 
                    </label>        
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-xs-5">
                            <label ng-show="myProj.projStatus == '1'" class="label bg-success">ready to publish</label>
                            <label ng-show="myProj.projStatus == '2'" class="label bg-info">Published</label>
                            <label ng-show="myProj.projStatus == '3'" class="label bg-danger">Declined</label>
                            <label ng-show="myProj.projStatus == '4'" class="label bg-dark">Draft</label>
                            <label ng-show="myProj.projStatus == '0'" class="label bg-warning">Submitted</label>
                            <label ng-show="myProj.projStatus == '5'" class="label bg-success">Completed</label>
                        </div>
                        <div class="col-xs-5" ng-show="myProj.date_approved == null">
                            <span ng-bind="myProj.date_created | dateToWord"></span>
                        </div>
                        <div class="col-xs-5" ng-show="myProj.date_approved != null">
                            <span ng-bind="myProj.date_approved | dateToWord"></span>
                        </div>
                        <div class="col-xs-2">
                            <a class="projA" ng-show="myProj.projStatus == '4' || myProj.projStatus == '0' || myProj.projStatus == '3'" ng-click="delete(myProj.projID)" title="delete" href="">
                                <i class="icon-close"></i>
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="panel-footer text-right bg-light lter">
    <div class="input-group pull-left">
      <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="setPage(bigCurrentPage)" style="margin:0px;"></pagination>
   </div>
    <button type="button" class="btn btn-default"  ng-click="close()">Close</button>
</footer>
