 

<link rel="stylesheet" type="text/css" href="/css/soc-icons.css"/>
<link rel="stylesheet" href="/css/template_css/temp_index.css">    
<link rel="stylesheet" href="/css/template_css/projects-style.css">  
<div class="container-fluid">
	<div class="form-group">
		<footer class="panel-footer text-right bg-light lter">

			<button type="button" class="btn btn-success" ng-click="resolution(projID,'1')" ng-if="data.projStatus == '0'">Approve</button>
			<button type="button" class="btn btn-danger"  ng-click="resolution(projID,'3')" ng-if="data.projStatus == '0'">Disapprove</button>
			<label class="tl-content panel bg-success padder" ng-if="data.projStatus == '1'">Approved</label>
			<label class="tl-content panel bg-info padder" ng-if="data.projStatus == '2'">Published</label>
			<label class="tl-content panel bg-danger padder" ng-if="data.projStatus == '3'">Disapproved</label>
			<button type="button" class="btn btn-default"  ng-click="cancel()">Close</button>
		</footer>
	</div>

	<div class="eco-container wrapper-proj">

		
		<div class="row">
			<div class="col-md-9">
				<h5 ng-bind="data.projTitle"></h5>
				<p ng-bind="data.projShortDesc"></p>
				<p class="capitalize">by <a href=""><span ng-bind="data.firstname"></span> <span ng-bind="data.lastname"></span></a></p>
			</div>
			<div class="col-md-3">
			</div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<img class="view-proj-thumb" src="{[{amazonlink}]}/uploads/projects/{[{data.projThumb}]}">      
				<p></p>
				<p class="text-right"><img src="/images/pin.png" width="18"> <span ng-bind="data.projLoc"></span></p>       
				<h4>About this Project</h4>

				<p ng-bind-html="projDesc"></p>
			</div>
			<div class="col-md-3">
				<ul class="num">
					<li>
						<span class="big-num" ng-bind="projdonors"></span>
						<br>
						donors
						<br><br>
					</li>
					<li>
						<span class="big-num">$ <span ng-bind="projdon | putcomma"></span></span><br>
						donated of $<span ng-bind="data.projGoal | putcomma"></span> goal
						<br><br>
					</li>
					<li>
						Project Duration : <span ng-bind="data.projDuration"></span>
					</li>
					<li ng-show="data.projStatus == '2'">
						<!-- angular-timer -->
						<timer end-time="daystogo">
							<span class="big-num">
								<span ng-show="days != 0">{[{days}]}</span>
								<span ng-show="days == 0">{[{hours}]}:{[{minutes}]}:{[{seconds}]}</span>
							</span> <br> 
							<span ng-show="days != 0">days to go</span>
							<span ng-show="days == 0">hours to go</span>            
						</timer>
						<!-- end angular-timer -->
						<br><br>
					</li>    
				</ul>  
				<div class="proj-donate w1"  ng-show="data.projStatus == '2'">          
					<div class="form-group center">               
						<div class="input-group m-b">
							<span class="input-group-addon h big-num">$</span>
							<input type="text" class="form-control h big-num" ng-model="donateAmount" only-digits disabled>
							<span class="input-group-addon h big-num">.00</span>
						</div>
						<button class="btn m-b-xs btn-sm btn-success btn-addon w2" disabled><i class="fa fa-leaf"></i>Donate to this Project</button>
					</div>
				</div>
				<div class="proj-donate w1"  ng-show="data.projStatus == '5'">          
					<div class="form-group center">               
						<div class="input-group m-b">
							<br><br>
							<span class="h big-num">Completed</span>
						</div>
					</div>
				</div>

				<div>  
					<br>
					<div class="line line-dashed b-b line-lg"></div>
					<b> Mailing Address:</b><br>
					<label>
						<span class="f-12"><b>Contact Person:</b></span><br>
						<span ng-bind="data.projCName"></span>
					</label><br>
					<label>
						<span class="f-12"><b>Address 1:</b></span><br>
						<span ng-bind="data.projCAddress1"></span>
					</label><br>
					<label ng-show="data.projCAddress2">
						<span class="f-12"><b>Address 2:</b></span><br>
						<span ng-bind="data.projCAddress2"></span>
					</label><br>
					<label>            
						<span class="f-12"><b>City:</b></span><br>
						<span ng-bind="data.projCCity"></span>
					</label><br>
					<label>            
						<span class="f-12"><b>State:</b></span><br>
						<span ng-bind="data.projCState"></span>
					</label><br>
					<label>            
						<span class="f-12"><b>Zip/Postal Code:</b></span><br>
						<span ng-bind="data.projCZip"></span>
					</label><br>
					<label>            
						<span class="f-12"><b>Country:</b></span><br>
						<span ng-bind="data.projCCountry"></span>
					</label>
				</div>
				
				<div class="for-more" ng-show="data.projWeb || data.facebook || data.youtube || data.twitter || data.google || data.pinterest || data.linkedin || data.tumblr || data.instagram">
					<br><br>
					<b> For more information about this project:</b><br><br>
					<span ng-show="data.projWeb != null">
						Website:<br>
						<a href="{[{data.projWeb}]}" target="_blank">
							<span class="social-link text-word-wrap" ng-bind="data.projWeb"></span>
						</a><br><br>
					</span>
					<span ng-show="data.facebook || data.youtube || data.twitter || data.google || data.pinterest || data.linkedin || data.tumblr || data.instagram">
						Social Media:<br>
						<ul class="soc">
							<li ng-show="data.facebook"><a class="soc-facebook" ng-href="{[{data.facebook}]}" target="_blank" ></a></li>
							<li ng-show="data.youtube"><a class="soc-youtube" ng-href="{[{data.youtube}]}" target="_blank"></a></li>
							<li ng-show="data.twitter"><a class="soc-twitter" ng-href="{[{data.twitter}]}" target="_blank"></a></li>
							<li ng-show="data.google"><a class="soc-google" ng-href="{[{data.google}]}" target="_blank"></a></li>
							<li ng-show="data.pinterest"><a class="soc-pinterest" ng-href="{[{data.pinterest}]}" target="_blank"></a></li>
							<li ng-show="data.linkedin"><a class="soc-linkedin" ng-href="{[{data.linkedin}]}" target="_blank"></a></li>
							<li ng-show="data.tumblr"><a class="soc-tumblr" ng-href="{[{data.tumblr}]}" target="_blank"></a></li>
							<li ng-show="data.instagram"><a class="soc-instagram soc-icon-last" ng-href="{[{data.instagram}]}"></a></li>
						</ul>
					</span>
				</div> 

			</div>
		</div>    


	</div>




</div>