
<script>
	$("#iddiv").hide();
	$("#replyproposal").hide();
	$("#btn2").hide();
	$("#reply").click(function(){
		$("#showproposal").hide();
		$("#btn1").hide();
		$("#replyproposal").show();
		$("#btn2").show();
	});
	$("#cancel").click(function(){
		$("#showproposal").show();
		$("#btn1").show();
		$("#replyproposal").hide();
		$("#btn2").hide();
	});

	
</script>
<form class="bs-example form-horizontal" name="form" novalidate>
	<div class="bg-light lter b-b wrapper-md">


	</div>
	<div class="wrapper-md"  id="showproposal" name="showproposal">
		<div class="panel panel-default">
			<div class="panel-heading"  >
				<b>Sender's Information</b>
			</div>
			<div class="panel-heading"  >
				<div class="row">
					<div class="col-sm-3">
						Name 
					</div>
					<div class="col-sm-9">
						<b>{[{ name }]}</b>
					</div>
					<div class="col-sm-3">
						Email 
					</div>
					<div class="col-sm-9">
						{[{ reply.email }]}
					</div>
					<div class="col-sm-3">
						Company 
					</div>
					<div class="col-sm-9">
						{[{ company }]}
					</div>
					<div class="col-sm-3">
						Date submitted 
					</div>
					<div class="col-sm-9">
						{[{ date }]}
					</div>
				</div>
			</div>
			<div class="row wrapper">
				<div class="panel-heading">
					<b>Proposal Body</b>
				</div>
				<div class="col-sm-12">
					
					{[{ body }]}
				</div>
			</div>
			
			<div class="row wrapper" ng-if="file !== 'Nothing'">
				<div class="panel-heading">
					<a target="_self"  href="http://ecoapi/public/images/proposalsfile/{[{ file }]}" download="[{ file }]}"><span class="btn btn-primary" >Download File</span></a>  {[{ file }]}
				</div>
			</div>

			
			<div class="table-responsive">

			</div>

		</div>
	</div>

	<div class="modal-footer" ng-hide="process==true" id="btn1">                  
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" id="reply" name="reply">Reply</button>		
	</div>
</form>
<!--===reply proposal===-->
<form class="form-validation ng-pristine ng-invalid ng-invalid-required" name="formsubmit" ng-submit="send(reply)">
	<div class="wrapper-md"  id="replyproposal" name="replyproposal"> 
		<div id="iddiv"> <input class="input-sm form-control" type="text" value="{[{ id }]}" name="id" ng-model="reply.proposalid"/></div>
		<div class="panel panel-default">
			<div class="panel-heading"  >
				<b>Reply</b>
			</div>
			<div class="panel-heading"  >
				<div class="row">
					<div class="col-sm-2">
						To 
					</div>
					<div class="col-sm-10">
						<input class="input-sm form-control" type="text" value="{[{ name }]}" ng-model="name" name="name" disabled required="required"/>
					</div> 
					<div class="col-sm-2">
						<br/>Email 
					</div>
					<div class="col-sm-10">
						<br/><input class="input-sm form-control" type="text" value="{[{ reply.email }]}" ng-model="reply.email" name="email" disabled required="required"/>
					</div>
					<div class="col-sm-2">
						<br/>Cc. 
					</div>
					<div class="col-sm-10">
						<br/><input class="input-sm form-control" placeholder="Cc" type="text" name="cc" ng-model="reply.cc"/>
					</div>					
				</div>
			</div>
			<div class="row wrapper">
				<div class="panel-heading">
					<b>Message</b>
				</div>
				<div class="col-sm-12">

					<textarea class="ck-editor" ng-model="reply.messages" name="reply.messages" id="reply.messages" required></textarea>
				</div>
			</div>
			<div class="table-responsive">

			</div>

		</div>
	</div>

	<div class="modal-footer"  id="btn2">
		<label ng-show="process1 == true">Sending message...&nbsp;&nbsp;&nbsp;</label>               
		<label ng-show="process2 == true">Message sent &nbsp;&nbsp;&nbsp;</label>               
		<button class="btn btn-default" type="reset"  id="cancel" ng-show="process == false" name="cancel">Cancel</button>
		<input class="btn btn-primary" type="submit" id="send" name="send" ng-show="process == false" ng-disabled="formsubmit.$invalid" value="Send">
	</div>
</form>