<div class="panel panel-default">

  <div class="panel-heading">
    <i class="fa fa-video-camera"></i> Video Gallery

    <a href="" ng-click="cancel()" class="close-modal"><i class="icon-close"></i></a>

  </div>
  <div class="panel-body panel-main">
    <alert ng-repeat="alert in alertss" type="{[{alert.type }]}" close="closeAlerts($index)">{[{ alert.msg }]}</alert>
    <div class="loader" ng-show="imageloader">
      <div class="loadercontainer">

        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        Saving your video please wait...

      </div>

    </div>

    <div ng-show="imagecontent">
      <div class="row">

        <div class="col-sml-12">
          <div class="input-group savevid">
          <input class="input-sm form-control" placeholder="Paste youre embedded video here..." type="text" ng-model="embedvideo">
            <span class="input-group-btn">
              <button class="btn btn-sm btn-default" ng-click="savevideo(embedvideo)" type="button"><i class="glyphicon glyphicon-save"></i> Save</button>
            </span>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg"></div>

        <div class="col-sm-3 " ng-repeat="data in videolist">
          <div class="col-sm-3 imagegallerystyle mediagallerythumb" style="background-image: url('{[{ data.videourl }]}')" ng-dblclick="ok(data.video)">
            <a href="" ng-click="deletenewsimg(dlt)" class="closebutton"><i class="fa fa-trash-o"></i></a>
            <div class="youtube-play" style="background-image: url(/img/yt.png)"></div>
          </div>
        </div>
     </div>
   </div>


 </div>
</div>