
<div class="modal-header">
	<h3 class="modal-title">Information</h3>
	<a href="" ng-click="cancel()" class="close-modal-2"><i class="icon-close"></i></a>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-12">
			Traning Date: <b>{[{data.trainingDate}]}</b>
		</div>
		<div class="col-sm-12">
			<div class="line line-dashed b-b line-lg"></div>
		</div>
		<div class="col-sm-6">
			<label class="col-sm-12">
				<b>PARTICIPANT INFORMATION</b>
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				Name: <span class="vendor-view">{[{data.userfname}]} {[{data.userlname}]}</span> 
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				Adrress: <span class="vendor-view">{[{data.useraddress}]}</span> 
			</label>
			<div ng-show="data.useraddress2 != null">
				<div class="line line-dashed b-b line-lg"></div>
				<label class="col-sm-12 control-label">
					Adrress 2: <span class="vendor-view">{[{data.useraddress2}]}</span> 
				</label>
			</div>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				City: <span class="vendor-view">{[{data.usercity}]}</span> 
			</label>			
			<div ng-show="data.userstate != null">
				<div class="line line-dashed b-b line-lg"></div>
				<label class="col-sm-12 control-label">
					State: <span class="vendor-view">{[{data.userstate}]}</span> 
				</label>
			</div>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				ZIP/Postal Code: <span class="vendor-view">{[{data.userzipcode}]}</span> 
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				Country: <span class="vendor-view">{[{data.usercountry}]}</span> 
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				Email Address: <span class="vendor-view">{[{data.useremail}]}</span> 
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label" ng-show="data.howdidyoulearn != null">
				How did he/she learn about the HEROES Leadership Training?
			</label>
			<label class="col-sm-12 control-label" ng-show="data.howdidyoulearn != null">
				<span class="vendor-view">{[{data.howdidyoulearn}]}</span> 
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label" ng-show="data.cname != null">
				Center Name: <span class="vendor-view">{[{data.cname}]}</span> 
			</label>
		</div>
		<div class="col-sm-6">
			<label class="col-sm-12">
				<b>BILLING INFORMATION</b>
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				Transaction ID: <span class="vendor-view">{[{data.transactionId}]}</span> 
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				Amount Pay: <span class="vendor-view">$ {[{data.amount}]}</span> 
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				Name: <span class="vendor-view">{[{data.billinginfofname}]} {[{data.billinginfolname}]}</span> 
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				Adrress: <span class="vendor-view">{[{data.billingaddress}]}</span> 
			</label>
			<div ng-show="data.billingaddress2 != null">
				<div class="line line-dashed b-b line-lg"></div>
				<label class="col-sm-12 control-label">
					Adrress 2: <span class="vendor-view">{[{data.billingaddress2}]}</span> 
				</label>
			</div>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				City: <span class="vendor-view">{[{data.billingcity}]}</span> 
			</label>		
			<div ng-show="data.billingstate != null">
				<div class="line line-dashed b-b line-lg"></div>
				<label class="col-sm-12 control-label">
					State: <span class="vendor-view">{[{data.billingstate}]}</span> 
				</label>
			</div>	
			<div ng-show="data.billingprovince != null">
				<div class="line line-dashed b-b line-lg"></div>
				<label class="col-sm-12 control-label">
					Province: <span class="vendor-view">{[{data.billingprovince}]}</span> 
				</label>
			</div>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				ZIP/Postal Code: <span class="vendor-view">{[{data.billingzipcode}]}</span> 
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label">
				Country: <span class="vendor-view">{[{data.billingcountry}]}</span> 
			</label>
			<div class="line line-dashed b-b line-lg"></div>
			<label class="col-sm-12 control-label" ng-show="data.billingemail != null">
				Email Address: <span class="vendor-view">{[{data.billingemail}]}</span> 
			</label>
			<div class="line line-dashed b-b line-lg"></div>	
			<label class="col-sm-12 control-label">
				Timestamp (UTC) : <span class="vendor-view">{[{data.datetimestamp}]}</span>
			</label>	
		</div>	


		<div class="line line-dashed b-b line-lg"></div>
	</div>
</div>
